@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4nhdsh');
  src:  url('../fonts/icomoon.eot?4nhdsh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4nhdsh') format('truetype'),
    url('../fonts/icomoon.woff?4nhdsh') format('woff'),
    url('../fonts/icomoon.svg?4nhdsh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drag:before {
  content: "\e911";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-discount:before {
  content: "\e902";
}
.icon-line-chart:before {
  content: "\e903";
}
.icon-logout:before {
  content: "\e904";
}
.icon-man:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-minus:before {
  content: "\e907";
}
.icon-money-bag:before {
  content: "\e908";
}
.icon-move:before {
  content: "\e909";
}
.icon-online-shop-cart:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-price-tag:before {
  content: "\e90c";
}
.icon-ring:before {
  content: "\e90d";
}
.icon-settings:before {
  content: "\e90e";
}
.icon-stack-overflow:before {
  content: "\e90f";
}
.icon-user:before {
  content: "\e910";
}
