<h1>ADMISSION ENTRY</h1>
<div class="row">
	<div class="col-md-12">
		
		<div class="form-group">
			<label>Application No</label>
			<input class="form-control" type="text" name="applno" ng-model="searchAppnoData.applno">
		</div>


		<div class="form-group">
			<label>Application For<font color="red">**</font></label>
			<label class="label-error-message" ng-bind="saleAppforMsg" ng-show="showAppForErr"></label>
			<select class="form-control" ng-model="searchAppnoData.appfor" required>
				<option>Select Application For</option>
				<option>TODDLER PROGRAM</option>
				<option>PRE-KG</option>
				<option>KG1</option>
				<option>KG2</option>
				</select>
		</div>
     
		<div class="form-group">
			<label>Academic Year<font color="red">**</font></label>
			<label class="label-error-message" ng-bind="academicyearMsg" ng-show="showAcademicYearErr"></label>
			<select class="form-control" ng-model="searchAppnoData.academicyear" required>
				<option>Select Academic Year</option>
				<option>2017-2018</option>
				<option>2018-2019</option>
				<option>2019-2020</option>
				<option>2020-2021</option>
				</select>
		</div>

<!-- 			<input class="form-control" type="text" name="applicationno" ng-model="admissionplayschooldata.applicationno">
 -->		 	
		<div class="form-group">	
		<div class="text-right">

			<input type="button" ng-click="searchAppNo()" class="btn btn-default"  value="SEARCH">
		</div>
		</div>
		<form name="admissionplayschoolform" ng-submit="admissionPlaySchoolSubmit()" novalidate class="form-validation">
			<ul class="steps">
				<li ng-class="{'active':activestep == 1}"><a href="javascript:void(0)"><span class="stepscount">1</span></a></li>
				<li ng-class="{'active':activestep == 2}"><a href="javascript:void(0)"><span class="stepscount">2</span></a></li>
				<li ng-class="{'active':activestep == 3}"><a href="javascript:void(0)"><span class="stepscount">3</span></a></li>
			</ul>
			<div class="row">
				<div class="col-md-12">		
					<div class="stepscontent" id="step1" ng-show="activestep == 1">




						<div class="form-group">
							<label>Application No</label>
							<label class="label-error-message" ng-bind="ApplicationNoErrMsg" ng-show="showApplicationNoErr"></label>
							<input class="form-control" type="text" name="applno" ng-model="admissionplayschooldata.applno"  required ng-disabled="true">
						</div>

						<div class="form-group">
							<label>Application For</label>
							<input class="form-control" type="text" name="appfor" ng-model="admissionplayschooldata.appfor" required ng-disabled="true">
						</div>

						<div class="form-group">
							<label>Candidate's First Name</label>
							<input class="form-control" type="text" name="candfirstname" ng-model="admissionplayschooldata.candfirstname" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Candidate's Middle Name</label>
							<input class="form-control" type="text" name="candmiddlename" ng-model="admissionplayschooldata.candmiddlename" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Candidate's Last Name</label>
							<input class="form-control" type="text" name="candlastname" ng-model="admissionplayschooldata.candlastname" required ng-disabled="true">
						</div>

						<div class="form-group">
							<label>Date of Birth</label>
							<input class="form-control" type="text" name="dateofbirth" ng-model="admissionplayschooldata.dateofbirth" required ng-disabled="true" >
						</div>
						<div class="form-group">
							<label>Age</label>
							<input class="form-control" type="text" name="age" ng-model="admissionplayschooldata.age" required ng-disabled="true"> 
						</div>

						<div class="form-group">
							<label>Gender</label>
							<input class="form-control" type="text" name="gender" ng-model="admissionplayschooldata.gender" required ng-disabled="true">
						</div>

						<div class="form-group">
							<label>Father's Name</label>
							<input class="form-control" type="text" name="candfathername" ng-model="admissionplayschooldata.candfathername" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Mother's Name</label>
							<input class="form-control" type="text" name="candmothername" ng-model="admissionplayschooldata.candmothername" required ng-disabled="true">
						</div>
						
						
						<div class="form-group">
							<label>Present Address</label>
							<input class="form-control" type="text" name="presentaddress1" ng-model="admissionplayschooldata.presentaddress1" required ng-disabled="true">
							
						</div>
						<div class="form-group">
							<label>Second Address</label>
							<input class="form-control" type="text" name="presentaddress2" ng-model="admissionplayschooldata.presentaddress2" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Area/City</label>
							<input class="form-control" type="text" name="presentarea" ng-model="admissionplayschooldata.presentarea" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>PinCode</label>
							<input class="form-control" type="text" name="presentpincode" ng-model="admissionplayschooldata.presentpincode" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>State</label>
							<input class="form-control" type="text" name="presentstate" ng-model="admissionplayschooldata.presentstate" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Father's Mobile Number</label>
							<input class="form-control" type="text" name="fathersmobileno" ng-model="admissionplayschooldata.fathersmobileno" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Father's Alternative Mobile Number</label>
							<input class="form-control" type="text" name="fathersaltmobno" ng-model="admissionplayschooldata.fathersaltmobno" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Mother's Mobile Number</label>
							<input class="form-control" type="text" name="mothersmobileno" ng-model="admissionplayschooldata.mothersmobileno" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Mother's Alternative Mobile Number</label>
							<input class="form-control" type="text" name="mothersaltmobileno" ng-model="admissionplayschooldata.mothersaltmobno" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Father's Email</label>
							<input class="form-control" type="text" name="fathersemail" ng-model="admissionplayschooldata.fathersemail" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Mother's E-mail</label>
							<input class="form-control" type="text" name="mothersemail" ng-model="admissionplayschooldata.mothersemail" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Reference</label>
							<input class="form-control" type="text" name="reference" ng-model="admissionplayschooldata.reference" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Remarks</label>
							<input class="form-control" type="text" name="remarks" ng-model="admissionplayschooldata.remarks" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Academic Year</label>
							<input class="form-control" type="academicyear" name="remarks" ng-model="admissionplayschooldata.academicyear" required ng-disabled="true" >
						</div>

							

						

						<div class="text-right">
							<input  type="button" class="btn btn-primary" value="NEXT" ng-click="gotostep(2)">
						</div>





					</div>






					<div class="stepscontent" id="step2" ng-show="activestep == 2">

						
						<div class="form-group">
							<label>Father's Occupation</label>
							<label class="label-error-message" ng-bind="fathersOccupationErrMsg" ng-show="showFathersOccupationErr"></label>
							<input class="form-control" type="text" name="fathersoccupation" ng-model="admissionplayschooldata.fathersoccupation">
						</div>					
						<div class="form-group">
							<label>Father's Office Name</label>
							<label class="label-error-message" ng-bind="fathersOfficeNameErrMsg" ng-show="showfathersOfficeNameErr"></label>
							<input class="form-control" type="text" name="fathersofficename" ng-model="admissionplayschooldata.fathersofficename">
						</div>
						<div class="form-group">
							<label>Father's Office Address Line1</label>
							<label class="label-error-message" ng-bind="fathersOffAdd1ErrMsg" ng-show="showfathersOffAdd1Err"></label>
							<input class="form-control" type="text" name="fathersofficeaddress1" ng-model="admissionplayschooldata.fathersofficeaddress1">
						</div>
						<div class="form-group">
							<label>Father's Office Address Line2</label>
							
							<input class="form-control" type="text" name="fathersofficeaddress2" ng-model="admissionplayschooldata.fathersofficeaddress2">
						</div>
						<div class="form-group">
							<label>Father's Office Area / City</label>
							<label class="label-error-message" ng-bind="fathersOffAreaErrMsg" ng-show="showfathersOffAreaErr"></label>
							<input class="form-control" type="text" name="fathersofficearea" ng-model="admissionplayschooldata.fathersofficearea">
						</div>
						<div class="form-group">
							<label>Father's Office Pincode</label>
							<label class="label-error-message" ng-bind="fathersOffPinCodeErrMsg" ng-show="showFathersOffPinCodeErr"></label>
							<input class="form-control" type="text" name="fathersofficepincode" ng-model="admissionplayschooldata.fathersofficepincode" allow-only-numbers required>
						</div>
						<div class="form-group">
							<label>Father's Office State</label>
							<label class="label-error-message" ng-bind="fathersOffStateErrMsg" ng-show="showFathersOffStateErr"></label>
							<input class="form-control" type="text" name="fathersofficestate" ng-model="admissionplayschooldata.fathersofficestate" ng-init="admissionplayschooldata.fathersofficestate='TamilNadu'" ng-disabled="true"  required>
						</div>
						<div class="form-group">
							<label>Father's Office Phone Number</label>

							<input class="form-control" type="text" name="fathersofficephoneno" ng-model="admissionplayschooldata.fathersofficephoneno" allow-only-numbers>
						</div>
						<div class="form-group">
							<label>Father's Office Alternative Phone Number</label>
							<input class="form-control" type="text" name="fathersofficealtphoneno" ng-model="admissionplayschooldata.fathersofficealtphoneno" allow-only-numbers>
						</div>
						<div class="form-group">
							<label>Father's Office Extension No if Any</label>
							<input class="form-control" type="text" name="fathersoffficeextensionno" ng-model="admissionplayschooldata.fathersoffficeextensionno " allow-only-numbers>
						</div>

						<div class="form-group">
							<label>Mother's Occupation</label>
							<input class="form-control" type="text" name="mothersoccupation" ng-model="admissionplayschooldata.mothersoccupation">
						</div>					
						<div class="form-group">
							<label>Mother's Office Name</label>
							<input class="form-control" type="text" name="mothersofficename" ng-model="admissionplayschooldata.mothersofficename">
						</div>
						<div class="form-group">
							<label>Mother's Office Address Line1</label>
							<input class="form-control" type="text" name="mothersofficeaddress1" ng-model="admissionplayschooldata.mothersofficeaddress1">
						</div>
						<div class="form-group">
							<label>Mother's Office Address Line2</label>
							<input class="form-control" type="text" name="mothersofficeaddress2" ng-model="admissionplayschooldata.mothersofficeaddress2">
						</div>
						<div class="form-group">
							<label>Mother's Office Area / City</label>
							<input class="form-control" type="text" name="mothersofficearea" ng-model="admissionplayschooldata.mothersofficearea">
						</div>
						<div class="form-group">
							<label>Mother's Office Pincode</label>
							<input class="form-control" type="text" name="mothersofficepincode" ng-model="admissionplayschooldata.mothersofficepincode" allow-only-numbers>
						</div>
						<div class="form-group">
							<label>Mother's Office State</label>
							<input class="form-control" type="text" name="mothersofficestate" ng-model="admissionplayschooldata.mothersofficestate" ng-init="admissionplayschooldata.mothersofficestate='TamilNadu'" ng-disabled="true"  required>
						</div>
						<div class="form-group">
							<label>Mother's Office Phone Number</label>
							<input class="form-control" type="text" name="mothersofficephoneno" ng-model="admissionplayschooldata.mothersofficephoneno" allow-only-numbers>
						</div>
						<div class="form-group">
							<label>Mother's Office Alternative Phone Number</label>
							<input class="form-control" type="text" name="mothersofficealtphoneno" ng-model="admissionplayschooldata.mothersofficealtphoneno" allow-only-numbers>
						</div>
						<div class="form-group">
							<label>Mother's Office Extension No if Any</label>
							<input class="form-control" type="text" name="mothersofficeextensionno" ng-model="admissionplayschooldata.mothersofficeextensionno " allow-only-numbers>
						</div>
						<div class="form-group">
							<label>Siblings if any</label>
							<label class="label-error-message" ng-bind="siblingsErrMsg" ng-show="showSiblingsErr"></label>
							<select class="form-control" ng-model="admissionplayschooldata.siblings" required >
								<option>Select Siblings</option>
								<option>Yes</option>
								<option>No</option>
								</select>
						</div>
						<div class="form-group">
							<label>Sibling Name</label>
							<input class="form-control" type="text" name="siblingname" ng-model="admissionplayschooldata.siblingname " required>
						</div>
						<div class="form-group">
							<label>Sibling Date of Birth</label>
							<input class="form-control" type="text" name="siblingdob" ng-model="admissionplayschooldata.siblingdob " required>
						</div>
						<div class="form-group">
							<label>Sibling Age</label>
							<input class="form-control" type="text" name="siblingage" ng-model="admissionplayschooldata.siblingage " ng-init="admissionplayschooldata.siblingage='0.0'" required >
						</div>
						<div class="form-group">
							<label>Medication being taken by the Child</label>
							<input class="form-control" type="text" name="medicaldetails" ng-model="admissionplayschooldata.medicaldetails " required>
						</div>
						<div class="form-group">
							<label>Allergies if any</label>
							<input class="form-control" type="text" name="allergies" ng-model="admissionplayschooldata.allergies " required>
						</div>

						<div class="text-right">
							<input type="button" class="btn btn-default" ng-click="gotostep(1)" value="BACK">
							<input type="button" class="btn btn-primary" value="NEXT" ng-click="gotostep(3)">
						</div>





					</div>





					<div class="stepscontent" id="step3" ng-show="activestep == 3">
						<div class="form-group">
							<label>Fathers Date of Birth<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="fathersDobErrMsg" ng-show="showFathersDobErr"></label>
							<input class="form-control" type="text" name="fathersdob" ng-model="admissionplayschooldata.fathersdob">
						</div>
						<div class="form-group">
							<label>Mothers Date of Birth<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="mothersDobErrMsg" ng-show="showMothersDobErr"></label>
							<input class="form-control" type="text" name="mothersdob" ng-model="admissionplayschooldata.mothersdob">
						</div>
						<div class="form-group">
							<label>Parents Wedding Date<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="parentsWedDayErrMsg" ng-show="showParentsWedDayErr"></label>
							<input class="form-control" type="text" name="parentsweddingdate" ng-model="admissionplayschooldata.parentsweddingdate">
						</div>
						<div class="form-group">
							
							<label>Religion<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="religionErrMsg" ng-show="showReligionErr"></label>
							<select class="form-control" ng-model="admissionplayschooldata.religion" required >
								<option>Select Siblings</option>
								<option>Hindu</option>
								<option>Christian</option>
								<option>Muslim</option>
								</select>
						</div>

						<div class="form-group">
							<label>Guardian / Child's Pickup Person Name<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="pickupPersonNameErrMsg" ng-show="showPickupPersonNameErr"></label>
							<input class="form-control" type="text" name="pickuppersonname" ng-model="admissionplayschooldata.pickuppersonname">
						</div>

						<div class="form-group">
							<label>Guardian / Child's Pickup Person Contact Number<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="pickuppersoncontactNoErrMsg" ng-show="showPickuppersonContactnoErr"></label>
							<input class="form-control" type="text" name="pickuppersoncontactno" ng-model="admissionplayschooldata.pickuppersoncontactno" allow-only-numbers required>
						</div>
						<div class="form-group">
							<label>Guardian / Child's Pickup Person Alternative Contact Number</label>
							<label class="label-error-message" ng-bind="pickupPersonaltnoErrMsg" ng-show="showPickupPersonAltnoErr"></label>
							<input class="form-control" type="text" name="pickuppersonaltcontactno" ng-model="admissionplayschooldata.pickuppersonaltcontactno" allow-only-numbers>

						</div>
						<div class="form-group">
							<label>Select Guardians / Child's Pickup Person Relationship<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="pickuppersonrelationshipErrMsg" ng-show="showPickuppersonrelationshipErr"></label>
							<select class="form-control" ng-model="admissionplayschooldata.pickuppersonrelationship">
								<option>Select Relationship</option>
								<option>GRAND FATHER</option>
								<option>GRAND MOTHER</option>
								<option>UNCLE</option>
								<option>AUNTY</option>
								<option>DRIVER</option>
								<option>GUARDIAN</option>
								</select>
						</div>
						<div class="form-group">
							<label>Admission Date<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="admissionDateErrMsg" ng-show="showAdmissionDateErr"></label>
							<input class="form-control" type="text" name="admissiondate" ng-model="admissionplayschooldata.admissiondate" required>
						</div>

						<div class="form-group">
							<label>Admission Status<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="admissionStatusErrMsg" ng-show="showAdmissionStatusErr"></label>
							<select class="form-control" ng-model="admissionplayschooldata.admissionstatus" required ng-change = "fetchlasttoddlerprogramno()">
								<option>Select Admission Status</option>
								<option>Admitted</option>
								<option>Waiting List</option>
								</select>
						</div>
						<div class="form-group">
							<label>Register Number<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>
							<input class="form-control" type="text" name="registernumber" ng-model="admissionplayschooldata.registernumber" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Select Section<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="sectionErrMsg" ng-show="showSectionErr"></label>
							<select class="form-control" ng-model="admissionplayschooldata.section">
								<option>Select Section</option>
								<option>SECTION - A</option>
								<option>SECTION - B List</option>
								</select>
						</div>

						<div class="form-group">
							<label>Select Transport Mode<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="transportErrMsg" ng-show="showTransportErr"></label>
							<select class="form-control" ng-model="admissionplayschooldata.transport" ng-change="schoolvansetting()">
								<option>Select Route</option>
								<option>PRIVATE</option>
								<option>SCHOOL VAN</option>
							</select>
						</div>
						<div class="form-group">
							<label>Select Stage<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="stageErrMsg" ng-show="showStageErr"></label>
							<select class="form-control" ng-model="admissionplayschooldata.transportstage" ng-disabled="admissionplayschooldata.transport == 'PRIVATE'">
								<option>Select Stage</option>
								<option>NO SCHOOL BUS</option>
								<option>STAGE - I</option>
								<option>STAGE - II</option>
								<option>STAGE - III</option>
								<option>NO SCHOOL VAN</option>

								</select>
						</div>
						<div class="form-group">
							<label>Transport Fees Method</label>
							<label>Transprot Fees Method<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="transportfeesmethodErrMsg" ng-show="showTransportFeesMethodErr"></label>
							<select class="form-control" ng-model="admissionplayschooldata.transportfeesmethod" ng-disabled="admissionplayschooldata.transport == 'PRIVATE'">
								<option>Select Transport Fees Payment Method</option>
								<option>Monthly</option>
								<option>Termly</option>
								<option>Yearly</option>
								<option>Not Applicable</option>
								</select>
						</div>
						<div class="form-group">
							<label>Registration Fees<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="registrationFeesErrMsg" ng-show="showRegistrationFeesErr"></label>
							<input class="form-control" type="text" name="registrationfees" ng-model="admissionplayschooldata.registrationfees" allow-only-numbers required ng-disabled="true">
						</div>

						<div class="form-group">
							<label>Material Kit Fees<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="matierialkitFeesErrMsg" ng-show="showMaterilaKitFeesErr"></label>
							<input class="form-control" type="text" name="materialkitfees" ng-model="admissionplayschooldata.materialkitfees" allow-only-numbers required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Activity Fees<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="activityFeesErrMsg" ng-show="showActivityFeesErr"></label>
							<input class="form-control" type="text" name="activityfees" ng-model="admissionplayschooldata.activityfees" allow-only-numbers ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Tuition Fees<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="tuitionFeesErrMsg" ng-show="showTuitionFeesErr"></label>
							<input class="form-control" type="text" name="tuitionfees" ng-model="admissionplayschooldata.tuitionfees" allow-only-numbers ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Total Fees<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="totalFeesErrMsg" ng-show="showTotalFeesErr"></label>
							<input class="form-control" type="text" name="totalfees" ng-model="admissionplayschooldata.totalfees" allow-only-numbers required ng-disabled="true">
						</div>

						<div class="form-group">
							<label>Installment1 Fees<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="installment1ErrMsg" ng-show="showInstallment1FeesErr"></label>
							<input class="form-control" type="text" name="installment1fees" ng-model="admissionplayschooldata.installment1fees" allow-only-numbers ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Installment1 Due Date <font color="red">**</font></label>
							<label class="label-error-message" ng-bind="installment1DueDateErrMsg" ng-show="showinstallment1DueDateErr"></label>
							<input class="form-control" type="text" name="installment1duedate" ng-model="admissionplayschooldata.installment1duedate" required ng-disabled="true">
						</div>

						<div class="form-group">
							<label>Installment2 Fees<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="installment2ErrMsg" ng-show="showInstallment2FeesErr"></label>
							<input class="form-control" type="text" name="installment2fees" ng-model="admissionplayschooldata.installment2fees" allow-only-numbers ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Installment2 Due Date <font color="red">**</font> </label>
							<label class="label-error-message" ng-bind="installment2DueDateErrMsg" ng-show="showinstallment2DueDateErr"></label>
							<input class="form-control" type="text" name="installment2duedate" ng-model="admissionplayschooldata.installment2duedate" required ng-disabled="true">
						</div>
						<div class="form-group">
							<label>Transport Fees<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="transportFeesErrMsg" ng-show="showTransportFeesErr"></label>
							<input class="form-control" type="text" name="transportfees" ng-model="admissionplayschooldata.transportfees" allow-only-numbers required  ng-disabled="admissionplayschooldata.transport == 'PRIVATE'">
						</div>
						<div class="form-group">
							<label>Login User</label>
							<input class="form-control" type="text" name="loginuser" ng-model="admissionplayschooldata.loginuser">
						</div>
						<div class="form-group">
							<h4><label style="color: #ff6600">Grand Total Fees for First Installment</label></h4>
							<label>Grand Total Fees for First Installment<font color="red">**</font></label>
							<label class="label-error-message" ng-bind="grandTotalFeesErrMsg" ng-show="showGrandTotalFeesErr"></label>
							<h3 style="color: #ff6600"><label><strong>Rs.{{ (admissionplayschooldata.totalfees*1) + (admissionplayschooldata.transportfees*1) }}</strong></label></h3>
							<!-- <input class="form-control" type="text" name="grandtotalfees" ng-model="(admissionplayschooldata.totalfees|number)+(admissionplayschooldata.transportfees|number)" allow-only-numbers required> -->
						</div>


						

						<div class="text-right">
							<input type="button" class="btn btn-default" ng-click="gotostep(2)" value="BACK">
							<input type="submit" class="btn btn-primary" value="SAVE">
						</div>


					</div>
					

						
				</div>
			</div>
			
		</form>
	</div>
</div>
