<h1>ADMISSION STATUS PLAYSCHOOL</h1>
<div class="row">
	<div class="col-md-12">
		<form name="admissionstatusplayschoolform" ng-submit="getAdmissionStatusPlaySchoolSubmit()" novalidate>
			<div class="row student-form">
				<div class="col-md-6">
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="entrydate" ng-model="getAdmissionStatusManagementData.entrydate" required>
					</div>
					<div class="form-group">
						<label>Enter Day</label>
						<input class="form-control" type="text" name="entryday" ng-model="getAdmissionStatusManagementData.entryday" required>
					</div>

					<div class="form-group">
						<label>Number of Students Admitted</label>
						
					</div>

					
				</div>
			</div>
		</form>
	</div>
</div>


<br/>
<br/>
<br/>


<table>
	<tr>
		<th>S.No.</th>
		<th>TODDLER PROGRAM</th>
		<th>PREKG</th>
		<th>KG1</th>
		<th>KG2</th>
	</tr>


	<tr ng-repeat= "student in studentList">
		<td>{{$index}}</td>
		<td>{{student.ToddlerCount}}</td>
		<td>{{student.PrekgCount}}</td>
		<td>{{student.KG1Count}}</td>
		<td>{{student.KG2Count}}</td>
	</tr>
</table>

<br/>
<br/>
<br/>
<button ng-click="" class="btn btn-primary">VIEW TODDLER PROGRAM ADMISSION DETAIL</button>
<button ng-click="" class="btn btn-primary">VIEW PREKG ADMISSION DETAIL</button>
<button ng-click="" class="btn btn-primary">VIEW KG1 ADMISSION DETAIL</button>
<button ng-click="" class="btn btn-primary">VIEW KG2 ADMISSION DETAIL</button>
<button ng-click="" class="btn btn-primary">CANCEL</button>
