<h1>APPLICATION FOLLOW UP</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="applicationfollowupform" ng-submit="applicationFollowUpSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="currentdate" ng-model="applicationfollowupdata.currentdate">
					</div>
					<div class="form-group">
						<label>Enter Enquiry No</label>
						<input class="form-control" type="text" name="enquiryNo" ng-model="applicationfollowupdata.enquiryNo">
					</div>
					<div class="form-group">	
					<div class="text-right">
						<input type="button" class="btn btn-default" value="SEARCH">
					</div>
					</div>

					<div class="form-group">
						<label>Enter Application No</label>
						<input class="form-control" type="text" name="applicationno" ng-model="applicationfollowupdata.applicationno">
					</div>

					<div class="form-group">	
					<div class="text-right">
						<input type="button" class="btn btn-default" value="SEARCH">
					</div>
					</div>

					<div class="form-group">
						<label>Enter Candidate Name</label>
						<input class="form-control" type="text" name="candidatename" ng-model="applicationfollowupdata.candidatename">
					</div>
					<div class="form-group">
						<label>Enter Father's Name</label>
						<input class="form-control" type="text" name="fathername" ng-model="applicationfollowupdata.fathername">
					</div>
					<div class="form-group">
						<label>Enter Mobile Number</label>
						<input class="form-control" type="text" name="mobileno" ng-model="applicationfollowupdata.mobileno">
					</div>

					<div class="form-group">
						<label>Enter Alternative Mobile Number</label>
						<input class="form-control" type="text" name="alternativeMobileno" ng-model="applicationfollowupdata.alternativeMobileno">
					</div>
					<div class="form-group">
						<label>Enter Preferred Course</label>
						<input class="form-control" type="text" name="preferredCourse" ng-model="applicationfollowupdata.preferredCourse">
					</div>
					<div class="form-group">
						<label>Enter Willingness</label>
						<input class="form-control" type="text" name="willingness" ng-model="applicationfollowupdata.willingness">
					</div>
					<div class="form-group">
						<label>Enter Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="applicationfollowupdata.loginuser">
					</div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>