<head>
<link href="css/style.css" rel="stylesheet">
</head>
<h1>APPLICATION SALE SCHOOL</h1>
<div class="row">
	<div class="col-md-12">

<!-- 		<div class="form-group">
			<label>Application No</label>
			<input class="form-control" type="text" name="applno" ng-model="searchAppnoData.applno">
		</div>
		<div class="form-group">	
		<div class="text-right">

			<input type="button" ng-click="searchAppNo()" class="btn btn-default form-button"  value="SEARCH">
		</div>
		</div>
 -->
		<form name="schoolapplicationsaleform" ng-submit="schoolApplicationSaleSubmit()" novalidate class="form-validation">
			<div class="row">
				<div class="col-md-6">					
					<!-- <div class="form-group">
						<label>Category<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="categoryErrMsg" ng-show="showCategoryErr"></label>
						<select class="form-control" ng-model="playschoolapplicationsaledata.category" required ng-change = "autogenerate()">
							<option>Select Category</option>
							<option>Application Sale</option>
							<option>Enquiry</option>
							</select>
					</div> -->
					<div class="form-group">
						<label>Application No.<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="applnNumberErrMsg" ng-show="showApplnErr"></label>
						<input class="form-control" type="text" ng-model="schoolapplicationsaledata.applicationnumberonly" required>
						<span ng-if="schoolapplicationsaledata.applicationnumberonly">
						Your generated application number is <span class="boldcoloredtext">{{schoolapplicationsaledata.applno}}</span>
						</span>
						<input class="form-control" type="hidden" name="applno" ng-model="schoolapplicationsaledata.applno">
					</div>
					<div class="form-group">
						<label>Sale Date<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="saleDateErrMsg" ng-show="showSaleDateErr"></label>
						<p class="input-group calendar-input">
							<input type="text" name="saledate" class="form-control" uib-datepicker-popup="{{format}}" ng-focus="open1(popup1)" is-open="popup1.opened" ng-model="schoolapplicationsaledata.saledate" datepicker-options="dateOpenOptions" ng-required="true" close-text="Close" readonly />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open1(popup1)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
          			</div>

					<div class="form-group">
						<label>Application For<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="saleAppforMsg" ng-show="showAppForErr"></label>
						<select class="form-control" ng-model="schoolapplicationsaledata.appfor" required>
							<option>Select Application For</option>
							<option>TODDLER PROGRAM</option>
							<option>PRE-KG</option>
							<option>KG1</option>
							<option>KG2</option>
							<option>I STD</option>
							<option>II STD</option>
							<option>III STD</option>
							<option>IV STD</option>
							<option>V STD</option>
							<option>VI STD</option>
							<option>VII STD</option>
							<option>VIII STD</option>
							<option>IX STD</option>
							<option>X STD</option>
							<option>XI STD</option>
							<option>XII STD</option>
							</select>
					</div>
					<div class="form-group">
						<label>Candidate First Name<font color="red">**</font></label>
						<label class="label-error-message"ng-bind="candFirstNameMsg" ng-show="showCandFirstNameErr"></label>
						<input class="form-control" type="text" name="candfirstname" ng-model="schoolapplicationsaledata.candfirstname" required>
					</div>
					<div class="form-group">
						<label>Candidate Middle Name</label>
						<input class="form-control" type="text" name="candmiddlename" ng-model="schoolapplicationsaledata.candmiddlename" >
					</div>
					<div class="form-group">
						<label>Candidate Last Name<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candLastNameMsg" ng-show="showCandLastNameErr"></label>
						<input class="form-control" type="text" name="candlastname" ng-model="schoolapplicationsaledata.candlastname" required>
					</div>
					<div class="form-group">
						<label>Candidate Date of Birth<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candDOBMsg" ng-show="showCandDOBErr"></label>
						<p class="input-group calendar-input">
							<input type="text" name="dateofbirth" class="form-control" uib-datepicker-popup="{{format}}" ng-focus="open2(popup2)" is-open="popup2.opened" ng-model="schoolapplicationsaledata.dateofbirth" datepicker-options="dateOpenOptions" ng-required="true" close-text="Close" readonly />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open2(popup2)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
          			</div>
					<div class="form-group">
						<label>Candidate Age<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candAgeMsg" ng-show="showCandAgeErr"></label>
					<!-- 	<input class="form-control" type="text" name="age" ng-model="playschoolapplicationsaledata.age" ng-disabled="true" required> -->
						<label class="form-control" ng-bind="childDob"></label>
					</div>

					<div class="form-group">
						<label>Gender<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="genderMsg" ng-show="showGenderErr"></label>
						<select class="form-control" ng-model="schoolapplicationsaledata.gender" required>
							<option>Select Gender</option>
							<option>Male</option>
							<option>Female</option>
							<option>Others</option>
							</select>
					</div>
					<div class="form-group">
						<label>Father's Name<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candFathersNameMsg" ng-show="showCandFathersNameErr"></label>
						<input class="form-control" type="text" name="candfathername" ng-model="schoolapplicationsaledata.candfathername" required>
					</div>
					<div class="form-group">
						<label>Mother's Name<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candMothersNameMsg" ng-show="showCandMothersNameErr"></label>
						<input class="form-control" type="text" name="candmothername" ng-model="schoolapplicationsaledata.candmothername" required>
					</div>
					<div class="form-group">
						<label>Present Address<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candPresentAddr1Msg" ng-show="showPresentAddr1Err"></label>
						<input class="form-control" type="text" name="presentaddress1" ng-model="schoolapplicationsaledata.presentaddress1" required>
						<label class="label-error-message" ng-bind="candPresentAddr2Msg" ng-show="showCandPresentAddr2Err"></label>
						<input class="form-control gutter-top-20" type="text" name="presentaddress2" ng-model="schoolapplicationsaledata.presentaddress2" required>
					</div>
					<div class="form-group">
						<label>Area/City<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candPresentAreaMsg" ng-show="showPresentAreaErr"></label>
						<input class="form-control" type="text" name="presentarea" ng-model="schoolapplicationsaledata.presentarea" required>
					</div>
					<div class="form-group">
						<label>PinCode<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candpresentpincodeMsg" ng-show="showpresentpincodeErr"></label>
						<input class="form-control" type="text" name="presentpincode" ng-model="schoolapplicationsaledata.presentpincode" allow-only-numbers required>
					</div>
					<div class="form-group">
						<label>State<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="presentstateMsg" ng-show="showpresentstateErr"></label>
			<!-- 			<select class="form-control" ng-model="playschoolapplicationsaledata.presentstate" required>
							<option>Select State</option>
							<option selected="">TamiNadu</option>
							<option>Puducherry</option>
							<option>Andhra Pradesh</option>
							</select> -->
						<input class="form-control" type="text" name="presentstate" ng-model="schoolapplicationsaledata.presentstate" ng-init="schoolapplicationsaledata.presentstate='TamilNadu'" ng-disabled="true"  required>
					</div>
					<div class="form-group">
						<label>Fathers Mobile No<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candfathersmobnoMsg" ng-show="showfathersmobnoErr"></label>
						<input class="form-control" type="text" name="fathersmobileno" ng-model="schoolapplicationsaledata.fathersmobileno" allow-only-numbers required>
					</div>
					<div class="form-group">
						<label>Fathers Alternate Mobile No</label>
						<label class="label-error-message" ng-bind="candfathersaltmobnoMsg" ng-show="showfathersaltmobnoErr"></label>
						<input class="form-control" type="text" name="fathersaltmobno" ng-model="schoolapplicationsaledata.fathersaltmobno" allow-only-numbers required>
					</div>
					<div class="form-group">
						<label>Mothers Mobile No<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candmothersmobnoMsg" ng-show="showmothersmobnoErr"></label>
						<input class="form-control" type="text" name="mothersmobileno" ng-model="schoolapplicationsaledata.mothersmobileno" allow-only-numbers required>
					</div>
					<div class="form-group">
						<label>Mothers Alternate Mobile No</label>
						<label class="label-error-message" ng-bind="candmothersaltmobnoMsg" ng-show="showmothersaltmobnoErr"></label>
						<input class="form-control" type="text" name="mothersaltmobno" ng-model="schoolapplicationsaledata.mothersaltmobno" allow-only-numbers required>
					</div>


					<div class="form-group">
						<label>Fathers E-mail</label>
						<input class="form-control" type="text" name="fathersemail" ng-model="schoolapplicationsaledata.fathersemail" required>
					</div>
					<div class="form-group">
						<label>Mothers Email</label>
						<input class="form-control" type="text" name="mothersemail" ng-model="schoolapplicationsaledata.mothersemail" required>
					</div>
					
					<div class="form-group">
						<label>Reference</label>
						
						<input class="form-control" type="text" name="reference" ng-model="schoolapplicationsaledata.reference" required>
					</div>
					<div class="form-group">
						<label>Willing to Join<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="willingtojoinMsg" ng-show="showwillingtojoinErr"></label>
						<select class="form-control" ng-model="schoolapplicationsaledata.willingtojoin" required>
							<option>Select Willingness</option>
							<option>Yes</option>
							<option>No</option>
							</select>
					</div>
					<div class="form-group">
						<label>Date Committed to Join<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="datecommittedjoinMsg" ng-show="showdatecommittedjoinErr"></label>
						<p class="input-group calendar-input">
							<input type="text" name="followupdate" class="form-control" uib-datepicker-popup="{{format}}" ng-focus="open3(popup3)" is-open="popup3.opened" ng-model="schoolapplicationsaledata.followupdate" datepicker-options="dateOpenOptions" ng-required="true" close-text="Close" readonly />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open3(popup3)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
          			</div>
					<div class="form-group">
						<label>Application Price<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="applicationpriceMsg" ng-show="applicationpriceErr"></label>
						<input class="form-control" type="text" name="applicationprice" ng-model="schoolapplicationsaledata.applicationprice" allow-only-numbers required>
					</div>
					<div class="form-group">
						<label>Application Amount Paid Mode<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="applicationpaidmodeMsg" ng-show="showapplicationpaidmodeErr"></label>
						<select class="form-control" ng-model="schoolapplicationsaledata.applicationpaidmode" required>
							<option>Select Paid Mode</option>
							<option>Paid</option>
							<option>Free</option>
							</select>
					</div>
					<div class="form-group">
						<label>Remarks</label>

						<input class="form-control" type="text" name="remarks" ng-model="schoolapplicationsaledata.remarks" required>
					</div>
					<div class="form-group">
						<label>Select Academic Year<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="academicyearMsg" ng-show="academicyearErr"></label>
						<select class="form-control" ng-model="schoolapplicationsaledata.academicyear" required>
							<option>Select Academic Year</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
							<option>2020-2021</option>
							<option>2021-2022</option>
							<option>2022-2023</option>
							<option>2023-2024</option>
							<option>2024-2025</option>
							<option>2025-2026</option>
							<option>2026-2027</option>
							<option>2027-2028</option>
							<option>2028-2029</option>
							<option>2029-2030</option>
							<option>2030-2031</option>
							<option>2031-2032</option>
							</select>
					</div>

					<!-- <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="playschoolapplicationsaledata.loginuser" required>
					</div>
					<div class="form-group">
						<label>Institute ID</label>
						<label class="label-error-message" ng-bind="instituteIdMsg" ng-show="ShowInsituteIdErr"></label>

						<input class="form-control" type="text" name="instituteid" ng-model="playschoolapplicationsaledata.instituteid" required>
					</div> -->

				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<!-- ng-disabled="playschoolapplicationsaleform.$invalid" -->
				<input  type="submit" class="btn btn-primary form-button" value="SAVE">
			</div>
		</form>
	</div>
</div>
