<h1>STUDENTS CERTIFICATE SUBMISSION</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="certificatesubmissionform" ng-submit="certificateSubmissionSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Admission Number</label>
						<input class="form-control" type="text" name="admissionno" ng-model="certificatesubmissiondata.admissionno">
					</div>
                   	<div class="form-group">	
					<div class="text-right">
					<input type="button" class="btn btn-default form-button" value="SEARCH">
					</div>
					</div>
					<div class="form-group">
						<label>Enter Register Number</label>
						<input class="form-control" type="text" name="regno" ng-model="certificatesubmissiondata.regno">
					</div>
					<div class="form-group">
						<label>Candidate Name</label>
						<input class="form-control" type="text" name="candidatename" ng-model="certificatesubmissiondata.candidatename">
					</div>
					<div class="form-group">
						<label>Select Branch</label>
						<select class="form-control" ng-model="certificatesubmissiondata.branch">
							<option>Select Branch</option>
							<option>CIVIL ENGINEERING</option>
							<option>MECHANICAL ENGINEERING</option>
							<option>AUTOMOBILE ENGINEERING</option>
							<option>ELECTRICAL AND ELECTRONICS ENGINEERING</option>
							<option>ELECTRONICS AND COMMUNICATION ENGINEERING</option>
							<option>COMPUTER ENGINEERING</option>
							<option>INFORMATION TECHNOLOGY</option>
							</select>
					</div>
					<div class="form-group">
						<label>Enter Branch Code</label>
						<input class="form-control" type="text" name="branchCode" ng-model="certificatesubmissiondata.branchCode">
					</div>
					<div class="form-group">
						<label>Select Semester</label>
						<select class="form-control" ng-model="certificatesubmissiondata.semester">
							<option>Select Semester</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
						</select>
					</div>
					<div class="form-group">
						<label>Select Academic Year</label>
						<select class="form-control" ng-model="certificatesubmissiondata.academicYear">
							<option>Select Academic Year</option>
							<option>2013-2014</option>
							<option>2014-2015</option>
							<option>2015-2016</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
							<option>2020-2021</option>
						</select>
					</div>
					<div class="form-group">
						<label>Select Student Type</label>
						<select class="form-control" ng-model="certificatesubmissiondata.studentType">
							<option>Select Student Type</option>
							<option>Regular</option>
							<option>Part Time</option>
							<option>Sandwitch</option>
							<option>Re-Admission</option>
							<option>Discontinued</option>
							<option>Institute Transfer</option>
						</select>
					</div>

					<div class="form-group">
						<label>Enter FolioNo</label>
						<input class="form-control" type="text" name="foloiNo" ng-model="certificatesubmissiondata.foloiNo">
					</div>
					<div class="form-group">
						<label>Is Original Marks sheet Submitted ?</label>
						<input type="checkbox"  name="marksheetsubmitted" ng-model="certificatesubmissiondata.marksheetsubmitted"> Marksheet Submitted</label>
					</div>
					<div class="form-group">
						<label>Original Marksheet Serial No</label>
						<input class="form-control" type="text" name="marksheetSlNo" ng-model="certificatesubmissiondata.marksheetSlNo">
					</div>
					<div class="form-group">
						<label>Is Original Transfer Certificate Submitted ?</label>
						<input type="checkbox"  name="transfercertificatesubmitted" ng-model="certificatesubmissiondata.transfercertificatesubmitted"> Transfer Certifcate Submitted</label>
					</div>
					<div class="form-group">
						<label>Original Transfer Certiicate Serial No</label>
						<input class="form-control" type="text" name="transferCertificateSlNo" ng-model="certificatesubmissiondata.transferCertificateSlNo">
					</div>
					<div class="form-group">
						<label>Is Original Community Certificate Submitted ?</label>
						<input type="checkbox"   name="communitycertificatesubmitted" ng-model="certificatesubmissiondata.communitycertificatesubmitted"> Community Certifcate Submitted</label>
					</div>
					<div class="form-group">
						<label>Original Community Certiicate Serial No</label>
						<input class="form-control" type="text" name="communityCertificateSlNo" ng-model="certificatesubmissiondata.communityCertificateSlNo">
					</div>
					<div class="form-group">
						<label>Is Xerox Copies of Marks sheet Submitted ?</label>
						<input type="checkbox"  name="xeroxmarksheetsubmitted" ng-model="certificatesubmissiondata.xeroxmarksheetsubmitted">Xerox Marksheet Submitted</label>
					</div>
					<div class="form-group">
						<label>No of copies of Xerox Marksheet </label>
						<input class="form-control" type="text" name="xeroxMarksheetCopies" ng-model="certificatesubmissiondata.xeroxMarksheetCopies">
					</div>
					<div class="form-group">
						<label>Is Xerox copies of Transfer Certificate Submitted ?</label>
						<input type="checkbox"  name="xeroxTransfercertificatesubmitted" ng-model="certificatesubmissiondata.xeroxTransfercertificatesubmitted"> Xerox Transfer Certifcate Submitted</label>
					</div>
					<div class="form-group">
						<label>No of copies of Xerox Transfer Certiicate </label>
						<input class="form-control" type="text" name="xeroxTransferCertificateCopies" ng-model="certificatesubmissiondata.xeroxTransferCertificateCopies">
					</div>
					<div class="form-group">
						<label>Is Xerox copies of Community Certificate Submitted ?</label>
						<input type="checkbox"  name="xerorCommunitycertificatesubmitted" ng-model="certificatesubmissiondata.xeroxCommunitycertificatesubmitted"> Xerox Community Certifcate Submitted</label>
					</div>
					<div class="form-group">
						<label>No of copies of Xerox Community Certiicate </label>
						<input class="form-control" type="text" name="xeroxCommunityCertificateCopies" ng-model="certificatesubmissiondata.xeroxCommunityCertificateCopies">
					</div>
					<div class="form-group">
						<label>Is Original Migration Certificate Submitted ?</label>
						<input type="checkbox"  name="migrationcertificatesubmitted" ng-model="certificatesubmissiondata.migrationcertificatesubmitted"> Migration Certifcate Submitted</label>
					</div>
					<div class="form-group">
						<label>Original Migration Certiicate Serial No</label>
						<input class="form-control" type="text" name="migrationCertificateSlNo" ng-model="certificatesubmissiondata.migrationCertificateSlNo">
					</div>
					<div class="form-group">
						<label>Is Original Conduct Certificate Submitted ?</label>
						<input type="checkbox"  name="conductgcertificatesubmitted" ng-model="certificatesubmissiondata.conductcertificatesubmitted"> Conduct Certifcate Submitted</label>
					</div>
					<div class="form-group">
						<label>Original Conduct Certiicate Serial No</label>
						<input class="form-control" type="text" name="conductCertificateSlNo" ng-model="certificatesubmissiondata.conductCertificateSlNo">
					</div>
					<div class="form-group">
						<label>Is Stamp Size Photo Submitted ?</label>
						<input type="checkbox"  name="stampSizePhotosubmitted" ng-model="certificatesubmissiondata.stampSizePhotosubmitted"> Stamp Size Photo Submitted</label>
					</div>
					<div class="form-group">
						<label>Stamp Size Photo No of Copies</label>
						<input class="form-control" type="text" name="stampSizePhotoCopies" ng-model="certificatesubmissiondata.stampSizePhotoCopies">
					</div>
					<div class="form-group">
						<label>Is Passport Size Photo Submitted ?</label>
						<input type="checkbox"  name="passPortPhotosubmitted" ng-model="certificatesubmissiondata.passPortPhotosubmitted"> Pass Port Size Photo Submitted</label>
					</div>
					<div class="form-group">
						<label>Passport Size Photo No of Copies</label>
						<input class="form-control" type="text" name="passportSizePhotoCopies" ng-model="certificatesubmissiondata.passportSizePhotoCopies">
					</div>
					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginUser" ng-model="certificatesubmissiondata.loginUser">
					</div>

				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="SUBMIT">
			</div>
		</form>
	</div>
</div>