<h1>CHANGE PASSWORD</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="changepasswordplayschoolform" ng-submit="changePasswordPlaySchoolSubmit()" novalidate>

					<div class="form-group">
						<label>Enter Old Password <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="oldPassWordErrMsg" ng-show="showOldPassWordErr"></label>						
						<input class="form-control" type="text" name="oldpassword" ng-model="changepasswordplayschooldata.oldpassword" ng-disabled = "true">
					</div>


					<div class="form-group">
						<label>Enter New Password<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="newPasswordErrMsg" ng-show="shownewPasswordErr"></label>						
						<input class="form-control" type="text" name="newpassword" ng-model="changepasswordplayschooldata.newpassword">
					</div>

					<div class="form-group">
						<label>Confirm New Password<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="confirmnewPasswordErrMsg" ng-show="showconfirmnewPasswordErr"></label>						
						<input class="form-control" type="text" name="confirmnewpassword" ng-model="changepasswordplayschooldata.confirmnewpassword">
					</div>

					<div class="form-group">
						<label>Institute Id<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="instituteidErrMsg" ng-show="showinstituteIdErr"></label>						
						<input class="form-control" type="text" name="instituteid" ng-model="changepasswordplayschooldata.instituteid">
					</div>

                    
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SAVE">
			</div>
		</form>
	</div>
</div>