<h1>PLAYSCHOOL CHILD'S PICKUP ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="childspickupplayschoolform" ng-submit="childsPickupPlaySchoolEntrySubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Pickup Id</label>
						<input class="form-control" type="text" name="pickupid" ng-model="childspickupplayschoolentrydata.pickupid">
					</div>
                   	<div class="form-group">	
					<div class="text-right">
					<input type="button" class="btn btn-default" value="SEARCH">
					</div>
					</div>
					<div class="form-group">
						<label>Enter Pickup Date</label>
						<input class="form-control" type="text" name="pickupddate" ng-model="childspickupplayschoolentrydata.pickupddate">
					</div>
					<div class="form-group">
						<label>Enter Pickup Day</label>
						<input class="form-control" type="text" name="pickupday" ng-model="childspickupplayschoolentrydata.pickupday">
					</div>
					<div class="form-group">
						<label>Enter Pickup Time</label>
						<input class="form-control" type="text" name="pickuptime" ng-model="childspickupplayschoolentrydata.pickuptime">
					</div>

					<div class="form-group">
						<label>Enter Register Number</label>
						<input class="form-control" type="text" name="registernumber" ng-model="childspickupplayschoolentrydata.registernumber">
					</div>
					<div class="form-group">
						<label>Candidate Name</label>
						<input class="form-control" type="text" name="name" ng-model="childspickupplayschoolentrydata.name">
					</div>
					<div class="form-group">
						<label>Select Program</label>
						<select class="form-control" ng-model="childspickupplayschoolentrydata.program">
							<option>Select Program</option>
							<option>TODDLER PROGRAM</option>
							<option>PREKG</option>
							<option>KG1</option>
							<option>KG2</option>
							</select>
					</div>
					<div class="form-group">
						<label>Select Semester</label>
						<select class="form-control" ng-model="childspickupplayschoolentrydata.section">
							<option>Select Semester</option>
							<option>SECTION - A</option>
							<option>SECTION - B</option>
							<option>SECTION - C</option>
							<option>SECTION - D</option>
						</select>
					</div>
					<div class="form-group">
						<label>Select Academic Year</label>
						<select class="form-control" ng-model="childspickupplayschoolentrydata.academicyear">
							<option>Select Academic Year</option>
							<option>2013-2014</option>
							<option>2014-2015</option>
							<option>2015-2016</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
							<option>2020-2021</option>
						</select>
					</div>

					<div class="form-group">
						<label>Enter Pickup Person Name</label>
						<input class="form-control" type="text" name="pickup_person_name" ng-model="childspickupplayschoolentrydata.pickup_person_name">
					</div>
					<div class="form-group">
						<label>Enter Pickup Person Relationship</label>
						<input class="form-control" type="text" name="pickup_person_relation" ng-model="childspickupplayschoolentrydata.pickup_person_relation">
					</div>
					<div class="form-group">
						<label>Enter Pickup Person Mobile Number</label>
						<input class="form-control" type="text" name="pickup_person_mobileno" ng-model="childspickupplayschoolentrydata.pickup_person_mobileno">
					</div>
					<div class="form-group">
						<label>Enter Remarks if any</label>
						<input class="form-control" type="text" name="remarks" ng-model="childspickupplayschoolentrydata.remarks">
					</div>
					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginUser" ng-model="childspickupplayschoolentrydata.loginUser">
					</div>

				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>