<h2>Anand Pickup Details</h2>

<table class="table table-striped gutter-top-30">
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Time</th>
                <th>Person Name</th>
                <th>Relation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>25/08/2017</td>
                <td>Monday</td>
                <td>10.30am</td>
                <td>Carol</td>
                <td>Father</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary form-button pull-right">VIEW PREVIOUS PICKUP DETAILS</button>
        </div>
    </div>