<div class="row">
  <div class="col-md-12">
  <h2>Dashboard</h2>
</div>
</div>
<div class="row gutter-top-25">
  <div class="col-md-12">
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
  <div class="card">
    <div class="card-pad">
    <i class="fa fa-user-circle custom-circe-icon" aria-hidden="true"></i>
    <p class="gutter-top-10">Student Admission</p>
  </div>
  </div>
</div>
</div>
