<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <!-- <h1 class="">Dashboard</h1> -->
          <!-- <ul class="nav nav-pills">
            <li class="active"><a href="#">Trending 1</a></li>
            <li><a href="#">Trending 2</a></li>
          </ul>-->

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-3" ng-repeat="menu in menulist" hasequalheight>
                  <div class="dashboardmenu {{'dashboardcolor'+($index%6)}}" ng-click='dashboardgoto(menu.href)'>
                    <span class="dashboardmenuicon {{menu.iconclass}}"></span>
                    <span class="dashboardmentu-label">{{menu.menuitem}}</span>
                  </div>
                </div>
              </div>
            </div>
           <!--  <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="panelwrap">
                    <div class="panelhead">
                      <div class="panel-profilephoto">
                        <img src="images/avatar.png"/>
                      </div>
                      <div class="panel-username">John Doe</div>  
                    </div>
                  
                    <table class="profiletable">
                      <tr>
                        <td class="panellabel">Email</td>
                        <td class="panelvalue">kamal@gbcorp.com</td>
                      </tr>
                      <tr>
                        <td class="panellabel">DOB</td>
                        <td class="panelvalue">12/12/1980</td>
                      </tr>
                      <tr>
                        <td class="panellabel">Gender</td>
                        <td class="panelvalue">Male</td>
                      </tr>
                      <tr>
                        <td class="panellabel">Branch</td>
                        <td class="panelvalue">CT</td>
                      </tr>
                      <tr>
                        <td class="panellabel">Current Address</td>
                        <td class="panelvalue">2/12, Gandhi Nagar, Chennai-600053</td>
                      </tr>
                      <tr>
                        <td class="panellabel">Permanent Address</td>
                        <td class="panelvalue">2/12, Gandhi Nagar, Chennai-600053</td>
                      </tr>
                      <tr>
                        <td class="panellabel">Guardian contact</td>
                        <td class="panelvalue">96876543120</td>
                      </tr>
                      <tr>
                        <td class="panellabel">Secondary contact</td>
                        <td class="panelvalue">1234567890</td>
                      </tr>
                      <tr>
                        <td class="panellabel">Active</td>
                        <td class="panelvalue">Active</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
      </div>
    </div>
  </div>
</div>
