<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <h1 class="hidden-md hidden-lg hidden-sm">Dashboard</h1>
          <ul class="nav nav-pills">
            <li class="active"><a href="#">Trending 1</a></li>
            <li><a href="#">Trending 2</a></li>
          </ul>


          <h2>Available now:</h2>

          <div class="row">


            <div class="col-lg-3 1--md-4 col-sm-6">
              <div class="custompricedropwrap">
                <div class="custompricedrop-outerring dropped">
                  <div class="custompricedrop">
                    <div class="custompricecontent">
                      <img src="images/shell.png" alt="shell"/>
                      <div class="custompriceamount">114.62</div>
                      <div class="custompricefuel">DIESEL</div>
                      <div class="cpfooter">
                        <span class="footerlabel">23.56C</span>
                        <span class="footerlabelright">MT</span>
                      </div>
                    </div>
                    <div class="dropmsg"><span class="icon-drag"></span>Drag &amp; Drop your Custom Prices Here</div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="custompriceactions cpactionleft menu">
                  <div class="cpactiongrad">
                  <span class="cpactionwrap trigger cpactionbuy">
                    <span class="cpactionico icon-online-shop-cart"></span>
                    <span class="cpactionlabel">Buy</span>
                  </span>
                  <span class="cpactionwrap trigger cpactionclose">
                    <span class="cpactionico icon-close"></span>
                    <span class="cpactionlabel">Close</span>
                  </span>
                  <div class="icons">
                    <div class="rotater">
                      <div class="btn btn-icon rotatorblue">
                        <div class="rotateritem">
                          <span class="rotateico icon-online-shop-cart"></span>
                          <span class="rotateritemlabel">Place<br/> Order</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorgreen">
                        <div class="rotateritem">
                          <span class="rotateico icon-calendar"></span>
                          <span class="rotateritemlabel">30 Day</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorviolet">
                        <div class="rotateritem">
                          <span class="rotateico icon-stack-overflow"></span>
                          <span class="rotateritemlabel">Quantity</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatororange">
                        <div class="rotateritem">
                          <span class="rotateico icon-price-tag"></span>
                          <span class="rotateritemlabel">Price</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="custompriceactions cpactionright" data-toggle="modal" data-target="#buynow">
                  <span class="cpactionwrap">
                    <span class="cpactionico icon-discount"></span>
                    <span class="cpactionlabel">Offer</span>
                  </span>
                </a>
              </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="custompricedropwrap">
                <div class="custompricedrop-outerring dropped">
                  <div class="custompricedrop">
                    <div class="custompricecontent">
                      <img src="images/bp.png" alt="bp"/>
                      <div class="custompriceamount">115.56</div>
                      <div class="custompricefuel">DIESEL</div>
                      <div class="cpfooter">
                        <span class="footerlabel">23.56C</span>
                        <span class="footerlabelright">MT</span>
                      </div>
                    </div>
                    <div class="dropmsg"><span class="icon-drag"></span>Drag &amp; Drop your Custom Prices Here</div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="custompriceactions cpactionleft menu">
                  <div class="cpactiongrad">
                  <span class="cpactionwrap trigger cpactionbuy">
                    <span class="cpactionico icon-online-shop-cart"></span>
                    <span class="cpactionlabel">Buy</span>
                  </span>
                  <span class="cpactionwrap trigger cpactionclose">
                    <span class="cpactionico icon-close"></span>
                    <span class="cpactionlabel">Close</span>
                  </span>
                  <div class="icons">
                    <div class="rotater">
                      <div class="btn btn-icon rotatorblue">
                        <div class="rotateritem">
                          <span class="rotateico icon-online-shop-cart"></span>
                          <span class="rotateritemlabel">Place<br/> Order</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorgreen">
                        <div class="rotateritem">
                          <span class="rotateico icon-calendar"></span>
                          <span class="rotateritemlabel">30 Day</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorviolet">
                        <div class="rotateritem">
                          <span class="rotateico icon-stack-overflow"></span>
                          <span class="rotateritemlabel">Quantity</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatororange">
                        <div class="rotateritem">
                          <span class="rotateico icon-price-tag"></span>
                          <span class="rotateritemlabel">Price</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="custompriceactions cpactionright" data-toggle="modal" data-target="#buynow">
                  <span class="cpactionwrap">
                    <span class="cpactionico icon-discount"></span>
                    <span class="cpactionlabel">Offer</span>
                  </span>
                </a>
              </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="custompricedropwrap">
                <div class="custompricedrop-outerring dropped">
                  <div class="custompricedrop">
                    <div class="custompricecontent">
                      <img src="images/hp.png" alt="hp"/>
                      <div class="custompriceamount">114.82</div>
                      <div class="custompricefuel">DIESEL</div>
                      <div class="cpfooter">
                        <span class="footerlabel">23.56C</span>
                        <span class="footerlabelright">MT</span>
                      </div>
                    </div>
                    <div class="dropmsg"><span class="icon-drag"></span>Drag &amp; Drop your Custom Prices Here</div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="custompriceactions cpactionleft menu">
                  <div class="cpactiongrad">
                  <span class="cpactionwrap trigger cpactionbuy">
                    <span class="cpactionico icon-online-shop-cart"></span>
                    <span class="cpactionlabel">Buy</span>
                  </span>
                  <span class="cpactionwrap trigger cpactionclose">
                    <span class="cpactionico icon-close"></span>
                    <span class="cpactionlabel">Close</span>
                  </span>
                  <div class="icons">
                    <div class="rotater">
                      <div class="btn btn-icon rotatorblue">
                        <div class="rotateritem">
                          <span class="rotateico icon-online-shop-cart"></span>
                          <span class="rotateritemlabel">Place<br/> Order</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorgreen">
                        <div class="rotateritem">
                          <span class="rotateico icon-calendar"></span>
                          <span class="rotateritemlabel">30 Day</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorviolet">
                        <div class="rotateritem">
                          <span class="rotateico icon-stack-overflow"></span>
                          <span class="rotateritemlabel">Quantity</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatororange">
                        <div class="rotateritem">
                          <span class="rotateico icon-price-tag"></span>
                          <span class="rotateritemlabel">Price</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="custompriceactions cpactionright" data-toggle="modal" data-target="#buynow">
                  <span class="cpactionwrap">
                    <span class="cpactionico icon-discount"></span>
                    <span class="cpactionlabel">Offer</span>
                  </span>
                </a>
              </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="custompricedropwrap">
                <div class="custompricedrop-outerring">
                  <div class="custompricedrop" id="droppable" >
                    <div class="custompricecontent" style="display: none">
                      <img src="images/total.png" alt="hp"/>
                      <div class="custompriceamount">114.82</div>
                      <div class="custompricefuel">DIESEL</div>
                      <div class="cpfooter">
                        <span class="footerlabel">23.56C</span>
                        <span class="footerlabelright">MT</span>
                      </div>
                    </div>
                    <div class="dropmsg"><span class="icon-drag"></span>Drag &amp; Drop your Custom Prices Here</div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="custompriceactions cpactionleft menu">
                  <div class="cpactiongrad">
                  <span class="cpactionwrap trigger cpactionbuy">
                    <span class="cpactionico icon-online-shop-cart"></span>
                    <span class="cpactionlabel">Buy</span>
                  </span>
                  <span class="cpactionwrap trigger cpactionclose">
                    <span class="cpactionico icon-close"></span>
                    <span class="cpactionlabel">Close</span>
                  </span>
                  <div class="icons">
                    <div class="rotater">
                      <div class="btn btn-icon rotatorblue">
                        <div class="rotateritem">
                          <span class="rotateico icon-online-shop-cart"></span>
                          <span class="rotateritemlabel">Place<br/> Order</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorgreen">
                        <div class="rotateritem">
                          <span class="rotateico icon-calendar"></span>
                          <span class="rotateritemlabel">30 Day</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorviolet">
                        <div class="rotateritem">
                          <span class="rotateico icon-stack-overflow"></span>
                          <span class="rotateritemlabel">Quantity</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatororange">
                        <div class="rotateritem">
                          <span class="rotateico icon-price-tag"></span>
                          <span class="rotateritemlabel">Price</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="custompriceactions cpactionright" data-toggle="modal" data-target="#buynow">
                  <span class="cpactionwrap">
                    <span class="cpactionico icon-discount"></span>
                    <span class="cpactionlabel">Offer</span>
                  </span>
                </a>
              </div>
            </div>
          </div>










          <hr class="dashboardhr" />





          <h2>10 Days:</h2>

          <div class="row">


            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="custompricedropwrap">
                <div class="custompricedrop-outerring dropped">
                  <div class="custompricedrop">
                    <div class="custompricecontent">
                      <img src="images/shell.png" alt="shell"/>
                      <div class="custompriceamount">115.12</div>
                      <div class="custompricefuel">DIESEL</div>
                      <div class="cpfooter">
                        <span class="footerlabel">23.56C</span>
                        <span class="footerlabelright">MT</span>
                      </div>
                    </div>
                    <div class="dropmsg"><span class="icon-drag"></span>Drag &amp; Drop your Custom Prices Here</div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="custompriceactions cpactionleft menu">
                  <div class="cpactiongrad">
                  <span class="cpactionwrap trigger cpactionbuy">
                    <span class="cpactionico icon-online-shop-cart"></span>
                    <span class="cpactionlabel">Buy</span>
                  </span>
                  <span class="cpactionwrap trigger cpactionclose">
                    <span class="cpactionico icon-close"></span>
                    <span class="cpactionlabel">Close</span>
                  </span>
                  <div class="icons">
                    <div class="rotater">
                      <div class="btn btn-icon rotatorblue">
                        <div class="rotateritem">
                          <span class="rotateico icon-online-shop-cart"></span>
                          <span class="rotateritemlabel">Place<br/> Order</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorgreen">
                        <div class="rotateritem">
                          <span class="rotateico icon-calendar"></span>
                          <span class="rotateritemlabel">30 Day</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorviolet">
                        <div class="rotateritem">
                          <span class="rotateico icon-stack-overflow"></span>
                          <span class="rotateritemlabel">Quantity</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatororange">
                        <div class="rotateritem">
                          <span class="rotateico icon-price-tag"></span>
                          <span class="rotateritemlabel">Price</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="custompriceactions cpactionright" data-toggle="modal" data-target="#buynow">
                  <span class="cpactionwrap">
                    <span class="cpactionico icon-discount"></span>
                    <span class="cpactionlabel">Offer</span>
                  </span>
                </a>
              </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="custompricedropwrap">
                <div class="custompricedrop-outerring dropped">
                  <div class="custompricedrop">
                    <div class="custompricecontent">
                      <img src="images/bp.png" alt="bp"/>
                      <div class="custompriceamount">114.87</div>
                      <div class="custompricefuel">DIESEL</div>
                      <div class="cpfooter">
                        <span class="footerlabel">23.56C</span>
                        <span class="footerlabelright">MT</span>
                      </div>
                    </div>
                    <div class="dropmsg"><span class="icon-drag"></span>Drag &amp; Drop your Custom Prices Here</div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="custompriceactions cpactionleft menu">
                  <div class="cpactiongrad">
                  <span class="cpactionwrap trigger cpactionbuy">
                    <span class="cpactionico icon-online-shop-cart"></span>
                    <span class="cpactionlabel">Buy</span>
                  </span>
                  <span class="cpactionwrap trigger cpactionclose">
                    <span class="cpactionico icon-close"></span>
                    <span class="cpactionlabel">Close</span>
                  </span>
                  <div class="icons">
                    <div class="rotater">
                      <div class="btn btn-icon rotatorblue">
                        <div class="rotateritem">
                          <span class="rotateico icon-online-shop-cart"></span>
                          <span class="rotateritemlabel">Place<br/> Order</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorgreen">
                        <div class="rotateritem">
                          <span class="rotateico icon-calendar"></span>
                          <span class="rotateritemlabel">30 Day</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorviolet">
                        <div class="rotateritem">
                          <span class="rotateico icon-stack-overflow"></span>
                          <span class="rotateritemlabel">Quantity</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatororange">
                        <div class="rotateritem">
                          <span class="rotateico icon-price-tag"></span>
                          <span class="rotateritemlabel">Price</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="custompriceactions cpactionright" data-toggle="modal" data-target="#buynow">
                  <span class="cpactionwrap">
                    <span class="cpactionico icon-discount"></span>
                    <span class="cpactionlabel">Offer</span>
                  </span>
                </a>
              </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="custompricedropwrap">
                <div class="custompricedrop-outerring dropped">
                  <div class="custompricedrop">
                    <div class="custompricecontent">
                      <img src="images/total.png" alt="total"/>
                      <div class="custompriceamount">114.34</div>
                      <div class="custompricefuel">DIESEL</div>
                      <div class="cpfooter">
                        <span class="footerlabel">23.56C</span>
                        <span class="footerlabelright">MT</span>
                      </div>
                    </div>
                    <div class="dropmsg"><span class="icon-drag"></span>Drag &amp; Drop your Custom Prices Here</div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="custompriceactions cpactionleft menu">
                  <div class="cpactiongrad">
                  <span class="cpactionwrap trigger cpactionbuy">
                    <span class="cpactionico icon-online-shop-cart"></span>
                    <span class="cpactionlabel">Buy</span>
                  </span>
                  <span class="cpactionwrap trigger cpactionclose">
                    <span class="cpactionico icon-close"></span>
                    <span class="cpactionlabel">Close</span>
                  </span>
                  <div class="icons">
                    <div class="rotater">
                      <div class="btn btn-icon rotatorblue">
                        <div class="rotateritem">
                          <span class="rotateico icon-online-shop-cart"></span>
                          <span class="rotateritemlabel">Place<br/> Order</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorgreen">
                        <div class="rotateritem">
                          <span class="rotateico icon-calendar"></span>
                          <span class="rotateritemlabel">30 Day</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorviolet">
                        <div class="rotateritem">
                          <span class="rotateico icon-stack-overflow"></span>
                          <span class="rotateritemlabel">Quantity</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatororange">
                        <div class="rotateritem">
                          <span class="rotateico icon-price-tag"></span>
                          <span class="rotateritemlabel">Price</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="custompriceactions cpactionright" data-toggle="modal" data-target="#buynow">
                  <span class="cpactionwrap">
                    <span class="cpactionico icon-discount"></span>
                    <span class="cpactionlabel">Offer</span>
                  </span>
                </a>
              </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="custompricedropwrap">
                <div class="custompricedrop-outerring dropped">
                  <div class="custompricedrop">
                    <div class="custompricecontent">
                      <img src="images/hp.png" alt="hp"/>
                      <div class="custompriceamount">115.22</div>
                      <div class="custompricefuel">DIESEL</div>
                      <div class="cpfooter">
                        <span class="footerlabel">23.56C</span>
                        <span class="footerlabelright">MT</span>
                      </div>
                    </div>
                    <div class="dropmsg"><span class="icon-drag"></span>Drag &amp; Drop your Custom Prices Here</div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="custompriceactions cpactionleft menu">
                  <div class="cpactiongrad">
                  <span class="cpactionwrap trigger cpactionbuy">
                    <span class="cpactionico icon-online-shop-cart"></span>
                    <span class="cpactionlabel">Buy</span>
                  </span>
                  <span class="cpactionwrap trigger cpactionclose">
                    <span class="cpactionico icon-close"></span>
                    <span class="cpactionlabel">Close</span>
                  </span>
                  <div class="icons">
                    <div class="rotater">
                      <div class="btn btn-icon rotatorblue">
                        <div class="rotateritem">
                          <span class="rotateico icon-online-shop-cart"></span>
                          <span class="rotateritemlabel">Place<br/> Order</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorgreen">
                        <div class="rotateritem">
                          <span class="rotateico icon-calendar"></span>
                          <span class="rotateritemlabel">30 Day</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatorviolet">
                        <div class="rotateritem">
                          <span class="rotateico icon-stack-overflow"></span>
                          <span class="rotateritemlabel">Quantity</span>
                        </div>
                      </div>
                    </div>
                    <div class="rotater">
                      <div class="btn btn-icon rotatororange">
                        <div class="rotateritem">
                          <span class="rotateico icon-price-tag"></span>
                          <span class="rotateritemlabel">Price</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="custompriceactions cpactionright" data-toggle="modal" data-target="#buynow">
                  <span class="cpactionwrap">
                    <span class="cpactionico icon-discount"></span>
                    <span class="cpactionlabel">Offer</span>
                  </span>
                </a>
              </div>
            </div>



          </div>
      </div>
    </div>
  </div>
</div>
