<h1>E-GOV SPELL ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="egovspellentryform" ng-submit="egovSpellEntrySubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">

				<div class="form-group">
						<label>Spell No</label>
						<select class="form-control" ng-model="egovspellentrydata.spellno">
							<option>Select Spell</option>
							<option> I  </option>
							<option> II </option>
							<option> III </option>
							<option> IV </option>
						</select>
					</div>	

					<div class="form-group">
						<label>From Date</label>
						<input class="form-control" type="text" name="fromdate" ng-model="egovspellentrydata.fromdate">
					</div>

					<div class="form-group">
						<label>To Date</label>
						<input class="form-control" type="text" name="todate" ng-model="egovspellentrydata.todate">
					</div>
                    
                    <div class="form-group">
						<label>Semester</label>
						<select class="form-control" ng-model="egovspellentrydata.semester">
							<option>Select Semester</option>
							<option> I  </option>
							<option> II </option>
							<option> III </option>
							<option> IV </option>
						</select>
					</div>	
 

                    <div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="egovspellentrydata.academicyear">
							<option>Select Academic Year</option>
							<option> 2014-2015 </option>
							<option> 2015-2016 </option>
							<option> 2016-2017 </option>
							<option> 2017-2018 </option>
						</select>
					</div>	
                    
                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="egovspellentrydata.loginuser">
					</div>


					
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="CREATE USER">
			</div>
		</form>
	</div>
</div>