<h1>FEES PAYMENT PLAYSCHOOL ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="feespaymentplayschool" ng-submit="feesPaymentPlaySchoolSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Date</label>
						<label class="label-error-message" ng-bind="billDateErrMsg" ng-show="showbillDateErr"></label>
						<input class="form-control" type="text" name="billdate" ng-model="feespaymentplayschooldata.billdate">
					</div>
					<div class="form-group">
						<label>Registration No</label>
						<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>
						<input class="form-control" type="text" name="registernumber" ng-model="feespaymentplayschooldata.registernumber">
					</div>
					<div class="form-group">
						<label>Candidate Name</label>
						<label class="label-error-message" ng-bind="candidateNameErrMsg" ng-show="showCandidateNameErr"></label>
						<input class="form-control" type="text" name="name" ng-model="name">
					</div>
					<div class="form-group">
						<label>Program</label>
						<label class="label-error-message" ng-bind="programErrMsg" ng-show="showProgramErr"></label>
						<input class="form-control" type="text" name="program" ng-model="feespaymentplayschooldata.program">
					</div>
					<div class="form-group">
						<label>Section</label>
						<label class="label-error-message" ng-bind="sectionErrMsg" ng-show="showSectionErr"></label>
						<input class="form-control" type="text" name="section" ng-model="feespaymentplayschooldata.section">
					</div>
					<div class="form-group">
						<label>Academic Year</label>
						<label class="label-error-message" ng-bind="academicyearErrMsg" ng-show="showAcademicyearErr"></label>
						<input class="form-control" type="text" name="academicyear" ng-model="feespaymentplayschooldata.academicyear">
					</div>
				
					<div class="form-group">
						<label>School Fees Title</label>
						<label class="label-error-message" ng-bind="schoolFeesTitleErrMsg" ng-show="showSchoolFeesTitleErr"></label>
						<select class="form-control" ng-model="feespaymentplayschooldata.schoolfeestitle">
							<option>Select School Fees Title</option>
							<option>Registration Fees</option>
							<option>First Installment</option>
							<option>Second Installment</option>
							<option>Full Fees</option>
							
						</select>
					</div>
					<div class="form-group">
						<label>Material Kit Fees</label>
						<label class="label-error-message" ng-bind="matierialkitFeesErrMsg" ng-show="showMaterilaKitFeesErr"></label>
						<input class="form-control" type="text" name="materialkitfees" ng-model="feespaymentplayschooldata.materialkitfees">
					</div>
                    <div class="form-group">
						<label>Material Kit Fees Paid</label>
						<label class="label-error-message" ng-bind="materialkitFeesPaidErrMsg" ng-show="showMaterialKitFeesPaidErr"></label>
						<input class="form-control" type="text" name="materialkitfeespaid" ng-model="feespaymentplayschooldata.materialkitfeespaid">
					</div>

					<div class="form-group">
						<label>Activity Fees </label>
						<label class="label-error-message" ng-bind="activityFeesMsg" ng-show="showActivityFeesErr"></label>
						<input class="form-control" type="text" name="activityfees" ng-model="feespaymentplayschooldata.activityfees">
					</div>
                    <div class="form-group">
						<label>Activity Fees Paid</label>
						<label class="label-error-message" ng-bind="activityFeesPaidErrMsg" ng-show="showActivityFeesPaidErr"></label>
						<input class="form-control" type="text" name="activityfeespaid" ng-model="feespaymentplayschooldata.activityfeespaid">
					</div>
                    <div class="form-group">
						<label>Tuition Fees </label>
						<label class="label-error-message" ng-bind="tutionFeesErrMsg" ng-show="showTuitionFeesErr"></label>
						<input class="form-control" type="text" name="tuitionfees" ng-model="feespaymentplayschooldata.tuitionfees">
					</div>
					<div class="form-group">
						<label>Tuition Fees Paid</label>
						<label class="label-error-message" ng-bind="tuitionFeesPaidErrMsg" ng-show="showTuitionFeesPaidErr"></label>
						<input class="form-control" type="text" name="tuitionfeespaid" ng-model="feespaymentplayschooldata.tuitionfeespaid">
					</div>
					<div class="form-group">
						<label>Total Fees</label>
						<label class="label-error-message" ng-bind="totalFeesErrMsg" ng-show="showTotalFeesErr"></label>
						<input class="form-control" type="text" name="totalfees" ng-model="feespaymentplayschooldata.totalfees">
					</div>
					<div class="form-group">
						<label>Total Fees Paid</label>
						<label class="label-error-message" ng-bind="totalFeesPaidErrMsg" ng-show="showTotalFeesPaidErr"></label>
						<input class="form-control" type="text" name="totalfeespaid" ng-model="feespaymentplayschooldata.totalfeespaid">
					</div>

					<div class="form-group">
						<label>Balance Fees</label>
						<label class="label-error-message" ng-bind="balanceFeesErrMsg" ng-show="showBalanceFeesErr"></label>
						<input class="form-control" type="text" name="balancefees" ng-model="feespaymentplayschooldata.balancefees">
					</div>

					<div class="form-group">
						<label>Due Date</label>
						<label class="label-error-message" ng-bind="dueDateErrMsg" ng-show="showDueDateErr"></label>
						<input class="form-control" type="text" name="duedate" ng-model="feespaymentplayschooldata.duedate">
					</div>
					<div class="form-group">
						<label>Payment Method</label>
						<label class="label-error-message" ng-bind="paymentMethodErrMsg" ng-show="showPaymentMethodErr"></label>
						<select class="form-control" ng-model="feespaymentplayschooldata.paymentmethod">
							<option>Select Payment Method</option>
							<option>CASH</option>
							<option>CHEQUE</option>
							<option>ONLINE PAYMENT</option>
							
						</select>
					</div>

					
					<div class="form-group">
						<label>Cheque No</label>
						<input class="form-control" type="text" name="chequeno" ng-model="feespaymentplayschooldata.chequeno">
					</div>
					<div class="form-group">
						<label>Cheque Date</label>
						<input class="form-control" type="text" name="chequedate" ng-model="feespaymentplayschooldata.chequedate">
					</div>
                    <div class="form-group">
						<label>Bank Name</label>

						<input class="form-control" type="text" name="bankname" ng-model="feespaymentplayschooldata.bankname">
					</div>
					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="feespaymentplayschooldata.loginuser">
					</div>
					<div class="form-group">
						<label>Institute ID</label>
						<label class="label-error-message" ng-bind="instituteIdErrMsg" ng-show="showInstituteIDErr"></label>						
						<input class="form-control" type="text" name="instituteid" ng-model="feespaymentplayschooldata.instituteid">
					</div>

				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" ng-click="autogenerate()"value="SAVE">
			</div>
			<div class="" ng-if="successmsgflag">
				<p style="color: green">{{successmsg}}</p>
				<p>Bill No: <strong style="color: red">{{generatedBillNo}}</strong></p>
			</div>
		</form>
	</div>
</div>