<h1>FEES PAYMENT</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="feespayment" ng-submit="feesPaymentSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Date</label>
						<input class="form-control" type="text" name="date" ng-model="feespaymentdata.date">
					</div>
					<div class="form-group">
						<label>Bill No</label>
						<input class="form-control" type="text" name="billno" ng-model="feespaymentdata.billno">
					</div>
					<div class="form-group">
						<label>Registration No</label>
						<input class="form-control" type="text" name="regno" ng-model="feespaymentdata.regno">
					</div>
					<div class="form-group">
						<label>Admission No</label>
						<input class="form-control" type="text" name="admissionno" ng-model="feespaymentdata.admissionno">
					</div>
					<div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" name="name" ng-model="feespaymentdata.name">
					</div>
					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="feespaymentdata.branchcode">
					</div>
					<div class="form-group">
						<label>Branch Name</label>
						<input class="form-control" type="text" name="branchname" ng-model="feespaymentdata.branchname">
					</div>
					<div class="form-group">
						<label>Semester</label>
						<input class="form-control" type="text" name="semester" ng-model="feespaymentdata.semester">
					</div>
					
					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="feespaymentdata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>
					<div class="form-group">
						<label>Payment Method</label>
						<select class="form-control" ng-model="feespaymentdata.paymentmethod">
							<option>Select Payment</option>
							<option>Full Payment</option>
							<option>Partial Payment</option>
						</select>
					</div>
					<div class="form-group">
						<label>Admission Fees Total</label>
						<input class="form-control" type="text" name="admnfeestot" ng-model="feespaymentdata.admnfeestot">
					</div>
                    <div class="form-group">
						<label>Admission Fees Paid</label>
						<input class="form-control" type="text" name="admnfeespaid" ng-model="feespaymentdata.admnfeespaid">
					</div>

					<div class="form-group">
						<label>Admission Fees Balance</label>
						<input class="form-control" type="text" name="admnfeesbal" ng-model="feespaymentdata.admnfeesbal">
					</div>
                    <div class="form-group">
						<label>Tution Fees Total</label>
						<input class="form-control" type="text" name="tutionfeestot" ng-model="feespaymentdata.tutionfeestot">
					</div>
                    <div class="form-group">
						<label>Tution Fees Paid</label>
						<input class="form-control" type="text" name="tutionfeespaid" ng-model="feespaymentdata.tutionfeespaid">
					</div>
					<div class="form-group">
						<label>Tution Fees Balance</label>
						<input class="form-control" type="text" name="tutionfeesbal" ng-model="feespaymentdata.tutionfeesbal">
					</div>
					<div class="form-group">
						<label>Transport Fees Total</label>
						<input class="form-control" type="text" name="transfeestot" ng-model="feespaymentdata.transfeestot">
					</div>
					<div class="form-group">
						<label>Transport Fees Paid</label>
						<input class="form-control" type="text" name="transfeespaid" ng-model="feespaymentdata.transfeespaid">
					</div>
					<div class="form-group">
						<label>Transport Fees Balance</label>
						<input class="form-control" type="text" name="transfeesbal" ng-model="feespaymentdata.transfeesbal">
					</div>
					<div class="form-group">
						<label>Hostel Fees Total</label>
						<input class="form-control" type="text" name="hostfeestot" ng-model="feespaymentdata.hostfeestot">
					</div>
					<div class="form-group">
						<label>Hostel Fees Paid</label>
						<input class="form-control" type="text" name="hostfeespaid" ng-model="feespaymentdata.hostfeespaid">
					</div>
					<div class="form-group">
						<label>Hostel Fees Balance</label>
						<input class="form-control" type="text" name="hostfeesbal" ng-model="feespaymentdata.hostfeesbal">
					</div>
					<div class="form-group">
						<label>Food Fees Total</label>
						<input class="form-control" type="text" name="foodfeestot" ng-model="feespaymentdata.foodfeestot">
					</div>
					<div class="form-group">
						<label>Food Fees Paid</label>
						<input class="form-control" type="text" name="foodfeespaid" ng-model="feespaymentdata.foodfeespaid">
					</div>
					<div class="form-group">
						<label>Food Fees Balance</label>
						<input class="form-control" type="text" name="foodfeesbal" ng-model="feespaymentdata.foodfeesbal">
					</div>
					<div class="form-group">
						<label>Text BookFees Total</label>
						<input class="form-control" type="text" name="txtbookfeestot" ng-model="feespaymentdata.txtbookfeestot">
					</div>
					<div class="form-group">
						<label>Text BookFees Paid</label>
						<input class="form-control" type="text" name="txtbookfeespaid" ng-model="feespaymentdata.txtbookfeespaid">
					</div>
					<div class="form-group">
						<label>Text BookFees Balance</label>
						<input class="form-control" type="text" name="txtbookfeesbal" ng-model="feespaymentdata.txtbookfeesbal">
					</div>	
					<div class="form-group">
						<label>Miscalleneous Fees Total</label>
						<input class="form-control" type="text" name="miscfeestot" ng-model="feespaymentdata.miscfeestot">
					</div>
					<div class="form-group">
						<label>Miscalleneous Fees Paid</label>
						<input class="form-control" type="text" name="miscfeespaid" ng-model="feespaymentdata.miscfeespaid">
					</div>
					<div class="form-group">
						<label>Miscalleneous Fees Balance</label>
						<input class="form-control" type="text" name="miscfeesbal" ng-model="feespaymentdata.miscfeesbal">
					</div>
					<div class="form-group">
						<label>Special Fees Total</label>
						<input class="form-control" type="text" name="splfeestot" ng-model="feespaymentdata.splfeestot">
					</div>
					<div class="form-group">
						<label>Special Fees Paid</label>
						<input class="form-control" type="text" name="splfeespaid" ng-model="feespaymentdata.splfeespaid">
					</div>
					<div class="form-group">
						<label>Special Fees Balance</label>
						<input class="form-control" type="text" name="splfeesbal" ng-model="feespaymentdata.splfeesbal">
					</div>
					<div class="form-group">
						<label>Penalty Fees Total</label>
						<input class="form-control" type="text" name="penaltyfeestot" ng-model="feespaymentdata.penaltyfeestot">
					</div>
					<div class="form-group">
						<label>Penalty Fees Paid</label>
						<input class="form-control" type="text" name="penaltyfeespaid" ng-model="feespaymentdata.penaltyfeespaid">
					</div>
					<div class="form-group">
						<label>Penalty Fees Balance</label>
						<input class="form-control" type="text" name="penaltyfeesbal" ng-model="feespaymentdata.penaltyfeesbal">
					</div>
					<div class="form-group">
						<label>Old Balance Total</label>
						<input class="form-control" type="text" name="oldbalancetot" ng-model="feespaymentdata.oldbalancetot">
					</div>
					<div class="form-group">
						<label>Old Balance Paid</label>
						<input class="form-control" type="text" name="oldbalancepaid" ng-model="feespaymentdata.oldbalancepaid">
					</div>
					<div class="form-group">
						<label>Old Balance balance</label>
						<input class="form-control" type="text" name="oldbalancebal" ng-model="feespaymentdata.oldbalancebal">
					</div>
					<div class="form-group">
						<label>Group Insurance Total</label>
						<input class="form-control" type="text" name="groupinsurancetot" ng-model="feespaymentdata.groupinsurancetot">
					</div>
					<div class="form-group">
						<label>Group Insurance Paid</label>
						<input class="form-control" type="text" name="groupinsurancepaid" ng-model="feespaymentdata.groupinsurancepaid">
					</div>
					<div class="form-group">
						<label>Group Insurance Balance</label>
						<input class="form-control" type="text" name="groupinsurancebal" ng-model="feespaymentdata.groupinsurancebal">
					</div>
					<div class="form-group">
						<label>Others Fees Total</label>
						<input class="form-control" type="text" name="othersfeestot" ng-model="feespaymentdata.othersfeestot">
					</div>
					<div class="form-group">
						<label>Others Fees Paid</label>
						<input class="form-control" type="text" name="othersfeespaid" ng-model="feespaymentdata.othersfeespaid">
					</div>
					<div class="form-group">
						<label>Others Fees Balance</label>
						<input class="form-control" type="text" name="othersfeesbal" ng-model="feespaymentdata.othersfeesbal">
					</div>
					<div class="form-group">
						<label>Total Fees Total</label>
						<input class="form-control" type="text" name="totfeestot" ng-model="feespaymentdata.totfeestot">
					</div>
					<div class="form-group">
						<label>Total Fees paid</label>
						<input class="form-control" type="text" name="totfeespaid" ng-model="feespaymentdata.totfeespaid">
					</div>
					<div class="form-group">
						<label>Total Fees Balance</label>
						<input class="form-control" type="text" name="totfeesbal" ng-model="feespaymentdata.totfeesbal">
					</div>
					<div class="form-group">
						<label>Due Date</label>
						<input class="form-control" type="text" name="duedate" ng-model="feespaymentdata.duedate">
					</div>
					
					<div class="form-group">
						<label>Cheque No</label>
						<input class="form-control" type="text" name="chequeno" ng-model="feespaymentdata.chequeno">
					</div>
					<div class="form-group">
						<label>Cheque Date</label>
						<input class="form-control" type="text" name="chequedate" ng-model="feespaymentdata.chequedate">
					</div>
                    <div class="form-group">
						<label>Bank Name</label>
						<input class="form-control" type="text" name="bankname" ng-model="feespaymentdata.bankname">
					</div>
					<div class="form-group">
						<label>Denomination</label>
					</div>
					<div class="form-group">
						<label>2k</label>
						<label>X</label>
						<input type="text" name="text"  ng-model="text">
						<label>=</label>
						<input type="text" name="text" ng-model="text">
					</div>
					<div class="form-group">
						<label>1k</label>
						<label>X</label>
						<input type="text" name="text"  ng-model="text">
						<label>=</label>
						<input type="text" name="text" ng-model="text">
					</div>
					<div class="form-group">
						<label>500</label>
						<label>X</label>
						<input type="text" name="text"  ng-model="text">
						<label>=</label>
						<input type="text" name="text" ng-model="text">
					</div>
					<div class="form-group">
						<label>100</label>
						<label>X</label>
						<input type="text" name="text"  ng-model="text">
						<label>=</label>
						<input type="text" name="text" ng-model="text">
					</div>
					<div class="form-group">
						<label>50</label>
						<label>X</label>
						<input type="text" name="text"  ng-model="text">
						<label>=</label>
						<input type="text" name="text" ng-model="text">
					</div>
					<div class="form-group">
						<label>20</label>
						<label>X</label>
						<input type="text" name="text"  ng-model="text">
						<label>=</label>
						<input type="text" name="text" ng-model="text">
					</div>
					<div class="form-group">
						<label>10</label>
						<label>X</label>
						<input type="text" name="text"  ng-model="text">
						<label>=</label>
						<input type="text" name="text" ng-model="text">
					</div>
					<div class="form-group">
						<label>coins</label>
						<label>X</label>
						<input type="text" name="text"  ng-model="text">
						<label>=</label>
						<input type="text" name="text" ng-model="text">
					</div>
					<div class="form-group">
						<label>Number Of Print</label>
						<input class="form-control" type="text" name="noofprint" ng-model="feespaymentdata.noofprint">
					</div>
					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="feespaymentdata.loginuser">
					</div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="CREATE USER">
			</div>
		</form>
	</div>
</div>