<h1>FIRST AID ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="firstaidentryform" ng-submit="firstaidEntrySubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Date</label>
						<input class="form-control" type="text" name="currentdate" ng-model="firstaidentrtydata.currentdate">
					</div>
                   
                    <div class="form-group">
						<label>First Aid Id</label>
						<input class="form-control" type="text" name="firstaidid" ng-model="firstaidentrtydata.firstaidid">
					</div>

                    
                    <div class="form-group">
						<label>Registration No</label>
						<input class="form-control" type="text" name="regno" ng-model="firstaidentrtydata.regno">
					</div>

                    <div class="form-group">
						<label>Admission No</label>
						<input class="form-control" type="text" name="admissionno" ng-model="firstaidentrtydata.admissionno">
					</div>
                    
                    <div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" name="name" ng-model="firstaidentrtydata.name">
					</div>

					<div class="form-group">
						<label>Branch Name</label>
						<select class="form-control" ng-model="firstaidentrtydata.branchname">
							<option>Select Category</option>
							<option>Civil Engineering</option>
							<option>Mechanical Engineering</option>
							<option>Automobile Engineering</option>
							<option>Electrtical and Electronics Engg</option>
							<option>Electronics and Communication</option>
							<option>Computer Engineering</option>
							<option>Information Technology</option>
						</select>
					</div>

					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="firstaidentrtydata.branchcode">
					</div>

					<div class="form-group">
						<label>Batch</label>
						<select class="form-control" ng-model="firstaidentrtydata.batch">
							<option>Select Batch</option>
							<option>Batch - I</option>
							<option>Batch - II</option>
							<option>Batch - III</option>
							<option>Batch - IV</option>
						</select>
					</div>

                    <div class="form-group">
						<label>Semester</label>
						<select class="form-control" ng-model="firstaidentrtydata.semester">
							<option>Select Semester</option>
							<option>I</option>
							<option>II</option>
							<option>III</option>
							<option>IV</option>
						</select>
					</div>


                    <div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="firstaidentrtydata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
  							<option>2020-2021</option>
						</select>
					</div>

                    <div class="form-group">
						<label>Reason For First Aid</label>
						<input class="form-control" type="text" name="reasonforfirstaid" ng-model="firstaidentrtydata.reasonforfirstaid">
					</div>

                    <div class="form-group">
						<label>FirstAid Details</label>
						<input class="form-control" type="text" name="firstaiddetails" ng-model="firstaidentrtydata.firstaiddetails">
					</div>
                    
                    <div class="form-group">
						<label>Hospital Name</label>
						<input class="form-control" type="text" name="hospitalname" ng-model="firstaidentrtydata.hospitalname">
					</div>

					<div class="form-group">
						<label>Hospital Fees</label>
						<input class="form-control" type="text" name="hospitalfees" ng-model="firstaidentrtydata.hospitalfees">
					</div>


                    <div class="form-group">
						<label>Remarks</label>
						<input class="form-control" type="text" name="remarks" ng-model="firstaidentrtydata.remarks">
					</div>

                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="firstaidentrtydata.loginuser">
					</div>
                     
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="CREATE USER">
			</div>
		</form>
	</div>
</div>