<h1>FUEL FILLING</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="fuelfillingform" ng-submit="fuelFillingSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">

				
					<div class="form-group">
						<label>Current Date</label>
						<input class="form-control" type="text" name="currentdate" ng-model="fuelfillingdata.currentdate">
					</div>

					<div class="form-group">
						<label>Vehicle No</label>
						<input class="form-control" type="text" name="vehicleno" ng-model="fuelfillingdata.vehicleno">
					</div>
                    
                    <div class="form-group">
						<label>Vehicle Type</label>
						<input class="form-control" type="text" name="vehicletype" ng-model="fuelfillingdata.vehicletype">
					</div>
                    
                    <div class="form-group">
						<label>Filling Station</label>
						<input class="form-control" type="text" name="fillingstation" ng-model="fuelfillingdata.fillingstation">
					</div>
                    
                    <div class="form-group">
						<label>Filling Station Mobile No</label>
						<input class="form-control" type="text" name="fillingstationmobno" ng-model="fuelfillingdata.fillingstationmobno">
					</div>
                    

                    <div class="form-group">
						<label>Driver ID</label>
						<input class="form-control" type="text" name="driverid" ng-model="fuelfillingdata.driverid">
					</div>


                    <div class="form-group">
						<label>Driver Name</label>
						<input class="form-control" type="text" name="drivername" ng-model="fuelfillingdata.drivername">
					</div>


                    <div class="form-group">
						<label>No Of Litres</label>
						<input class="form-control" type="text" name="nooflitres" ng-model="fuelfillingdata.nooflitres">
					</div>


                    <div class="form-group">
						<label>Amount</label>
						<input class="form-control" type="text" name="amount" ng-model="fuelfillingdata.amount">
					</div>


                    <div class="form-group">
						<label>Last Filled Date</label>
						<input class="form-control" type="text" name="lastfilleddate" ng-model="fuelfillingdata.lastfilleddate">
					</div>


                    <div class="form-group">
						<label>Last Filled Litres</label>
						<input class="form-control" type="text" name="lastfilledlitres" ng-model="fuelfillingdata.lastfilledlitres">
					</div>
					
                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="fuelfillingdata.loginuser">
					</div>
					

				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="CREATE USER">
			</div>
		</form>
	</div>
</div>