<h1>HOSTEL FEES SETTING</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="hostelfeessettingform" ng-submit="hostelFeesSettingSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Fees Setting Date</label>
						<input class="form-control" type="text" name="feessettingdate" ng-model="hostelfeessettingdata.feessettingdate">
					</div>
					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="hostelfeessettingdata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>
					<div class="form-group">
						<label>Individual Room Fees</label>
						<input class="form-control" type="text" name="individualroomfees" ng-model="hostelfeessettingdata.individualroomfees">
					</div>
					<div class="form-group">
						<label>Group Room Fees</label>
						<input class="form-control" type="text" name="grouproomfees" ng-model="hostelfeessettingdata.grouproomfees">
					</div>
					<div class="form-group">
						<label>Single Cot Fees</label>
						<input class="form-control" type="text" name="singlecotfees" ng-model="hostelfeessettingdata.singlecotfees">
					</div>
					<div class="form-group">
						<label>Multi Cot Fees</label>
						<input class="form-control" type="text" name="multicotfees" ng-model="hostelfeessettingdata.multicotfees">
					</div>
					<div class="form-group">
						<label>Food Fees</label>
						<input class="form-control" type="text" name="foodfees" ng-model="hostelfeessettingdata.foodfees">
					</div>
					<div class="form-group">
						<label>Others</label>
						<input class="form-control" type="text" name="others" ng-model="hostelfeessettingdata.others">
					</div>
					<div class="form-group">
						<label>Total Fees</label>
						<input class="form-control" type="text" name="totalfees" ng-model="hostelfeessettingdata.totalfees">
					</div>
					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="hostelfeessettingdata.loginuser">
					</div>
					
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="SAVE">
			</div>
		</form>
	</div>
</div>