<h1>INDIVIDUAL STUDENT PROGRESS VIEW</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="individualstudentprogressplayschoolform" ng-submit="individualStudentProgressViewPlaySchoolSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Registration No</label>
						<input class="form-control" type="text" name="registernumber" ng-model="studentpersonalinfodata1.registernumber">
					</div>
					<div class="form-group">	
					<div class="text-right">
						<input type="button" class="btn btn-default form-button" ng-click="getStudentProgressInfoView()" value="SEARCH">
					</div>
					</div>
					<div class="form-group" ng-show="studentprogressinfoview.name">
						<label>Name</label>
						<p>{{studentprogressinfoview.name}}</p>
					</div>
					<div class="form-group" ng-show="studentprogressinfoview.program">
						<label>Program</label>
						<p>{{studentprogressinfoview.program}}</p>
					</div>

					<div class="form-group" ng-show="studentprogressinfoview.section">
						<label>Section</label>
						<p>{{studentprogressinfoview.section}}</p>
					</div>

					<div class="form-group" ng-show ="studentprogressinfoview.academicyear">
						<label>Academic Year</label>
						<p>{{studentprogressinfoview.academicyear}}</p>
					</div>

					<div class="form-group" ng-show ="studentprogressinfoview.category1_rating">
						<label>Category 1 Grade</label>
						<p>{{studentprogressinfoview.category1_rating}}</p>
					</div>
					<div class="form-group" ng-show ="studentprogressinfoview.category2_rating">
						<label>Category 2 Grade</label>
						<p>{{studentprogressinfoview.category2_rating}}</p>
					</div>
					<div class="form-group" ng-show ="studentprogressinfoview.category3_rating">
						<label>Category 3 Grade</label>
						<p>{{studentprogressinfoview.category3_rating}}</p>
					</div>
					<div class="form-group" ng-show ="studentprogressinfoview.category4_rating">
						<label>Category 4 Grade</label>
						<p>{{studentprogressinfoview.category4_rating}}</p>
					</div>
					<div class="form-group" ng-show ="studentprogressinfoview.category5_rating">
						<label>Category 5 Grade</label>
						<p>{{studentprogressinfoview.category5_rating}}</p>
					</div>
					<div class="form-group" ng-show ="studentprogressinfoview.category6_rating">
						<label>Category 6 Grade</label>
						<p>{{studentprogressinfoview.category6_rating}}</p>
					</div>
					<div class="form-group" ng-show ="studentprogressinfoview.category7_rating">
						<label>Category 7 Grade</label>
						<p>{{studentprogressinfoview.category7_rating}}</p>
					</div>
					<div class="form-group" ng-show ="studentprogressinfoview.category8_rating">
						<label>Category 8 Grade</label>
						<p>{{studentprogressinfoview.category8_rating}}</p>
					</div>
					<div class="form-group" ng-show ="studentprogressinfoview.category9_rating">
						<label>Category 9 Grade</label>
						<p>{{studentprogressinfoview.category9_rating}}</p>
					</div>
					<div class="form-group" ng-show ="studentprogressinfoview.category10_rating">
						<label>Category 10 Grade</label>
						<p>{{studentprogressinfoview.category10_rating}}</p>
					</div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="CREATE USER">
			</div>
		</form>
	</div>
</div>