<h1>INSTITUTE SCHOOL SUBJECT DETAIL ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="instituteschoolsubjectdetailsform" ng-submit="instituteschoolsubjectdetailsSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">	
					<div class="form-group">
						<label>Enter Institute Id</label>
						<input class="form-control" type="text" name="instituteid" ng-model="instituteschoolsubjectdetailsdata.instituteid">
					</div>

					<div class="form-group">
						<label>Standard</label>
						<select class="form-control" ng-model="instituteschoolsubjectdetailsdata.standard">
							<option>Select Standard</option>
							<option>PRE-KG</option>
							<option>LKG</option>
							<option>UKG</option>
							<option>I STD</option>
							<option>II STD</option>
							<option>III STD</option>
							<option>IV STD</option>
							<option>V STD</option>
							<option>VI STD</option>
							<option>VII STD</option>
							<option>VIII STD</option>
							<option>IX STD</option>
							<option>X STD</option>
							<option>XI STD</option>
							<option>XII STD</option>
						</select>
					</div>

					<div class="form-group">
						<label>Group</label>
						<select class="form-control" ng-model="instituteschoolsubjectdetailsdata.group">
							<option>Select Group</option>
							<option>GENERAL</option>
							<option>GROUP-I</option>
							<option>GROUP-II</option>
							<option>GROUP-III</option>
						</select>
					</div>

					<div class="form-group">
						<label>Enter Full Subject Name</label>
						<input class="form-control" type="text" name="subjectname" ng-model="instituteschoolsubjectdetailsdata.subjectname">

					</div>

					<div class="form-group">
						<label>Enter Subject Name in Short</label>
						<input class="form-control" type="text" name="subjectnameinshort" ng-model="instituteschoolsubjectdetailsdata.subjectnameinshort">

					</div>

					<div class="form-group">
						<label>Subject Type</label>
						<select class="form-control" ng-model="instituteschoolsubjectdetailsdata.subjecttype">
							<option>Select Subject Type</option>
							<option>THEORY</option>
							<option>PRACTICAL</option>
						</select>
					</div>

					<div class="form-group">
						<label>Enter Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="instituteschoolsubjectdetailsdata.loginuser">
					</div>

                    
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>