<h1>LIBRARY CD ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="librarycdentryform" ng-submit="libraryCdEntrySubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter CD Id</label>
						<input class="form-control" type="text" name="cdid" ng-model="librarycddata.bookid">
					</div>
					<div class="form-group">
						<label>Enter CD Type</label>
						<select class="form-control" ng-model="librarybookdata.cdtype">
							<option>Select CD Type</option>
							<option>Reference Book CD</option>
							<option>Seminar CD</option>
							<option>Journal CD</option>
							<option>Lab Demo CD</option>
							<option>Project Work CD</option>
						</select>
					</div>
                    
                    <div class="form-group">
						<label>CD Serial No</label>
						<input class="form-control" type="text" name="bookslno" ng-model="librarycddata.cdlno">
					</div>
                    <div class="form-group">
						<label>CD Cub Board No</label>
						<input class="form-control" type="text" name="cubboardno" ng-model="librarycddata.cubboardno">
					</div>

                    <div class="form-group">
						<label>Enter CD Name</label>
						<input class="form-control" type="text" name="bookname" ng-model="librarycddata.cdname">
					</div>
                    
                    <div class="form-group">
						<label>Enter Author Name</label>
						<input class="form-control" type="text" name="authorname" ng-model="librarycddata.authorname">
					</div>

					<div class="form-group">
						<label>Enter Publisher Name</label>
						<input class="form-control" type="text" name="publishername" ng-model="librarycddata.publishername">
					</div>
					<div class="form-group">
						<label>Enter Purchased From</label>
						<input class="form-control" type="text" name="purchasedfrom" ng-model="librarycddata.purchasedfrom">
					</div>
					<div class="form-group">
						<label>Enter Purchased Date</label>
						<input class="form-control" type="text" name="purchaseddate" ng-model="librarycddata.purchaseddate">
					</div>
					<div class="form-group">
						<label>Enter Unit Price</label>
						<input class="form-control" type="text" name="unitprice" ng-model="librarycddata.unitprice">
					</div>

					<div class="form-group">
						<label>Enter Number of Copies</label>
						<input class="form-control" type="text" name="noofcopies" ng-model="librarycddata.noofcopies">
					</div>
					<div class="form-group">
						<label>Enter Total Price </label>
						<input class="form-control" type="text" name="totalprice" ng-model="librarycddata.totalprice">
					</div>
					<div class="form-group">
						<label>Enter CD Status</label>
						<select class="form-control" ng-model="librarycddata.cdstatus">
							<option>Select CD Status</option>
							<option>Available</option>
							<option>Not Available</option>
							<option>Damaged</option>
							<option>Missed</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Academic Year</label>
						<select class="form-control" ng-model="librarycddata.academicyear">
							<option>Select Academi Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>

					<br/>
					<br/>
					<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table>
							<tr>
							<th>S. No</th>
							<th>Branch Name</th>
							<th>Branch Code</th>
							<th>Action</th>
							</tr>
							<tr>
								<td>#</td>
								<td>
								<select class="form-control" ng-model="librarycddata.branch">
								<option>Select Branch</option>
								<option>CIVIL ENGINEERING</option>
								<option>MECHANICAL ENGINEERING</option>
								<option>AUTOMOBILE ENGINEERING</option>
								<option>ELECTRICAL AND ELECTRONICS ENGINEERING</option>
								</select>
								</td>
								<td><input type="text" ng-model="librarycddata.branchcode" class="form-control" /></td>
								
																
								<td><input type="button" value="Add" ng-click="additem(librarycddata)"/></td>
							</tr>
							<tr ng-repeat= "librarycddata in librarycddataList">
								<td>{{$index+1}}</td>
								<td ng-bind="librarycddata.branch"></td>
								<td ng-bind="librarycddata.branchcode"></td>
								
																
								<td><input type="button" value="Delete" ng-click="deleteitem(librarycddata)"/></td>
							</tr>
					</table>
				</div>
			</div>
					<br/>
					<br/>
					<br/>



                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="librarycddata.loginuser">
					</div>
                     
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>