<h1>LIBRARY BOOK ISSUING AND RETURNING ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="librarybookissuereturnform" ng-submit="libraryBooksIssueReturnSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="currentdate" ng-model="librarybookissuereturndata.currentdate">
					</div>
					<div class="form-group">
						<label>Enter Member ID</label>
						<input class="form-control" type="text" name="memberid" ng-model="librarybookissuereturndata.memberid">
					</div>
					<div class="form-group">
						<label>Enter Register Number</label>
						<input class="form-control" type="text" name="regno" ng-model="librarybookissuereturndata.regno">
					</div>
					<div class="form-group">
						<label>Enter Member Name</label>
						<input class="form-control" type="text" name="membername" ng-model="librarybookissuereturndata.membername">
					</div>
					
					<div class="form-group">
						<label>Enter Branch</label>
						<select class="form-control" ng-model="librarybookissuereturndata.branch">
							<option>Select Branch</option>
							<option>Civil Engineering</option>
							<option>Mecahnical Engineering</option>
							<option>Automobile Engineering</option>

						</select>
					</div>
                    <div class="form-group">
						<label>Enter Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="librarybookissuereturndata.branchcode">
					</div>
					
                    <div class="form-group">
						<label>Enter Batch</label>
						<select class="form-control" ng-model="librarybookissuereturndata.batch">
							<option>Select Batch</option>
							<option>Batch - I</option>
							<option>Batch - II</option>
							<option>Batch - III</option>

						</select>
					</div>
					<div class="form-group">
						<label>Enter Semester</label>
						<select class="form-control" ng-model="librarybookissuereturndata.semester">
							<option>Select Semester</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>

						</select>
					</div>
					<div class="form-group">
						<label>Enter Academic Year</label>
						<select class="form-control" ng-model="librarybookissuereturndata.academicyear">
							<option>Select Semester</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
							<option>2020-2021</option>
							<option>2021-2022</option>
							<option>2022-2023</option>
							<option>2023-2024</option>

						</select>
					</div>
      
                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="librarybookissuereturndata.loginuser">
					</div>
                     
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>