<h1>LIBRARY BOOK ISSUING AND RETURNING ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="librarybookissuereturnform" ng-submit="libraryBooksIssueReturnSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="currentdate" ng-model="librarybookissuereturndata.currentdate">
					</div>
					<div class="form-group">
						<label>Enter Member ID</label>
						<input class="form-control" type="text" name="memberid" ng-model="librarybookissuereturndata.memberid">
					</div>
					<div class="form-group">
						<label>Enter Register Number</label>
						<input class="form-control" type="text" name="regno" ng-model="librarybookissuereturndata.regno">
					</div>
					<div class="form-group">
						<label>Enter Member Name</label>
						<input class="form-control" type="text" name="membername" ng-model="librarybookissuereturndata.membername">
					</div>
					
					<div class="form-group">
						<label>Enter Branch</label>
						<select class="form-control" ng-model="librarybookissuereturndata.branch">
							<option>Select Branch</option>
							<option>Civil Engineering</option>
							<option>Mecahnical Engineering</option>
							<option>Automobile Engineering</option>

						</select>
					</div>
                    <div class="form-group">
						<label>Enter Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="librarybookissuereturndata.branchcode">
					</div>
					
                    <div class="form-group">
						<label>Enter Batch</label>
						<select class="form-control" ng-model="librarybookissuereturndata.batch">
							<option>Select Batch</option>
							<option>Batch - I</option>
							<option>Batch - II</option>
							<option>Batch - III</option>

						</select>
					</div>
					<div class="form-group">
						<label>Enter Semester</label>
						<select class="form-control" ng-model="librarybookissuereturndata.semester">
							<option>Select Semester</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>

						</select>
					</div>
					<div class="form-group">
						<label>Enter Academic Year</label>
						<select class="form-control" ng-model="librarybookissuereturndata.academicyear">
							<option>Select Semester</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
							<option>2020-2021</option>
							<option>2021-2022</option>
							<option>2022-2023</option>
							<option>2023-2024</option>

						</select>
					</div>
      
                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="librarybookissuereturndata.loginuser">
					</div>
                     
				</div>
			</div>

					<br/>
					<br/>
					<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table>
							<tr>
							<th>S. No</th>
							<th>Book Name</th>
							<th>Book Id</th>
							<th>Book Sl.No</th>
							<th>Return Date</th>
							<th>Book Status</th>
							<th>Fine</th>
							<th>Action</th>
							</tr>
							<tr>
								<td>#</td>
								<td>
								<select class="form-control" ng-model="librarybookissuereturndata.bookname">
								<option>Select Book</option>
								<option>C++ Programming</option>
								<option>Java Programming</option>
								<option>.net Programming</option>
								<option>Software Engineering</option>
								</select>
								</td>
								<td><input type="text" ng-model="librarybookissuereturndata.bookid" class="form-control" /></td>
								<td><input type="text" ng-model="librarybookissuereturndata.bookslno" class="form-control" /></td>
								<td><input type="text" ng-model="librarybookissuereturndata.returndate" class="form-control" /></td>	
								<td>
								<select class="form-control" ng-model="librarybookissuereturndata.bookstatus">
								<option>Select Book Status</option>
								<option>ISSUED AS GOOD</option>
								<option>RETURNED AS GOOD</option>
								<option>RETURNED AS DAMAGED</option>
								<option>MISSED</option>
								</select>
								</td>
								<td><input type="text" ng-model="librarybookissuereturndata.fine" class="form-control" /></td>							
								<td><input type="button" value="Add" ng-click="additem(librarybookissuereturndata)"/></td>
							</tr>
							<tr ng-repeat= "librarybookissuereturndata in librarybookissuereturndataList">
								<td>{{$index+1}}</td>
								<td ng-bind="librarybookissuereturndata.bookname"></td>
								<td ng-bind="librarybookissuereturndata.bookid"></td>
								<td ng-bind="librarybookissuereturndata.bookslno"></td>
								<td ng-bind="librarybookissuereturndata.returndate"></td>
								<td ng-bind="librarybookissuereturndata.bookstatus"></td>
								<td ng-bind="librarybookissuereturndata.fine"></td>

																
								<td><input type="button" value="Delete" ng-click="deleteitem(librarybookissuereturndata)"/></td>
							</tr>
					</table>
				</div>
			</div>
					<br/>
					<br/>
					<br/>



			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>


