<h1>LIBRARY BOOKS ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="librarybooksentryform" ng-submit="libraryBooksEntrySubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Book Id</label>
						<input class="form-control" type="text" name="bookid" ng-model="librarybookdata.bookid">
					</div>
					<div class="form-group">
						<label>Enter Book Type</label>
						<select class="form-control" ng-model="librarybookdata.booktype">
							<option>Select Book Type</option>
							<option>Reference Book</option>
							<option>Course Material</option>
						</select>
					</div>
                    
                    <div class="form-group">
						<label>Book Serial No</label>
						<input class="form-control" type="text" name="bookslno" ng-model="librarybookdata.bookslno">
					</div>
                    <div class="form-group">
						<label>Book Cub Board No</label>
						<input class="form-control" type="text" name="cubboardno" ng-model="librarybookdata.cubboardno">
					</div>

                    <div class="form-group">
						<label>Enter Book Name</label>
						<input class="form-control" type="text" name="bookname" ng-model="librarybookdata.bookname">
					</div>
                    
                    <div class="form-group">
						<label>Enter Author Name</label>
						<input class="form-control" type="text" name="authorname" ng-model="librarybookdata.authorname">
					</div>

					<div class="form-group">
						<label>Enter Publisher Name</label>
						<input class="form-control" type="text" name="publishername" ng-model="librarybookdata.publishername">
					</div>
					<div class="form-group">
						<label>Enter Purchased From</label>
						<input class="form-control" type="text" name="purchasedfrom" ng-model="librarybookdata.purchasedfrom">
					</div>
					<div class="form-group">
						<label>Enter Purchased Date</label>
						<input class="form-control" type="text" name="purchaseddate" ng-model="librarybookdata.purchaseddate">
					</div>
					<div class="form-group">
						<label>Enter Unit Price</label>
						<input class="form-control" type="text" name="unitprice" ng-model="librarybookdata.unitprice">
					</div>

					<div class="form-group">
						<label>Enter Number of Copies</label>
						<input class="form-control" type="text" name="noofcopies" ng-model="librarybookdata.noofcopies">
					</div>
					<div class="form-group">
						<label>Enter Total Price </label>
						<input class="form-control" type="text" name="totalprice" ng-model="librarybookdata.totalprice">
					</div>
					<div class="form-group">
						<label>Enter Book Status</label>
						<select class="form-control" ng-model="librarybookdata.bookstatus">
							<option>Select Book Status</option>
							<option>Available</option>
							<option>Not Available</option>
							<option>Damaged</option>
							<option>Missed</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Academic Year</label>
						<select class="form-control" ng-model="librarybookdata.academicyear">
							<option>Select Academi Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>

					<br/>
					<br/>
					<br/>

					<table>
							<tr>
							<th>Branch</th>
							<th>Branch Code</th>
							</tr>

							<tr ng-repeat= "librarybookdata in librarybookdataList">
							<td>{{librarybookdata.Branch}}</td>
							<td>{{librarybookdata.branchCode}}</td>
							</tr>
					</table>

					<br/>
					<br/>
					<br/>

                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="librarymemberdata.loginuser">
					</div>
                     
				</div>
			</div>

			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>