<div class="row">
	<div class="col-md-12">
		<div class="loginwrap">
			<div class="loginlogo-wrap">
				<img src="images/SIVlogo.png" class="loginlogo" />
			</div>
			<h1>LOGIN</h1>
			<form name="createuserform" ng-submit="loginSubmit()" novalidate>
				<div class="form-group">
					<label>Enter Username</label>
					<input class="form-control" type="text" name="username" ng-model="logindata.username">
				</div>
				<div class="form-group">
					<label>Enter Password</label>
					<input class="form-control" type="password" name="password" ng-model="logindata.password">
				</div>
				<div class="loginbtncont">
					<input type="submit" class="btn btn-primary form-button" value="LOGIN">
				</div>
			</form>
		</div>
	</div>
</div>