<h1>PARENT FEED BACK</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="parentfeedbackform" ng-submit="parentFeedBackSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Date</label>
						<input class="form-control" type="text" name="currentdate" ng-model="parentfeedbackdata.currentdate">
					</div>
                    
                    <div class="form-group">
						<label>Registration No</label>
						<input class="form-control" type="text" name="regno" ng-model="parentfeedbackdata.regno">
					</div>

                    <div class="form-group">
						<label>Admission No</label>
						<input class="form-control" type="text" name="admissionno" ng-model="parentfeedbackdata.admissionno">
					</div>
                    
                    <div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" name="name" ng-model="name">
					</div>
					<div class="form-group">
						<label>Branch</label>
						<input class="form-control" type="text" name="branch" ng-model="branch">
					</div>

					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="parentfeedbackdata.branchcode">
					</div>
					<div class="form-group">
						<label>Batch</label>
						<input class="form-control" type="text" name="batch" ng-model="parentfeedbackdata.batch">
					</div>

					<div class="form-group">
						<label>Semester</label>
						<input class="form-control" type="text" name="semester" ng-model="parentfeedbackdata.semester">
					</div>

					<div class="form-group">
						<label>Academic Year</label>
						<input class="form-control" type="text" name="academicyear" ng-model="parentfeedbackdata.academicyear">
					</div>
 
                    <div class="form-group">
						<label>Message To</label>
						<select class="form-control" ng-model="parentfeedbackdata.messageto">
							<option>Select Message To</option>
							<option>Management</option>
							<option>Principal</option>
							<option>HOD</option>
							<option>Lecturer</option>
						</select>
					</div>

                    <div class="form-group">
						<label>Message</label>
						<input class="form-control" type="text" name="message" ng-model="parentfeedbackdata.message">
					</div>

                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="parentfeedbackdata.loginuser">
					</div>
                     
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>