<h1>PRIMARY KEY TEST USER ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="primarykeytestuserform" ng-submit="primaryKeyUserSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Regno</label>
						<input class="form-control" type="text" name="regno" ng-model="primarykeyuserdata.regno">
					</div>
                    
                    <div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" name="name" ng-model="primarykeyuserdata.name">
					</div>

                    <div class="form-group">
						<label>Fees</label>
						<input class="form-control" type="text" name="Fees" ng-model="primarykeyuserdata.Fees">
					</div>
                    
                    <div class="form-group">
						<label>Department</label>
						<input class="form-control" type="text" name="Department" ng-model="primarykeyuserdata.Department">
					</div>

                   
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="CREATE USER">
			</div>
		</form>
	</div>
</div>