<h1>QUESTION ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="questionentryform" ng-submit="questionEntrySubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">
				<div class="form-group">
						<label>S.No</label>
						<input class="form-control" type="text" name="sno" ng-model="questionentrydata.sno">
				</div>	
				<div class="form-group">
						<label>Branch Name</label>
						<select class="form-control" ng-model="questionentrydata.branchname">
							<option>Select Category</option>
							<option>Civil Engineering</option>
							<option>Mechanical Engineering</option>
							<option>Automobile Engineering</option>
							<option>Electrtical and Electronics Engg</option>
							<option>Electronics and Communication</option>
							<option>Computer Engineering</option>
							<option>Information Technology</option>
						</select>
					</div>

					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="questionentrydata.branchcode">
					</div>

                    <div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="questionentrydata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>

					<div class="form-group">
						<label>Semester</label>
						<select class="form-control" ng-model="questionentrydata.semester">
							<option>Select Category</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
						</select>
					</div>

					<div class="form-group">
						<label>Batch</label>
						<select class="form-control" ng-model="questionentrydata.batch">
							<option>Select Batch</option>
							<option>Batch - I</option>
							<option>Batch - II</option>
							<option>Batch - III</option>
							<option>NULL</option>
						</select>
					</div>

					<div class="form-group">
						<label>Scheme</label>
						<select class="form-control" ng-model="questionentrydata.scheme">
							<option>Select scheme</option>
							<option>L</option>
							<option>M</option>
							<option>K</option>
						</select>
					</div>
					
                    <div class="form-group">
						<label>Subject Name</label>
						<select class="form-control" ng-model="questionentrydata.subjectname">
							<option>Select Subject</option>
							<option>C</option>
							<option>C++</option>
							<option>Java</option>
							<option>.Net</option>
							<option>SysAdmin</option>
						</select>
					</div>
					<div class="form-group">
						<label>Subject Code</label>
						<input class="form-control" type="text" name="subjectcode" ng-model="questionentrydata.subjectcode">
					</div>
					<div class="form-group">
						<label>Mark</label>
						<select class="form-control" ng-model="questionentrydata.mark">
							<option>Select Subject</option>
							<option>1</option>
							<option>2++</option>
							<option>3</option>
							<option>10</option>
							<option>12</option>
						</select>
					</div>
                    <div class="form-group">
						<label>Unit</label>
						<select class="form-control" ng-model="questionentrydata.unit">
							<option>Select Unit</option>
							<option>Unit - I</option>
							<option>Unit - II</option>
							<option>Unit - III</option>
							<option>Unit -IV</option>
							<option>Unit - V</option>
						</select>
					</div>
                    
                    <div class="form-group">
						<label>Model</label>
						<select class="form-control" ng-model="questionentrydata.model">
							<option>Select Model</option>
							<option>English</option>
							<option>Maths</option>
							<option>Physics</option>
						</select>
					</div>
                    
					<div class="form-group">
						<label>Category</label>
						<select class="form-control" ng-model="questionentrydata.category">
							<option>Select Category</option>
							<option>X</option>
							<option>Y</option>
							<option>Z</option>
						</select>
					</div>

					<div class="form-group">
						<label>Question Type</label>
						<select class="form-control" ng-model="questionentrydata.questiontype">
							<option>Select Category</option>
							<option>X</option>
							<option>Y</option>
							<option>Z</option>
						</select>
					</div>

					<div class="form-group">
						<label>Question</label>
						<input class="form-control" type="text" name="question" ng-model="questionentrydata.question">
						<input type="checkbox"  name="important" ng-model="questionentrydata.important"> Important</label>
					</div>

					<div class="form-group">
						<label>Question Status</label>
						<input type="checkbox"  name="selected" ng-model="questionentrydata.selected"> Selected</label>
					</div>
				
					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="questionentrydata.loginuser">
					</div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="CREATE USER">
			</div>
		</form>
	</div>
</div>