<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-3" hasequalheight>
                  <div class="dashboardmenu dashboardcolor0">
                    <span class="dashboardmenuicon customicons-reports"></span>
                    <span class="dashboardmentu-label">Application Sale Report</span>
                  </div>
                </div>
                <div class="col-sm-3" hasequalheight>
                  <div class="dashboardmenu dashboardcolor1">
                    <span class="dashboardmenuicon customicons-reports"></span>
                    <span class="dashboardmentu-label">Admission Report</span>
                  </div>
                </div>
                <div class="col-sm-3" hasequalheight>
                  <div class="dashboardmenu dashboardcolor2">
                    <span class="dashboardmenuicon customicons-reports"></span>
                    <span class="dashboardmentu-label">Daily Fees Report</span>
                  </div>
                </div>
                <div class="col-sm-3" hasequalheight>
                  <div class="dashboardmenu dashboardcolor3">
                    <span class="dashboardmenuicon customicons-reports"></span>
                    <span class="dashboardmentu-label">Fees Outstanding Report</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
