<h1>PLAYSCHOOL SCHOOL FEES SETTING</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="playschoolfeessettingform" ng-submit="playschoolFeesSettingSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Fees Setting Date</label>
						<input class="form-control" type="text" name="feessettingdate" ng-model="playschoolfeessettingdata.feessettingdate">
					</div>
					<div class="form-group">
						<label>PROGRAMME NAME</label>
						<select class="form-control" ng-model="playschoolfeessettingdata.program">
							<option>Select Program Name</option>
							<option>TODDLER PROGRAM</option>
							<option>PRE KG</option>
							<option>KG1</option>
							<option>KG2</option>
						</select>
					</div>
					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="playschoolfeessettingdata.academicyear">
							<option>Select Year</option>
							
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>
					<div class="form-group">
						<label>Admission Fees</label>
						<input class="form-control" type="text" name="admissionfees" ng-model="playschoolfeessettingdata.admissionfees">
					</div>
					<div class="form-group">
						<label>Admission Fees Due Date</label>
						<input class="form-control" type="text" name="admissionfees_due_date" ng-model="playschoolfeessettingdata.admissionfees_due_date">
					</div>
					<div class="form-group">
						<label>Term1 School Fees</label>
						<input class="form-control" type="text" name="term1fees" ng-model="playschoolfeessettingdata.term1fees">
					</div>
					<div class="form-group">
						<label>Term1 School Fees Due Date</label>
						<input class="form-control" type="text" name="term1fees_due_date" ng-model="playschoolfeessettingdata.term1fees_due_date">
					</div>
					<div class="form-group">
						<label>Term2 School Fees</label>
						<input class="form-control" type="text" name="term2fees" ng-model="playschoolfeessettingdata.term2fees">
					</div>
					<div class="form-group">
						<label>Term2 School Fees Due Date</label>
						<input class="form-control" type="text" name="term2fees_due_date" ng-model="playschoolfeessettingdata.term2fees_due_date">
					</div>
					<div class="form-group">
						<label>Grand Total Fees</label>
						<input class="form-control" type="text" name="grandtotalfees" ng-model="playschoolfeessettingdata.grandtotalfees">
					</div>
					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="playschoolfeessettingdata.loginuser">
					</div>
					
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SAVE">
			</div>
		</form>
	</div>
</div>