<h1>PLAYSCHOOL SCHOOL FEES SETTING</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="playschoolfeessettingform" ng-submit="playschoolFeesSettingSubmit()" novalidate class="form-validation">
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Fees Setting Date</label>
						<input class="form-control" type="text" name="feessettingdate" ng-model="playschoolfeessettingdata.feessettingdate" required>
					</div>
					<div class="form-group">
						<label>PROGRAMME NAME</label>
						<select class="form-control" ng-model="playschoolfeessettingdata.program" required>
							<option>Select Program Name</option>
							<option>TODDLER PROGRAM</option>
							<option>PRE KG</option>
							<option>KG1</option>
							<option>KG2</option>
						</select>
					</div>
					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="playschoolfeessettingdata.academicyear" required>
							<option>Select Year</option>
							
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>
					<div class="form-group">
						<label>Admission Fees</label>
						<input class="form-control" type="text" name="materialkitfees" ng-model="playschoolfeessettingdata.materialkitfees" required>
					</div>
					<div class="form-group">
						<label>Activity Fees</label>
						<input class="form-control" type="text" name="activityfees" ng-model="playschoolfeessettingdata.activityfees" required>
					</div>
					<div class="form-group">
						<label>Tuition Fees</label>
						<input class="form-control" type="text" name="tuitionfees" ng-model="playschoolfeessettingdata.tuitionfees" required>
					</div>
					<div class="form-group">
						<label>First Installment Amount</label>
						<input class="form-control" type="text" name="installment1fees" ng-model="playschoolfeessettingdata.installment1fees" required>
					</div>
					<div class="form-group">
						<label>First Installment Amount Due Date</label>
						<input class="form-control" type="text" name="installment1duedate" ng-model="playschoolfeessettingdata.installment1duedate" required>
					</div>
					<div class="form-group">
						<label>Second Installment Amount</label>
						<input class="form-control" type="text" name="installment2fees" ng-model="playschoolfeessettingdata.installment2fees" required>
					</div>
					<div class="form-group">
						<label>Second Installment Amount Due Date</label>
						<input class="form-control" type="text" name="installment2duedate" ng-model="playschoolfeessettingdata.installment2duedate" required>
					</div>


					<div class="form-group">
						<label>Grand Total Fees</label>
						<input class="form-control" type="text" name="totalfees" ng-model="playschoolfeessettingdata.totalfees" required>
					</div>
					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="playschoolfeessettingdata.loginuser" required>
					</div>
					
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input ng-disabled="playschoolfeessettingform.$invalid" type="submit" class="btn btn-primary" value="SAVE">
			</div>
		</form>
	</div>
</div>