<h1>MATERIAL IN OUT ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="securitymaterialinoutform" ng-submit="securityMaterialInOutSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Material Gate Pass Id</label>
						<input class="form-control" type="text" name="matgatepassid" ng-model="securitymaterialinoutdata.matgatepassid">
					</div>
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="currentdate" ng-model="securitymaterialinoutdata.currentdate">
					</div>
					<div class="form-group">
						<label>Enter Vehicle No</label>
						<input class="form-control" type="text" name="vehilceno" ng-model="securitymaterialinoutdata.vehicleno">
					</div>
					<div class="form-group">
						<label>Select Vehicle Type</label>
						<select class="form-control" ng-model="securitymaterialinoutdata.vehicletype">
							<option>Select Vehicle Type</option>
							<option> Two Wheeler</option>
							<option> Four Wheeler</option>
							<option> Heavy Vehicle</option>
							<option>Others </option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Staff Id</label>
						<input class="form-control" type="text" name="staffid" ng-model="securitymaterialinoutdata.staffid">
					</div>
					<div class="form-group">
						<label>Enter Staff Name </label>
						<input class="form-control" type="text" name="staffname" ng-model="securitymaterialinoutdata.staffname">
					</div>
					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="securitymaterialinoutdata.academicYear">
							<option>Select Academic Year</option>
							<option>2017-2018</option>
							<option>2016-2017</option>
							<option>2015-2016</option>
							<option>2014-2015</option>
							<option>2013-2014</option>
							<option>2012-2013</option>
							<option>2011-2012</option>
							<option>2010-2011</option>
						</select>
					<div class="form-group">
						<label>Enter Reason</label>
						<input class="form-control" type="text" name="reason" ng-model="securitymaterialinoutdata.reason">
					</div>
					<div class="form-group">
						<label>Enter Time In</label>
						<input class="form-control" type="text" name="timein" ng-model="securitymaterialinoutdata.timein">
					</div>
					<div class="form-group">
						<label>Enter Time Out</label>
						<input class="form-control" type="text" name="timout" ng-model="securitymaterialinoutdata.timeout">
					</div>

					<br/>
					<br/>
					<br/>

					<table>
							<tr>
							<th>Material Code</th>
							<th>Material Name</th>
							<th>Material Condition</th>
							<th>No of Items</th>
							</tr>

							<tr ng-repeat= "securitymaterialinoutdata in securitymaterialinoutdataList">
							<td>{{securitymaterialinoutdataList.materialCode}}</td>
							<td>{{securitymaterialinoutdataList.materialName}}</td>
							<td>{{securitymaterialinoutdataList.materialCondition}}</td>
							<td>{{securitymaterialinoutdataList.noOfItems}}</td>
							</tr>
					</table>

					<br/>
					<br/>
					<br/>

					</div>
					<div class="form-group">
						<label>Enter Login user</label>
						<input class="form-control" type="text" name="loginuser" ng-model="securitymaterialinoutdata.loginuser">
					</div>

				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="CREATE USER">
			</div>
		</form>
	</div>
</div>