<h1>PHYSICAL DIRECTOR DETAILS ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="sportpddetailform" ng-submit="sportsPdDetailSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Institute Code</label>
						<input class="form-control" type="text" name="institutecode" ng-model="sportspddetaildata.institutecode">
					</div>
                    
                    <div class="form-group">
						<label>Institute Name</label>
						<input class="form-control" type="text" name="institutename" ng-model="sportspddetaildata.institutename">
					</div>

                    <div class="form-group">
						<label>Institure Address</label>
						<input class="form-control" type="text" name="instituteaddress1" ng-model="sportspddetaildata.instituteaddress1">
						<input class="form-control" type="text" name="instituteaddress2" ng-model="sportspddetaildata.instituteaddress2">

					</div>
                    
                    <div class="form-group">
						<label>Area</label>
						<input class="form-control" type="text" name="institutearea" ng-model="sportspddetaildata.institutearea">
					</div>
                    <div class="form-group">
						<label>PinCode</label>
						<input class="form-control" type="text" name="institutepin" ng-model="sportspddetaildata.institutepin">
					</div>
					<div class="form-group">
						<label>Physical Director1 Name</label>
						<input class="form-control" type="text" name="physicaldirector1name" ng-model="sportspddetaildata.physicaldirector1name">
					</div>
					<div class="form-group">
						<label>Physical Director1 Mobile</label>
						<input class="form-control" type="text" name="physicaldirector1mobile" ng-model="sportspddetaildata.physicaldirector1mobile">
					</div>
					<div class="form-group">
						<label>Physical Director1 Alternate Mobile</label>
						<input class="form-control" type="text" name="physicaldirector1altmobile" ng-model="sportspddetaildata.physicaldirector1altmobile">
					</div>
					<div class="form-group">
						<label>Physical Director1 Email</label>
						<input class="form-control" type="text" name="physicaldirector1email" ng-model="sportspddetaildata.physicaldirector1email">
					</div>
					<div class="form-group">
						<label>Physical Director1 Alternative Email</label>
						<input class="form-control" type="text" name="physicaldirector1altemail" ng-model="sportspddetaildata.physicaldirector1altemail">
					</div>

					<div class="form-group">
						<label>Physical Director2 Name</label>
						<input class="form-control" type="text" name="physicaldirector2name" ng-model="sportspddetaildata.physicaldirector2name">
					</div>
					<div class="form-group">
						<label>Physical Director2 Mobile</label>
						<input class="form-control" type="text" name="physicaldirector2mobile" ng-model="sportspddetaildata.physicaldirector2mobile">
					</div>
					<div class="form-group">
						<label>Physical Director2 Alternate Mobile</label>
						<input class="form-control" type="text" name="physicaldirector2altmobile" ng-model="sportspddetaildata.physicaldirector2altmobile">
					</div>
					<div class="form-group">
						<label>Physical Director2 Email</label>
						<input class="form-control" type="text" name="physicaldirector2email" ng-model="sportspddetaildata.physicaldirector2email">
					</div>
					<div class="form-group">
						<label>Physical Director2 Alternative Email</label>
						<input class="form-control" type="text" name="physicaldirector2altemail" ng-model="sportspddetaildata.physicaldirector2altemail">
					</div>

                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="sportspddetaildata.loginuser">
					</div>
                     
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>