<h1>ATHELETE DETAIL ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="sportsatheleteform" ng-submit="sportsAhteleteSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Athelete Id</label>
						<input class="form-control" type="text" name="atheleteid" ng-model="sportsatheletedata.atheleteid">
					</div>
                    <div class="form-group">
						<label>ENTER Register No</label>
						<input class="form-control" type="text" name="regno" ng-model="sportsatheletedata.regno">
					</div>
   					<div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" name="name" ng-model="name">
					</div>
					
					<div class="form-group">
						<label>Branch Name</label>
						<select class="form-control" ng-model="branchname">
							<option>Select Category</option>
							<option>Civil Engineering</option>
							<option>Mechanical Engineering</option>
							<option>Automobile Engineering</option>
							<option>Electrtical and Electronics Engg</option>
							<option>Electronics and Communication</option>
							<option>Computer Engineering</option>
							<option>Information Technology</option>
						</select>
					</div>

					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="sportsatheletedata.branchcode">
					</div>
                    <div class="form-group">
						<label>Batch</label>
						<select class="form-control" ng-model="sportsatheletedata.academicyear">
							<option>Select Batch</option>
							<option>Batch - I</option>
							<option>Batch - II</option>
							<option>Batch - III</option>
							<option>Batch - IV</option>
						</select>
					</div>
					<div class="form-group">
						<label>Semester</label>
						<input class="form-control" type="text" name="semester" ng-model="sportsatheletedata.semester">
					</div>

                    <div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="sportsatheletedata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>
			
					<br/>
					<br/>
					<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table>
							<tr>
							<th>S. No</th>
							<th>Sports Type</th>
							<th>Sports Code</th>
							<th>Area in Sports</th>
							<th>Performance Level</th>
							<th>Action</th>
							</tr>
							<tr>
								<td>#</td>
								<td>
								<select class="form-control" ng-model="sportsatheletedata.sportstype">
								<option>Select sports type</option>
								<option>CRICKET</option>
								<option>FOOTBALL</option>
								<option>VOLLEY BALL</option>
								<option>BASKET BALL</option>
								</select>
								</td>
								<td><input type="text" ng-model="sportsatheletedata.sportscode" class="form-control" /></td>
								<td>
								<select class="form-control" ng-model="sportsatheletedata.sportsarea">
								<option>Select sports area</option>
								<option>ALL ROUNDER</option>
								<option>OTHERS</option>
								</select></td>
								<td>
								<select class="form-control" ng-model="sportsatheletedata.performancelevel">
								<option>Select Performance Level</option>
								<option>CHAMPION</option>
								<option>OUTSTANDING</option>
								<option>AVERAGE</option>
								<option>BEGINNER</option>
								</select></td>
								
								<td><input type="button" value="Add" ng-click="additem(sportsatheletedata)"/></td>
							</tr>
							<tr ng-repeat= "sportsatheletedata in sportsatheletedataList">
								<td>{{$index+1}}</td>
								<td ng-bind="sportsatheletedata.sportstype"></td>
								<td ng-bind="sportsatheletedata.sportscode"></td>
								<td ng-bind="sportsatheletedata.sportsarea"></td>
								<td ng-bind="sportsatheletedata.performancelevel"></td>
								
								<td><input type="button" value="Delete" ng-click="deleteitem(sportsatheletedata)"/></td>
							</tr>
					</table>
				</div>
			</div>
					<br/>
					<br/>
					<br/>


			<div class="row">
				<div class="col-md-6">		
                    <div class="form-group">
						<label>LoginUser1</label>
						<input class="form-control" type="text" name="loginuser" ng-model="sportsatheletedata.loginuser">
					</div>
                </div>
            </div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="CREATE USER">
			</div>
		</form>
	</div>
</div>