<h1>STAFF TRANSPORT</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="stafftransportform" ng-submit="staffTransportSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label> Staff ID</label>
						<input class="form-control" type="text" name="staffid" ng-model="stafftransportdata.staffid">
					</div>
					<div class="form-group">	
					<div class="text-right">
					<input type="button" class="btn btn-default" value="SEARCH">
					</div>
					</div>

					<div class="form-group">
						<label> Staff Name</label>
						<input class="form-control" type="text" name="staffname" ng-model="stafftransportdata.staffname">
					</div>

					<div class="form-group">
						<label>Select Branch</label>
						<select class="form-control" ng-model="stafftransportdata.branch">
							<option>Select Branch</option>
							<option>Civil Engineering</option>
							<option >Mechanical Engineering</option>
							<option >Automobile Engineering</option>
							<option >Electrical and Electronics Engineering</option>
							<option >Electronics and Communication Engineering</option>
							<option >Computer Engineering</option>
							<option>Information Technology</option>
						</select>
					</div>
					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="stafftransportdata.branchcode">
					</div>
					
					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="stafftransportdata.academicYear">
							<option>Select Academic Year</option>
							<option>2017-2018</option>
							<option>2016-2017</option>
							<option>2015-2016</option>
							<option>2014-2015</option>
							<option>2013-2014</option>
							<option>2012-2013</option>
							<option>2011-2012</option>
							<option>2010-2011</option>
						</select>
					</div>

					<div class="form-group">
						<label>Designation</label>
						<input class="form-control" type="text" name="designation" ng-model="stafftransportdata.designation">
					</div>

					<div class="form-group">
						<label>Transport Mode</label>
						<select class="form-control" ng-model="stafftransportdata.transportmode">
							<option>Select Mode</option>
							<option> Own Vheicle</option>
							<option>By CollegeBus</option>
						
						</select>
					</div>

					<div class="form-group">
						<label>Select Route</label>
						<select class="form-control" ng-model="stafftransportdata.route">
							<option>Select Route</option>
							<option>ROUTE - I</option>
							<option>ROUTE - II</option>
							<option>ROUTE - III</option>
							<option>ROUTE - IV</option>
							<option>ROUTE - V</option>
							<option>ROUTE - VI</option>
							<option>ROUTE - VII</option>
							<option>ROUTE - VIII</option>
						</select>
					</div>



					<div class="form-group">
						<label>Select Route No</label>
						<select class="form-control" ng-model="stafftransportdata.routeno">
							<option>Select Route</option>
							<option> 56</option>
							<option> 65</option>
							<option> 66</option>
						</select>
					</div>

					<div class="form-group">
						<label>Select Stage</label>
						<select class="form-control" ng-model="stafftransportdata.stage">
							<option>Select Stage</option>
							<option>STAGE - I</option>
							<option>STAGE - II</option>
							<option>STAGE - III</option>
							<option>STAGE - IV</option>
							<option>STAGE - V</option>
							<option>STAGE - VI</option>
							<option>STAGE - VII</option>
							<option>STAGE - VIII</option>
						</select>
					</div>

					<div class="form-group">
						<label>Transport Facility</label>
						<select class="form-control" ng-model="stafftransportdata.facility">
							<option>Select Facility</option>
							<option> Free </option>
							<option> Paid </option>
						</select>
					</div>

					<div class="form-group">
						<label>Enter Amount</label>
						<input class="form-control" type="text" name="amount" ng-model="stafftransportdata.amount">
					</div>

					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="stafftransportdata.loginuser">
					</div>

				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>