<h1>STAFF PERSONAL INFORMATION PLAYSCHOOL ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="staffpersonalinformationplayschoolform" ng-submit="staffPersonalInformationPlaySchoolSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Date of Join</label>
						<input class="form-control" type="text" name="dateofjoin" ng-model="staffpersonalinformationplayschooldata.dateofjoin">
					</div>
					<div class="form-group">
						<label>Staff ID</label>
						<input class="form-control" type="text" name="staffid" ng-model="staffpersonalinformationplayschooldata.staffid">
					</div>
					<div class="form-group">
						<label>Staff Name</label>
						<input class="form-control" type="text" name="staffname" ng-model="staffpersonalinformationplayschooldata.staffname">
				    </div>
                    <div class="form-group">
						<label>Select Designation</label>
						<select class="form-control" ng-model="staffpersonalinformationplayschooldata.designation">
							<option>Select Designation</option>
							<option>Principal</option>
							<option>Head Master</option>
							<option>Teacher</option>
							<option>Typist</option>
							<option>Clerk</option>
							<option>Cashier</option>
							<option>Computer Operator</option>
						</select>
					</div>

					<div class="form-group">
						<label>Date of Birth</label>
						<input class="form-control" type="text" name="dateofbirth" ng-model="staffpersonalinformationplayschooldata.dateofbirth">
					</div>
                    <div class="form-group">
						<label>Age</label>
						<input class="form-control" type="text" name="age" ng-model="staffpersonalinformationplayschooldata.age">
				    </div>
                    <div class="form-group">
						<label>Select Gender</label>
						<select class="form-control" ng-model="staffpersonalinformationplayschooldata.gender">
							<option>Select Gender</option>
							<option>Male</option>
							<option>FeMale</option>
							<option>Others</option>
						</select>
					</div>

                    <div class="form-group">
						<label>Blood Group</label>
						<input class="form-control" type="text" name="bloodgroup" ng-model="staffpersonalinformationplayschooldata.bloodgroup">
				    </div>
                    <div class="form-group">
						<label>Marital Status</label>
						<input class="form-control" type="text" name="maritalstatus" ng-model="staffpersonalinformationplayschooldata.maritalstatus">
				    </div>
                    <div class="form-group">
						<label>Aadhar Number</label>
						<input class="form-control" type="text" name="aadharnumber" ng-model="staffpersonalinformationplayschooldata.aadharnumber">
				    </div>
                    <div class="form-group">
						<label>PAN Number</label>
						<input class="form-control" type="text" name="panno" ng-model="staffpersonalinformationplayschooldata.panno">
				    </div>

                    <div class="form-group">
						<label>Father's Name</label>
						<input class="form-control" type="text" name="fathersname" ng-model="staffpersonalinformationplayschooldata.fathersname">
				    </div>
				    <div class="form-group">
						<label>Mother's Name</label>
						<input class="form-control" type="text" name="mothersname" ng-model="staffpersonalinformationplayschooldata.mothersname">
				    </div>
				    <div class="form-group">
						<label>Spouse Name</label>
						<input class="form-control" type="text" name="spousename" ng-model="staffpersonalinformationplayschooldata.spousename">
				    </div>
				    <div class="form-group">
						<label>Address Line1</label>
						<input class="form-control" type="text" name="addressline1" ng-model="staffpersonalinformationplayschooldata.addressline1">
				    </div>
				    <div class="form-group">
						<label>Address Line2</label>
						<input class="form-control" type="text" name="addressline2" ng-model="staffpersonalinformationplayschooldata.addressline2">
				    </div>
				    <div class="form-group">
						<label>Area</label>
						<input class="form-control" type="text" name="area" ng-model="staffpersonalinformationplayschooldata.area">
				    </div>
				    <div class="form-group">
						<label>Pincode</label>
						<input class="form-control" type="text" name="pin" ng-model="staffpersonalinformationplayschooldata.pin">
				    </div>
				    <div class="form-group">
						<label>Mobile Number</label>
						<input class="form-control" type="text" name="mobilenumber" ng-model="staffpersonalinformationplayschooldata.mobilenumber">
				    </div>
				    <div class="form-group">
						<label>Alternative Mobile Number</label>
						<input class="form-control" type="text" name="alternativemobilenumber" ng-model="staffpersonalinformationplayschooldata.alternativemobilenumber">
				    </div>
				    <div class="form-group">
						<label>E-Mail ID</label>
						<input class="form-control" type="text" name="emailid" ng-model="staffpersonalinformationplayschooldata.emailid">
				    </div>
                    <div class="form-group">
						<label>Select Qualification</label>
						<select class="form-control" ng-model="staffpersonalinformationplayschooldata.qualification">
							<option>Select Qualification</option>
							<option>Phd.,</option>
							<option>Post Graduate</option>
							<option>Under Graduate</option>
							<option>Diploma</option>
							<option>Others</option>
						</select>
					</div>

				    <div class="form-group">
						<label>Major Subject</label>
						<input class="form-control" type="text" name="course" ng-model="staffpersonalinformationplayschooldata.course">
				    </div>
				    <div class="form-group">
						<label>University Studied</label>
						<input class="form-control" type="text" name="university" ng-model="staffpersonalinformationplayschooldata.university">
				    </div>
				    <div class="form-group">
						<label>Percentage Scored</label>
						<input class="form-control" type="text" name="percentage" ng-model="staffpersonalinformationplayschooldata.percentage">
				    </div>
				    <div class="form-group">
						<label>Month and Year of Pass</label>
						<input class="form-control" type="text" name="monthyearofpass" ng-model="staffpersonalinformationplayschooldata.monthyearofpass">
				    </div>
				    <div class="form-group">
						<label>Experience if any</label>
						<input class="form-control" type="text" name="experience" ng-model="staffpersonalinformationplayschooldata.experience">
				    </div>
				    <div class="form-group">
						<label>Number of years experience</label>
						<input class="form-control" type="text" name="noofyears" ng-model="staffpersonalinformationplayschooldata.noofyears">
				    </div>


				    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="staffpersonalinformationplayschooldata.loginuser">
				    </div>
				    <div class="form-group">
						<label>Institute ID</label>
						<input class="form-control" type="text" name="instituteid" ng-model="staffpersonalinformationplayschooldata.instituteid">
				    </div>
				    
				</div>	
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="SAVE">
			</div>
		</form>
	</div>
</div>