<h1>STAFF WILLING SUBJECTS ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="staffwillingsubjectform" ng-submit="staffWillingSubjectSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Staff ID</label>
						<input class="form-control" type="text" name="staffid" ng-model="staffwillingsubjectdata.staffid">
					</div>
                   
                    <div class="form-group">
						<label>Staff Name</label>
						<input class="form-control" type="text" name="staffname" ng-model="staffname">
					</div>

                    
                    <div class="form-group">
						<label>Branch</label>
						<input class="form-control" type="text" name="branch" ng-model="branch">
					</div>

                    <div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="staffwillingsubjectdata.branchcode">
					</div>
                    
                    <div class="form-group">
						<label>Designation</label>
						<input class="form-control" type="text" name="designation" ng-model="designation">
					</div>

					<div class="form-group">
						<label>Total Number of Teaching Experience</label>
						<input class="form-control" type="text" name="totalteachingexperience" ng-model="staffwillingsubjectdata.totalteachingexperience">
					</div>


                    <div class="form-group">
						<label>Theory Subject1</label>
						<select class="form-control" ng-model="theorysubject1">
							<option>Select Theory Subject</option>
							<option>C++</option>
							<option>JAVA</option>
							<option>.NET</option>
							<option>NETWORKS</option>
						</select>
					</div>
					<div class="form-group">
						<label>Theory Subject 1 Code</label>
						<input class="form-control" type="text" name="theorysubject1code" ng-model="staffwillingsubjectdata.theorysubject1code">
					</div>


                    <div class="form-group">
						<label>Theory Subject2</label>
						<select class="form-control" ng-model="theorysubject2">
							<option>Select Theory Subject</option>
							<option>C++</option>
							<option>JAVA</option>
							<option>.NET</option>
							<option>NETWORKS</option>
						</select>
					</div>

					<div class="form-group">
						<label>Theory Subject 2 Code</label>
						<input class="form-control" type="text" name="theorysubject2code" ng-model="staffwillingsubjectdata.theorysubject2code">
					</div>


                    <div class="form-group">
						<label>Theory Subject3</label>
						<select class="form-control" ng-model="theorysubject3">
							<option>Select Theory Subject</option>
							<option>C++</option>
							<option>JAVA</option>
							<option>.NET</option>
							<option>NETWORKS</option>
						</select>
					</div>


					<div class="form-group">
						<label>Theory Subject 3 Code</label>
						<input class="form-control" type="text" name="theorysubject3code" ng-model="staffwillingsubjectdata.theorysubject3code">
					</div>

                    <div class="form-group">
						<label>Theory Subject4</label>
						<select class="form-control" ng-model="theorysubject4">
							<option>Select Theory Subject</option>
							<option>C++</option>
							<option>JAVA</option>
							<option>.NET</option>
							<option>NETWORKS</option>
						</select>
					</div>


					<div class="form-group">
						<label>Theory Subject 4 Code</label>
						<input class="form-control" type="text" name="theorysubject4code" ng-model="staffwillingsubjectdata.theorysubject4code">
					</div>

                    <div class="form-group">
						<label>Theory Subject5</label>
						<select class="form-control" ng-model="theorysubject5">
							<option>Select Theory Subject</option>
							<option>C++</option>
							<option>JAVA</option>
							<option>.NET</option>
							<option>NETWORKS</option>
						</select>
					</div>

					<div class="form-group">
						<label>Theory Subject 5 Code</label>
						<input class="form-control" type="text" name="theorysubject5code" ng-model="staffwillingsubjectdata.theorysubject5code">
					</div>


                    <div class="form-group">
						<label>Practical Subject1</label>
						<select class="form-control" ng-model="practicalsubject1">
							<option>Select Practcal Subject</option>
							<option>C++ LAB</option>
							<option>JAVA LAB</option>
							<option>.NET LAB</option>
							<option>NETWORKS LAB</option>
						</select>
					</div>
					
					<div class="form-group">
						<label>Practical Subject 1 Code</label>
						<input class="form-control" type="text" name="practicalsubect1code" ng-model="staffwillingsubjectdata.practicalsubect1code">
					</div>


                    <div class="form-group">
						<label>Practical Subject2</label>
						<select class="form-control" ng-model="practicalsubject2">
							<option>Select Practcal Subject</option>
							<option>C++ LAB</option>
							<option>JAVA LAB</option>
							<option>.NET LAB</option>
							<option>NETWORKS LAB</option>
						</select>
					</div>
					<div class="form-group">
						<label>Practical Subject 2 Code</label>
						<input class="form-control" type="text" name="practicalsubect2code" ng-model="staffwillingsubjectdata.practicalsubect2code">
					</div>


                    <div class="form-group">
						<label>Practical Subject3</label>
						<select class="form-control" ng-model="practicalsubject3">
							<option>Select Practcal Subject</option>
							<option>C++ LAB</option>
							<option>JAVA LAB</option>
							<option>.NET LAB</option>
							<option>NETWORKS LAB</option>
						</select>
					</div>
					<div class="form-group">
						<label>Practical Subject 3 Code</label>
						<input class="form-control" type="text" name="practicalsubect3code" ng-model="staffwillingsubjectdata.practicalsubect3code">
					</div>


                    <div class="form-group">
						<label>Practical Subject4</label>
						<select class="form-control" ng-model="practicalsubject4">
							<option>Select Practcal Subject</option>
							<option>C++ LAB</option>
							<option>JAVA LAB</option>
							<option>.NET LAB</option>
							<option>NETWORKS LAB</option>
						</select>
					</div>
					<div class="form-group">
						<label>Practical Subject 4 Code</label>
						<input class="form-control" type="text" name="practicalsubect4code" ng-model="staffwillingsubjectdata.practicalsubect4code">
					</div>


                    <div class="form-group">
						<label>Practical Subject5</label>
						<select class="form-control" ng-model="practicalsubject5">
							<option>Select Practcal Subject</option>
							<option>C++ LAB</option>
							<option>JAVA LAB</option>
							<option>.NET LAB</option>
							<option>NETWORKS LAB</option>
						</select>
					</div>

					<div class="form-group">
						<label>Practical Subject 5 Code</label>
						<input class="form-control" type="text" name="practicalsubect5code" ng-model="staffwillingsubjectdata.practicalsubect5code">
					</div>



                    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="staffwillingsubjectdata.loginuser">
					</div>
                     
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="CREATE USER">
			</div>
		</form>
	</div>
</div>