<h1>STAFF BIO DATA</h1>
<div class="row">
	<div class="col-md-12">
		
		<div class="form-group">
			<label>Staff ID</label>
			<input class="form-control" type="text" name="staffid" ng-model="searchStaffData.staffid">
		</div>
		<div class="form-group">	
		<div class="text-right">
			<input type="button" ng-click="searchStaffId()" class="btn btn-default" value="SEARCH">
		</div>
		</div>
		<form name="staffacademicdataform" ng-submit="staffAcademicDataSubmit()" novalidate>
			<ul class="steps">
				<li ng-class="{'active':activestep == 1}"><a href="javascript:void(0)"><span class="stepscount">1</span></a></li>
				<li ng-class="{'active':activestep == 2}"><a href="javascript:void(0)"><span class="stepscount">2</span></a></li>
				<li ng-class="{'active':activestep == 3}"><a href="javascript:void(0)"><span class="stepscount">3</span></a></li>
			</ul>
			<div class="row">
				<div class="col-md-12">		
					<div class="stepscontent" id="step1" ng-show="activestep == 1">




						<div class="form-group">
							<label>Staff ID</label>
							<input class="form-control" type="text" name="staffid" ng-model="staffacademicdata.staffid">
						</div>

						<div class="form-group">
							<label>Staff Name</label>
							<input class="form-control" type="text" name="staffname" ng-model="staffname">
						</div>

						<div class="form-group">
							<label>Select Designation</label>
							<select class="form-control" ng-model="designation">
								<option>Select Designation</option>
								<option>PRINCIPAL</option>
								<option>VICE-PRINCIPAL</option>
								<option>ADMINISTRATIVE OFFICER</option>
								<option>HEAD OF DEPARTMENT</option>
								<option>PROFESSOR</option>
								<option>ASSOSIATIVE PROFESSOR</option>
								<option>SENIOR LECTURER</option>
								<option>LECTURER</option>
								<option>INSTRUCTOR</option>
								<option>LAB ASSISTANT</option>
								<option>LIBRARIAN</option>
								<option>CASHIER</option>
								<option>SUPERINTENTDENT</option>
								<option>OFFICE ASSISTANT</option>
								<option>TYPIST</option>
								<option>STENO</option>
								<option>PEON</option>
								<option>SWEEPER</option>
								<option>GARDENER</option>
								<option>DRIVER</option>
								<option>CLEANER</option>
								<option>SECURITY OFFICER</option>
								<option>SECURITY</option>

								</select>
						</div>
						<div class="form-group">
							<label>Select Branch</label>
							<select class="form-control" ng-model="branch">
								<option>Select Branch</option>
								<option>CIVIL ENGINEERING</option>
								<option>MECHANICAL ENGINEERING</option>
								<option>ELECTRICAL AND ELECTRONICS ENGINEERING</option>
								</select>
						</div>

						<div class="form-group">
							<label>Branch Code</label>
							<input class="form-control" type="text" name="branchcode" ng-model="branchcode">
						</div>

						<div class="form-group">
							<label>Select Qualification</label>
							<select class="form-control" ng-model="staffacademicdata.qualifiication">
								<option>Select Qualification</option>
								<option>DOCTORATE</option>
								<option>POST GRADUATE</option>
								<option>UNDER GRADUATE</option>
								</select>
						</div>
						<div class="form-group">
							<label>Select Degree</label>
							<select class="form-control" ng-model="staffacademicdata.degree">
								<option>Select Degree</option>
								<option>Ph.D.,</option>
								<option>M.E.,</option>
								<option>M.Sc.,</option>
								<option>M.Phil.,</option>
								<option>M.A.,</option>
                                <option>B.E.,</option>
                                <option>Diploma.,</option>
                                <option>I.T.I</option>
								</select>
						</div>
						<div class="form-group">
							<label>Select Course</label>
							<select class="form-control" ng-model="staffacademicdata.course">
								<option>Select Course</option>
								<option>English</option>
								<option>Maths</option>
								<option>Physics</option>
								<option>Chemistry</option>
								<option>Civil Engineering</option>
                                <option>Mechanical Engineering</option>
                                <option>Automobile Enigneering</option>
                                <option>Computer Engineering</option>
								</select>
						</div>
						<div class="form-group">
							<label>Board / University</label>
							<input class="form-control" type="text" name="board" ng-model="staffacademicdata.board">
						</div>
						<div class="form-group">
							<label>Percentage of Marks</label>
							<input class="form-control" type="text" name="percentage" ng-model="staffacademicdata.percentage">
						</div>
						<div class="form-group">
							<label>Month and Year of Pass</label>
							<input class="form-control" type="text" name="monthandyearofpass" ng-model="staffacademicdata.monthandyearofpass">
						</div>
						<div class="form-group">
							<label>Select Previous Experience Category</label>
							<select class="form-control" ng-model="staffacademicdata.experiencecategory">
								<option>Select Previous Experience Category</option>
								<option>INDUSTRIAL</option>
								<option>TEACHING</option>
								<option>OTHERS</option>
								</select>
						</div>
						<div class="form-group">
							<label>Last Experience Organisation Name</label>
							<input class="form-control" type="text" name="organisationname" ng-model="staffacademicdata.organisationname">
						</div>
						<div class="form-group">
							<label>Last Experience Designation</label>
							<input class="form-control" type="text" name="experiencedesignation" ng-model="staffacademicdata.experiencedesignation">
						</div>
						<div class="form-group">
							<label>Last Experience No of Years</label>
							<input class="form-control" type="text" name="experiencenoofyears" ng-model="staffacademicdata.experiencenoofyears">
						</div>


						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Is Any award Winner ?</label>
									<input type="checkbox"  name="awardwinner" ng-model="staffacademicdata.awardwinner"> Award Winner
								</div>
								<div class="form-group">
									<label>Is Any Trainings Conducted by you ?</label>
									<input type="checkbox"  name="training" ng-model="staffacademicdata.training"> Training
								</div>
								<div class="form-group">
									<label>Is Any Seminar Conducuted ?</label>
									<input type="checkbox"  name="seminars" ng-model="staffacademicdata.seminars"> Seminars
								</div>

							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Are You participated in any Paper Presentation ?</label>
									<input type="checkbox"  name="paperpresentation" ng-model="staffacademicdata.paperpresentation"> Paper Presentation
								</div>
								<div class="form-group">
									<label>Are you have any NSS Experience ?</label>
									<input type="checkbox"  name="nss" ng-model="staffacademicdata.nss"> NSS
								</div>
								<div class="form-group">
									<label>Are you have any NCC Experience ?</label>
									<input type="checkbox"  name="ncc" ng-model="staffacademicdata.ncc"> NCC
								</div>
                            </div>
                            </div>

						<div class="text-right">
							<input type="button" class="btn btn-primary" value="NEXT" ng-click="gotostep(2)">
						</div>

					</div>

					<div class="stepscontent" id="step2" ng-show="activestep == 2">
						<div class="form-group">
							<label>Select Type of Deposit</label>
							<select class="form-control" ng-model="staffacademicdata.typeofdeposit">
								<option>Select Type of Deposit</option>
								<option>Salary</option>
								<option>Certificate</option>
								<option>None</option>
								</select>
						</div>
						<div class="form-group">
							<label>Original Degree Certificate Submitted ?</label>
							<input type="checkbox"  name="originaldegreecertificate" ng-model="staffacademicdata.originaldegreecertificate"> Original Degree Certificate
						</div>


						<div class="form-group">
							<label>Degree Certificate Sl.No</label>
							<input class="form-control" type="text" name="degreecertificateslno" ng-model="staffacademicdata.degreecertificateslno">
						</div>

						<div class="form-group">
							<label>Original Transfer Certificate Submitted ?</label>
							<input type="checkbox"  name="originaltransfercertificate" ng-model="staffacademicdata.originaltransfercertificate"> Original Transfer Certificate
						</div>


						<div class="form-group">
							<label>Transfer Certificate Sl. No</label>
							<input class="form-control" type="text" name="transfercertificateslno" ng-model="staffacademicdata.transfercertificateslno">
						</div>

						<div class="form-group">
							<label>Original Mark Sheet Submitted ?</label>
							<input type="checkbox"  name="originalmarksheet" ng-model="staffacademicdata.originalmarksheet"> Original Mark Sheet
						</div>


						<div class="form-group">
							<label>Mark Sheet Sl. No</label>
							<input class="form-control" type="text" name="marksheetslno" ng-model="staffacademicdata.marksheetslno">
						</div>

						<div class="form-group">
							<label>Other certificates if any Submitted ?</label>
							<input type="checkbox"  name="othercertificate" ng-model="staffacademicdata.othercertificate"> Other Certificates
						</div>


						<div class="form-group">
							<label>Other Certificate Sl. No</label>
							<input class="form-control" type="text" name="othercertificateslno" ng-model="staffacademicdata.othercertificateslno">
						</div>
						<div class="form-group">
							<label>Salary Amount Deposited</label>
							<input class="form-control" type="text" name="salarydeposited" ng-model="staffacademicdata.salarydeposited">
						</div>
						
						<div class="text-right">
							<input type="button" class="btn btn-default" ng-click="gotostep(1)" value="BACK">
							<input type="button" class="btn btn-primary" value="NEXT" ng-click="gotostep(3)">
						</div>

					</div>

					<div class="stepscontent" id="step3" ng-show="activestep == 3">
						<div class="form-group">
							<label>Staff ID Card Issued ?</label>
							<input type="checkbox"  name="staffidcard" ng-model="staffacademicdata.staffidcard"> Staff ID Card
						</div>
						<div class="form-group">
							<label>Staff Library Card Issued ?</label>
							<input type="checkbox"  name="stafflibrarycard" ng-model="staffacademicdata.stafflibrarycard"> Staff Library Card
						</div>
						<div class="form-group">
							<label>Staff Log Book Issued ?</label>
							<input type="checkbox"  name="stafflogbook" ng-model="staffacademicdata.stafflogbook"> Staff Log Book
						</div>
						<div class="form-group">
							<label>Bank Account Number</label>
							<input class="form-control" type="text" name="bankaccountno" ng-model="staffacademicdata.bankaccountno">
						</div>

						<div class="form-group">
							<label>Bank Name</label>
							<input class="form-control" type="text" name="bankname" ng-model="staffacademicdata.bankname">
						</div>

						<div class="form-group">
							<label>Branch of Bank</label>
							<input class="form-control" type="text" name="bankbranch" ng-model="staffacademicdata.bankbranch">
						</div>

						<div class="form-group">
							<label>Bank IFSC Code</label>
							<input class="form-control" type="text" name="bankifsccode" ng-model="staffacademicdata.bankifscocde">
						</div>
						<div class="form-group">
							<label>Select Eligible for CL</label>
							<select class="form-control" ng-model="staffacademicdata.eligibleforcl">
								<option>Select Eligible for CL</option>
								<option>Yes</option>
								<option>No</option>
							</select>
						</div>
						<div class="form-group">
							<label>Number of Available CL</label>
							<input class="form-control" type="text" name="noofcl" ng-model="staffacademicdata.noofcl">
						</div>
						
						<div class="form-group">
							<label>Number of Available PL</label>
							<input class="form-control" type="text" name="noofpl" ng-model="staffacademicdata.noofpl">
						</div>
						

						

						<div class="text-right">
							<input type="button" class="btn btn-default" ng-click="gotostep(2)" value="BACK">
							<input type="submit" class="btn btn-primary" value="SAVE">
						</div>


					</div>
					

						
				</div>
			</div>
			
		</form>
	</div>
</div>
