<h1>STAFF LEAVE LETTER ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="staffleaveletterentryform" ng-submit="staffLeaveLetterEntrySubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Date</label>
						<input class="form-control" type="text" name="currentdate" ng-model="staffleaveletterentrydata.currentdate">
					</div>
					<div class="form-group">
						<label>Staff ID</label>
						<input class="form-control" type="text" name="staffid" ng-model="staffleaveletterentrydata.staffid">
					</div>
					<div class="form-group">
						<label>Staff Name</label>
						<input class="form-control" type="text" name="staffname" ng-model="staffleaveletterentrydata.staffname">
				    </div>
                    <div class="form-group">
						<label>Branch Name</label>
						<select class="form-control" ng-model="staffleaveletterentrydata.branchname">
							<option>Select Category</option>
							<option>Civil Engineering</option>
							<option>Mechanical Engineering</option>
							<option>Automobile Engineering</option>
							<option>Electrtical and Electronics Engg</option>
							<option>Electronics and Communication</option>
							<option>Computer Engineering</option>
							<option>Information Technology</option>
						</select>
					</div>

					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="staffleaveletterentrydata.branchcode">
					</div>
                    <div class="form-group">
						<label>Designation</label>
						<input class="form-control" type="text" name="designation" ng-model="staffleaveletterentrydata.designation">
				    </div>
                    <div class="form-group">
						<label>Type Of Leave</label>
						<input class="form-control" type="text" name="typeofleave" ng-model="staffleaveletterentrydata.typeofleave">
				    </div>
                    <div class="form-group">
						<label>No Of Days</label>
						<input class="form-control" type="text" name="noofdays" ng-model="staffleaveletterentrydata.noofdays">
				    </div>
                    <div class="form-group">
						<label>From Date</label>
						<input class="form-control" type="text" name="fromdate" ng-model="staffleaveletterentrydata.fromdate">
				    </div>
				    <div class="form-group">
						<label>To Date</label>
						<input class="form-control" type="text" name="todate" ng-model="staffleaveletterentrydata.todate">
				    </div>
				    <div class="form-group">
						<label>Reason</label>
						<input class="form-control" type="text" name="reason" ng-model="staffleaveletterentrydata.reason">
				    </div>
				    <div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="staffleaveletterentrydata.loginuser">
				    </div>
				    
				</div>	
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="CREATE USER">
			</div>
		</form>
	</div>
</div>