<h1>STORES RETURN ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="storesreturnform" ng-submit="storesReturnSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="returnDate" ng-model="storesreturndata.returnDate">
					</div>
                    <div class="form-group">
						<label>ENTER Bill No</label>
						<input class="form-control" type="text" name="billno" ng-model="storesreturndata.billno">
					</div>
   					<div class="form-group">
						<label>Enter Vendor Name</label>
						<input class="form-control" type="text" name="vendorname" ng-model="vendorname">
					</div>
   					<div class="form-group">
						<label>Enter Vendor Id</label>
						<input class="form-control" type="text" name="vendorid" ng-model="storesreturndata.vendorid">
					</div>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table>
							<tr>
							<th>Serial No</th>
							<th>HSN Code</th>
							<th>Item Name</th>
							<th>Item Quantity</th>
							<th>Unit Price</th>
							<th>Total Price</th>
							<th>Action</th>
							</tr>
							<tr>
								<td>#</td>
								<td><input type="text" ng-model="storesreturndata.hsncode" class="form-control" /></td>
								<td><input type="text" ng-model="storesreturndata.itemname" class="form-control" /></td>
								<td><input type="text" ng-model="storesreturndata.quantity" class="form-control" /></td>
								<td><input type="text" ng-model="storesreturndata.price" class="form-control" /></td>
								<td><span>{{storesreturndata.quantity*storesreturndata.price}}</span></td>
								<td><input type="button" value="Add" ng-click="additem(storesreturndata)"/></td>
							</tr>
							<tr ng-repeat= "returnitem in storesreturndataList">
								<td>{{$index+1}}</td>
								<td ng-bind="returnitem.hsncode"></td>
								<td ng-bind="returnitem.itemname"></td>
								<td ng-bind="returnitem.quantity"></td>
								<td ng-bind="returnitem.price"></td>
								<td>{{returnitem.quantity*returnitem.price}}</td>
								<td><input type="button" value="Delete" ng-click="deleteitem(returnitem)"/></td>
							</tr>
					</table>
				</div>
			</div>
					<br/>
					<br/>
					<br/>


   					<div class="form-group">
						<label>Enter Total Amount</label>
						<input class="form-control" type="text" name="totalamount" ng-model="storesreturndata.totalamount">
					</div>
   					<div class="form-group">
						<label>Enter Received Amount</label>
						<input class="form-control" type="text" name="receivedamount" ng-model="storesreturndata.receivedamount">
					</div>
   					<div class="form-group">
						<label>Enter Balance Amount</label>
						<input class="form-control" type="text" name="balanceamount" ng-model="storesreturndata.balanceamount">
					</div>
   					<div class="form-group">
						<label>Enter Due Date</label>
						<input class="form-control" type="text" name="duedate" ng-model="storesreturndata.duedate">
					</div>
   					<div class="form-group">
						<label>Enter Payment Mode</label>
						<input class="form-control" type="text" name="paymentmode" ng-model="storesreturndata.paymentmode">
					</div>
   					<div class="form-group">
						<label>Enter Cheque Date</label>
						<input class="form-control" type="text" name="chequedate" ng-model="storesreturndata.chequedate">
					</div>
   					<div class="form-group">
						<label>Enter Cheque No</label>
						<input class="form-control" type="text" name="chequeno" ng-model="storesreturndata.chequeno">
					</div>
   					<div class="form-group">
						<label>Enter Bank Name</label>
						<input class="form-control" type="text" name="bankname" ng-model="storesreturndata.bankname">
					</div>

                    <div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="storesreturndata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
  							<option>2020-2021</option>
						</select>
					</div>
					

                    <div class="form-group">
						<label>LoginUser1</label>
						<input class="form-control" type="text" name="loginuser" ng-model="storesreturndata.loginuser">
					</div>
                    
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="CREATE USER">
			</div>
		</form>
	</div>
</div>