<h1>STORES PURCHASE ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="storespurchaseform" ng-submit="storesPurchaseSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="purchasedate" ng-model="storespurchasedata.purchasedate">
					</div>
                    <div class="form-group">
						<label>ENTER Bill No</label>
						<input class="form-control" type="text" name="billno" ng-model="storespurchasedata.billno">
					</div>
   					<div class="form-group">
						<label>Enter Vendor Name</label>
						<input class="form-control" type="text" name="vendorname" ng-model="vendorname">
					</div>
   					<div class="form-group">
						<label>Enter Vendor Id</label>
						<input class="form-control" type="text" name="vendorid" ng-model="storespurchasedata.vendorid">
					</div>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table>
							<tr>
							<th>Serial No</th>
							<th>HSN Code</th>
							<th>Item Name</th>
							<th>Item Quantity</th>
							<th>Unit Price</th>
							<th>Total Price</th>
							<th>Action</th>
							</tr>
							<tr>
								<td>#</td>
								<td><input type="text" ng-model="storespurchasedata.hsncode" class="form-control" /></td>
								<td><input type="text" ng-model="storespurchasedata.itemname" class="form-control" /></td>
								<td><input type="text" ng-model="storespurchasedata.quantity" class="form-control" /></td>
								<td><input type="text" ng-model="storespurchasedata.price" class="form-control" /></td>
								<td><span>{{storespurchasedata.quantity*storespurchasedata.price}}</span></td>
								<td><input type="button" value="Add" ng-click="additem(storespurchasedata)"/></td>
							</tr>
							<tr ng-repeat= "purchaseitem in storespurchasedataList">
								<td>{{$index+1}}</td>
								<td ng-bind="purchaseitem.hsncode"></td>
								<td ng-bind="purchaseitem.itemname"></td>
								<td ng-bind="purchaseitem.quantity"></td>
								<td ng-bind="purchaseitem.price"></td>
								<td>{{purchaseitem.quantity*purchaseitem.price}}</td>
								<td><input type="button" value="Delete" ng-click="deleteitem(purchaseitem)"/></td>
							</tr>
					</table>
				</div>
			</div>
					<br/>
					<br/>
					<br/>
			<div class="row">
				<div class="col-md-6">
   					<div class="form-group">
						<label>Enter Total Amount</label>
						<input class="form-control" type="text" name="totalamount" ng-model="storespurchasedata.totalamount">
					</div>
   					<div class="form-group">
						<label>Enter Paid Amount</label>
						<input class="form-control" type="text" name="paidamount" ng-model="storespurchasedata.paidamount">
					</div>
   					<div class="form-group">
						<label>Enter Balance Amount</label>
						<input class="form-control" type="text" name="balanceamount" ng-model="storespurchasedata.balanceamount">
					</div>
   					<div class="form-group">
						<label>Enter Due Date</label>
						<input class="form-control" type="text" name="duedate" ng-model="storespurchasedata.duedate">
					</div>
   					<div class="form-group">
						<label>Enter Payment Mode</label>
						<input class="form-control" type="text" name="paymentmode" ng-model="storespurchasedata.paymentmode">
					</div>
   					<div class="form-group">
						<label>Enter Cheque Date</label>
						<input class="form-control" type="text" name="chequedate" ng-model="storespurchasedata.chequedate">
					</div>
   					<div class="form-group">
						<label>Enter Cheque No</label>
						<input class="form-control" type="text" name="chequeno" ng-model="storespurchasedata.chequeno">
					</div>
   					<div class="form-group">
						<label>Enter Bank Name</label>
						<input class="form-control" type="text" name="bankname" ng-model="storespurchasedata.bankname">
					</div>

                    <div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="storespurchasedata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>
					

                    <div class="form-group">
						<label>LoginUser1</label>
						<input class="form-control" type="text" name="loginuser" ng-model="storespurchasedata.loginuser">
					</div>
                    
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="CREATE USER">
			</div>
		</form>
	</div>
</div>