<h1>STUDENT DAILY PICK UP DETAILS</h1> 
<div class="row">
	<div class="col-md-12">
		<div class="panelrow">
			<div class="paneltitle">Pick Up Date</div>
			<p class="panelcontent">{{pickupdetail.pickupddate | dateFormat}}</p>
		</div>
		<div class="panelrow">
			<div class="paneltitle">Pickup Person Name</div>
			<p class="panelcontent">{{pickupdetail.pickuppersonname}}</p>
		</div>
		<div class="panelrow">
			<div class="paneltitle">Pickup Person Relationship</div>
			<p class="panelcontent">{{pickupdetail.pickuppersonrelation}}</p>
		</div>
		<div class="panelrow">
			<div class="paneltitle">Pickup Person Contact Number</div>
			<p class="panelcontent">{{pickupdetail.pickuppersonmobileno}}</p>
		</div>
		<div class="panelrow">
			<div class="paneltitle">Pickup Time</div>
			<p class="panelcontent">{{pickupdetail.pickuptime}}</p>
		</div>
		<div class="panelrow">
			<div class="paneltitle">Remarks</div>
			<p class="panelcontent">{{pickupdetail.remarks}}</p>
		</div>
	</div>
</div>






<!-- <h1>STUDENT DAILY PICK UP DETAILS</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="studentdailypickupparentfetchplayschoolform" ng-submit="studentdailypickupparentfetchPlaySchoolSubmit()" novalidate>

					<div class="form-group">
						<label>Date <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>						
						<input class="form-control" type="text" name="pickupddate" ng-model="studentdailypickupparentfetchplayschooldata.pickupddate" ng-disabled = "true">
					</div>

					<div class="form-group">
						<label>Pickup Person Name <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>						
						<input class="form-control" type="text" name="pickuppersonname" ng-model="studentdailypickupparentfetchplayschooldata.pickuppersonname" ng-disabled = "true">
					</div>

					<div class="form-group">
						<label>Pickup Person Relationship <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>						
						<input class="form-control" type="text" name="pickuppersonrelation" ng-model="studentdailypickupparentfetchplayschooldata.pickuppersonrelation" ng-disabled = "true">
					</div>

					<div class="form-group">
						<label>Pickup Person Relationship <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>						
						<input class="form-control" type="text" name="pickuppersonrelation" ng-model="studentdailypickupparentfetchplayschooldata.pickuppersonrelation" ng-disabled = "true">
					</div>

					<div class="form-group">
						<label>Pickup Person Contact Number <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>						
						<input class="form-control" type="text" name="pickuppersonmobileno" ng-model="studentdailypickupparentfetchplayschooldata.pickuppersonmobileno" ng-disabled = "true">
					</div>

					<div class="form-group">
						<label>Pickup Time <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>						
						<input class="form-control" type="text" name="pickuptime" ng-model="studentdailypickupparentfetchplayschooldata.pickuptime" ng-disabled = "true">
					</div>

					<div class="form-group">
						<label>Remarks <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>						
						<input class="form-control" type="text" name="remarks" ng-model="studentdailypickupparentfetchplayschooldata.remarks" ng-disabled = "true">
					</div>

                    
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SAVE">
			</div>
		</form>
	</div>
</div> -->