<h1>TRANSFER CERTIFICATE ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="studentdiscontinuedtcform" ng-submit="studentDiscontinuedTcSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="entrydate" ng-model="studentdiscontinuedtcdata.entrydate">
					</div>
					<div class="form-group">
						<label>TC Serial Number</label>
						<input class="form-control" type="text" name="tcserialno" ng-model="studentdiscontinuedtcdata.tcserialno">
					</div>
					<div class="form-group">
						<label>Enter Register Number</label>
						<input class="form-control" type="text" name="regno" ng-model="studentdiscontinuedtcdata.regno">
					</div>
					<div class="form-group">	
					<div class="text-right">
						<input type="button" class="btn btn-default form-button" value="SEARCH">
					</div>
					</div>

					<div class="form-group">
						<label>Enter Admission Number</label>
						<input class="form-control" type="text" name="admissionno" ng-model="studentdiscontinuedtcdata.admissionno">
					</div>
					<div class="form-group">	
					<div class="text-right">
						<input type="button" class="btn btn-default form-button" value="SEARCH">
					</div>
					</div>

					<div class="form-group">
						<label>Enter Candidate Name</label>
						<input class="form-control" type="text" name="candname" ng-model="studentdiscontinuedtcdata.candname">
					</div>
					<div class="form-group">
						<label>Enter Father Name</label>
						<input class="form-control" type="text" name="fathername" ng-model="studentdiscontinuedtcdata.fathername">
					</div>
					<div class="form-group">
						<label>Enter Mother Name</label>
						<input class="form-control" type="text" name="mothername" ng-model="studentdiscontinuedtcdata.mothername">
					</div>
					<div class="form-group">
						<label>Select Branch</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.branch">
							<option>Select Branch</option>
							<option>CIVIL ENGINEERING</option>
							<option>MECHANICAL ENGINEERING</option>
							<option>AUTOMOBILE ENGINEERING</option>
							<option>ELECTRICAL AND ELECTRONICS ENGINEERING</option>
							<option>ELECTRONICS AND COMMUNICATION ENGINEERING</option>
							<option>COMPUTER ENGINEERING ENGINEERING</option>
							<option>INFORMATION TECHNOLOGY</option>
							</select>
					</div>
					<div class="form-group">
						<label>Enter Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="studentdiscontinuedtcdata.branchcode">
					</div>
					<div class="form-group">
						<label>Batch</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.batch">
							<option>Select Batch</option>
							<option>Batch - I</option>
							<option>Batch - II</option>
							<option>Batch - II</option>
							<option>Batch - IV</option>
							<option>Batch - V</option>
							<option>Batch - VI</option>
							<option>Batch - VII</option>
							<option>Batch - VIII</option>
						</select>
					</div>
					<div class="form-group">
						<label>Semester</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.semester">
							<option>Select Semester</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
						</select>
					</div>
					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.academicYear">
							<option>Select Academic Year</option>
							<option>2017-2018</option>
							<option>2016-2017</option>
							<option>2015-2016</option>
							<option>2014-2015</option>
							<option>2013-2014</option>
							<option>2012-2013</option>
							<option>2011-2012</option>
							<option>2010-2011</option>
						</select>
					</div>
					<div class="form-group">
						<label>Student Type</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.studenttype">
							<option>Select Student Type</option>
							<option>Regular</option>
							<option>Discontinued</option>
							<option>Re-Admission</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Date of Birth</label>
						<input class="form-control" type="text" name="dob" ng-model="studentdiscontinuedtcdata.dob">
					</div>
					<div class="form-group">
						<label>Enter Date of Birth in words</label>
						<input class="form-control" type="text" name="dobw" ng-model="studentdiscontinuedtcdata.dobw">
					</div>
					<div class="form-group">
						<label>Student Religion</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.religion">
							<option>Select Religion</option>
							<option>Hindu</option>
							<option>Christian</option>
							<option>Muslim</option>
						</select>
					</div>
					<div class="form-group">
						<label>Student Nationality</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.nationality">
							<option>Select Student Nationality</option>
							<option>Indian</option>
							<option>Others</option>
						</select>
					</div>
					<div class="form-group">
						<label>Student Gender</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.gender">
							<option>Select Student Gender</option>
							<option>Male</option>
							<option>Fe-Male</option>
							<option>Others</option>
						</select>
					</div>
					<div class="form-group">
						<label>Student Community</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.community">
							<option>Select Student Community</option>
							<option>SC</option>
							<option>BC</option>
							<option>MBC</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Caste</label>
						<input class="form-control" type="text" name="caste" ng-model="studentdiscontinuedtcdata.caste">
					</div>
					<div class="form-group">
						<label>Date of Admission</label>
						<input class="form-control" type="text" name="dateofadmission" ng-model="studentdiscontinuedtcdata.dateofadmission">
					</div>
					<div class="form-group">
						<label>Enter Left Date</label>
						<input class="form-control" type="text" name="leftdate" ng-model="studentdiscontinuedtcdata.leftdate">
					</div>
					<div class="form-group">
						<label>Enter Year of Student</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.yearofstudent">
							<option>Select Year of Student</option>
							<option>FIST YEAR</option>
							<option>SECOND YEAR</option>
							<option>THIRD YEAR</option>
							<option>FOURTH YEAR</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Last appeared Exam</label>
						<input class="form-control" type="text" name="lastappearedexam" ng-model="studentdiscontinuedtcdata.lastappearedexam">
					</div>
					<div class="form-group">
						<label>Enter Qualified Details</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.qualified">
							<option>Select Qualified details of Student</option>
							<option>COURSE COMPLETED</option>
							<option>RESULTS ARE AWAITED</option>
							<option>DEBARRED</option>
							<option>INSTITUTE TRANSFER</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Reason for TC</label>
						<select class="form-control" ng-model="studentdiscontinuedtcdata.reasonfortc">
							<option>Select Qualified details of Student</option>
							<option>COURSE COMPLETED</option>
							<option>RESULTS ARE AWAITED</option>
							<option>DEBARRED</option>
							<option>INSTITUTE TRANSFER</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Fees Balance</label>
						<input class="form-control" type="text" name="feesbalance" ng-model="studentdiscontinuedtcdata.feesbalance">
					</div>
					<div class="form-group">
						<label>Enter Course Duration From</label>
						<input class="form-control" type="text" name="durationfrom" ng-model="studentdiscontinuedtcdata.durationfrom">
					</div>
					<div class="form-group">
						<label>Enter Course Duration To</label>
						<input class="form-control" type="text" name="durationto" ng-model="studentdiscontinuedtcdata.durationto">
					</div>
					<div class="form-group">
						<label>Approved By Principal</label>
						<input class="form-control" type="text" name="approved" ng-model="studentdiscontinuedtcdata.approved">
					</div>

					<div class="form-group">
						<label>Enter Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="studentdiscontinuedtcdata.loginuser">
					</div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="SUBMIT">
			</div>
		</form>
	</div>
</div>