<h1>STUDENT DAILY HOME WORK</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="studentdailyhomeworkparentfetchplayschoolform" ng-submit="studentdailyhomeworkparentfetchPlaySchoolSubmit()" novalidate>

					<div class="form-group">
						<label>Date <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="registerNumberErrMsg" ng-show="showRegisterNumberErr"></label>						
						<input class="form-control" type="text" name="entrydate" ng-model="studentdailyhomeworkparentfetchplayschooldata.entrydate" ng-disabled = "true">
					</div>


					<div class="form-group">
						<label>Subject1 Title<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candidateNameErrMsg" ng-show="showcandidateNameErr"></label>						
						<input class="form-control" type="text" name="homeworkcontent" ng-model="studentdailyhomeworkparentfetchplayschooldata.homeworkcontent">
					</div>
					<div class="form-group">
						<label>Subject2 Title<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="candidateNameErrMsg" ng-show="showcandidateNameErr"></label>						
						<input class="form-control" type="text" name="homeworkcontent" ng-model="studentdailyhomeworkparentfetchplayschooldata.homeworkcontent">
					</div>

                    
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SAVE">
			</div>
		</form>
	</div>
</div>