<h1>STUDENT MONTHLY REPORT UPDATE PLAYSCHOOL</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="studentsmonthlyreportplayschoolform" ng-submit="studentsMonthlyReportPlaySchoolSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Remark Id</label>
						<input class="form-control" type="text" name="remarkid" ng-model="studentmonthlyreportplayschooldata.remarkid">
					</div>
					<div class="form-group">	
					<div class="text-right">
						<input type="button" class="btn btn-default" value="SEARCH">
					</div>
					</div>
					<div class="form-group">
						<label>Enter Entry Date</label>
						<input class="form-control" type="text" name="entrydate" ng-model="studentmonthlyreportplayschooldata.entrydate">
					</div>
					<div class="form-group">
						<label>Enter Entry Day</label>
						<input class="form-control" type="text" name="entryday" ng-model="studentmonthlyreportplayschooldata.entryday">
					</div>
					<div class="form-group">
						<label>Select Month</label>
						<select class="form-control" ng-model="studentmonthlyreportplayschooldata.month">
							<option>Select Month</option>
							<option>JANUARY</option>
							<option>FEBRUARY</option>
							<option>MARCH</option>
							<option>APRIL</option>
							<option>MAY</option>
							<option>JUNE</option>
							<option>JULY</option>
							<option>AUGUST</option>
							<option>SEPTEMBER</option>
							<option>OCTOBER</option>
							<option>NOVEMBER</option>
							<option>DECEMBER</option>
							</select>
					</div>
					<div class="form-group">
						<label>Enter Register Number</label>
						<input class="form-control" type="text" name="registernumber" ng-model="studentmonthlyreportplayschooldata.registernumber">
					</div>
					<div class="form-group">
						<label>Enter Candidate Name</label>
						<input class="form-control" type="text" name="name" ng-model="studentmonthlyreportplayschooldata.name">
					</div>


					<div class="form-group">
						<label>Select Program</label>
						<select class="form-control" ng-model="studentmonthlyreportplayschooldata.program">
							<option>Select Program</option>
							<option>TODDLER PROGRAM</option>
							<option>PREKG</option>
							<option>KG1</option>
							<option>KG2</option>
							
							</select>
					</div>
					<div class="form-group">
						<label>Select Sectiopn</label>
						<select class="form-control" ng-model="studentmonthlyreportplayschooldata.section">
							<option>Select Section</option>
							<option>SECTION - A</option>
							<option>SECTION - B</option>
							<option>SECTION - C</option>
							<option>SECTION - D</option>
						</select>
					</div>
					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="studentmonthlyreportplayschooldata.academicyear">
							<option>Select Academic Year</option>
							<option>2017-2018</option>
							<option>2016-2017</option>
							<option>2015-2016</option>
							<option>2014-2015</option>
							<option>2013-2014</option>
							<option>2012-2013</option>
							<option>2011-2012</option>
							<option>2010-2011</option>
						</select>
					</div>

					<div class="form-group">
						<label>Enter Category 1 Rating</label>
						<input class="form-control" type="text" name="category1rating" ng-model="studentmonthlyreportplayschooldata.category1rating">
					</div>
					<div class="form-group">
						<label>Enter Category 2 Rating</label>
						<input class="form-control" type="text" name="category2rating" ng-model="studentmonthlyreportplayschooldata.category2rating">
					</div>
					<div class="form-group">
						<label>Enter Category 3 Rating</label>
						<input class="form-control" type="text" name="category3rating" ng-model="studentmonthlyreportplayschooldata.category3rating">
					</div>
					<div class="form-group">
						<label>Enter Category 4 Rating</label>
						<input class="form-control" type="text" name="category4rating" ng-model="studentmonthlyreportplayschooldata.category4rating">
					</div>
					<div class="form-group">
						<label>Enter Category 5 Rating</label>
						<input class="form-control" type="text" name="category5rating" ng-model="studentmonthlyreportplayschooldata.category5rating">
					</div>
					<div class="form-group">
						<label>Enter Category 6 Rating</label>
						<input class="form-control" type="text" name="category6rating" ng-model="studentmonthlyreportplayschooldata.category6rating">
					</div>
					<div class="form-group">
						<label>Enter Category 7 Rating</label>
						<input class="form-control" type="text" name="category7rating" ng-model="studentmonthlyreportplayschooldata.category7rating">
					</div>
					<div class="form-group">
						<label>Enter Category 8 Rating</label>
						<input class="form-control" type="text" name="category8rating" ng-model="studentmonthlyreportplayschooldata.category8rating">
					</div>
					<div class="form-group">
						<label>Enter Category 9 Rating</label>
						<input class="form-control" type="text" name="category9rating" ng-model="studentmonthlyreportplayschooldata.category9rating">
					</div>
					<div class="form-group">
						<label>Enter Category 10 Rating</label>
						<input class="form-control" type="text" name="category10rating" ng-model="studentmonthlyreportplayschooldata.category10rating">
					</div>
					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="studentmonthlyreportplayschooldata.loginuser">
					</div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>