<h1>STUDENT HOME WORK ENTRY PLAYSCHOOL</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="studenthomeworkplayschoolform" ng-submit="studentHomeWorkPlaySchoolSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter HomeWork Id</label>
						<label class="label-error-message" ng-bind="homeworkIdErrMsg" ng-show="showHomeWorkIdErr"></label>
						<input class="form-control" type="text" name="homeworkid" ng-model="studenthomeworkplayschooldata.homeworkid">
					</div>

					<div class="form-group">
						<label>Enter Date</label>
						<label class="label-error-message" ng-bind="entryDateErrMsg" ng-show="showEntryDateErr"></label>
						<input class="form-control" type="text" name="entrydate" ng-model="studenthomeworkplayschooldata.entrydate">
					</div>
					<div class="form-group">
						<label>Enter Day</label>
						<label class="label-error-message" ng-bind="entryDayErrMsg" ng-show="showEntryDayErr"></label>
						<input class="form-control" type="text" name="entryday" ng-model="studenthomeworkplayschooldata.entryday">
					</div>

					<div class="form-group">
						<label>Select Program</label>
						<label class="label-error-message" ng-bind="programErrMsg" ng-show="showProgramErr"></label>
						<select class="form-control" ng-model="studenthomeworkplayschooldata.program">
							<option>Select Program</option>
							<option>TODDLER PROGRAM</option>
							<option>PREKG</option>
							<option>KG1</option>
							<option>KG2</option>
							</select>
					</div>
					<div class="form-group">
						<label>SELECT SECTION</label>
						<label class="label-error-message" ng-bind="sectionErrMsg" ng-show="showSectionErr"></label>
						<select class="form-control" ng-model="studenthomeworkplayschooldata.section">
							<option>Select Section</option>
							<option>SECTION - A</option>
							<option>SECTION - B</option>
							<option>SECTION - C</option>
							<option>SECTION - D</option>
						</select>
					</div>

					<div class="form-group">
						<label>Academic Year</label>
						<label class="label-error-message" ng-bind="academicYearErrMsg" ng-show="showAcademicYearErr"></label>
						<select class="form-control" ng-model="studenthomeworkplayschooldata.academicyear">
							<option>Select Academic Year</option>
							<option>2017-2018</option>
							<option>2016-2017</option>
							<option>2015-2016</option>
							<option>2014-2015</option>
							<option>2013-2014</option>
							<option>2012-2013</option>
							<option>2011-2012</option>
							<option>2010-2011</option>
						</select>
					</div>
					<div class="form-group">
						<label>SELECT SUBJECT CATEGORY</label>
						<label class="label-error-message" ng-bind="subjectCategoryErrMsg" ng-show="showSubjectCategoryErr"></label>
						<select class="form-control" ng-model="studenthomeworkplayschooldata.subjectcategory">
							<option>Select Subject Category</option>
							<option>TAMIL</option>
							<option>ENGLISH</option>
							<option>MATHS</option>
							<option>OTHERS</option>
						</select>
					</div>

					<div class="form-group">
						<label>Enter Home Work Content</label>
						<label class="label-error-message" ng-bind="homeworkContentErrMsg" ng-show="showHomeWorkContentErr"></label>
						<input class="form-control" type="text" name="homeworkcontent" ng-model="studenthomeworkplayschooldata.homeworkcontent">
					</div>
					<div class="form-group">
						<label>Enter Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="studenthomeworkplayschooldata.loginuser">
					</div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>