<h1>STUDENT HOME WORK ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="studenthomeworkplayschoolform" ng-submit="studentHomeWorkPlaySchoolSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter HomeWork Id <font color="red">**</font></label>
						<label class="label-error-message" ng-bind="homeworkIdErrMsg" ng-show="showHomeWorkIdErr"></label>
						<input class="form-control" type="text" name="homeworkid" ng-model="studenthomeworkplayschooldata.homeworkid" ng-disabled = "true">
					</div>

					<div class="form-group">
						<label>Enter Date<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="entryDateErrMsg" ng-show="showEntryDateErr"></label>
						<input class="form-control" type="text" name="entrydate" ng-model="studenthomeworkplayschooldata.entrydate">
					</div>
					<div class="form-group">
						<label>Enter Day<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="entryDayErrMsg" ng-show="showEntryDayErr"></label>
						<input class="form-control" type="text" name="entryday" ng-model="studenthomeworkplayschooldata.entryday">
					</div>

					<div class="form-group">
						<label>Select Program<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="programErrMsg" ng-show="showProgramErr"></label>
						<select class="form-control" ng-model="studenthomeworkplayschooldata.program">
							<option>Select Program</option>
							<option>TODDLER PROGRAM</option>
							<option>PRE-KG</option>
							<option>KG1</option>
							<option>KG2</option>
							<option>I STD</option>
							<option>II STD</option>
							<option>III STD</option>
							<option>IV STD</option>
							<option>V STD</option>
							</select>
					</div>
					<div class="form-group">
						<label>SELECT SECTION<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="sectionErrMsg" ng-show="showSectionErr"></label>
						<select class="form-control" ng-model="studenthomeworkplayschooldata.section">
							<option>Select Section</option>
							<option>SECTION - A</option>
							<option>SECTION - B</option>
							<option>SECTION - C</option>
							<option>SECTION - D</option>
						</select>
					</div>

					<div class="form-group">
						<label>Academic Year<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="academicYearErrMsg" ng-show="showAcademicYearErr"></label>
						<select class="form-control" ng-model="studenthomeworkplayschooldata.academicyear">
							<option>Select Academic Year</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
							<option>2020-2021</option>
						</select>
					</div>
					<div class="form-group">
						<label>SELECT SUBJECT CATEGORY<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="subjectCategoryErrMsg" ng-show="showSubjectCategoryErr"></label>
						<select class="form-control" ng-model="studenthomeworkplayschooldata.subjectcategory">
							<option>Select Subject Category</option>
							<option>LITERACY</option>
							<option>MEMORIES</option>
							<option>GENERAL AWARENESS</option>
							<option>NUMERACY</option>
							<option>PENCIL TIME ENGLISH</option>
							<option>PENCIL TIME MATHEMATICS</option>
							<option>PENCIL TIME STROKES AND CURVES</option>
							<option>TAMIL</option>
							<option>ENGLISH</option>
							<option>MATHS</option>
							<option>EVS</option>
							<option>SOCIAL SCIENCE</option>
							<option>SCIENCE</option>
							<option>COMPUTER STUDIES</option>
							<option>HINDI</option>
							<option>OTHERS</option>
						</select>
					</div>

					<div class="form-group">
						<label>Enter Home Work Content<font color="red">**</font></label>
						<label class="label-error-message" ng-bind="homeworkContentErrMsg" ng-show="showHomeWorkContentErr"></label>
						<textarea class="form-control" ng-model="studenthomeworkplayschooldata.homeworkcontent"></textarea>
						
<!-- 						<input class="form-control" type="text" name="homeworkcontent" ng-model="studenthomeworkplayschooldata.homeworkcontent"> -->
					</div>
					<!-- <div class="form-group">
						<label>Enter Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="studenthomeworkplayschooldata.loginuser">
					</div>
					<div class="form-group">
						<label>Enter Institute Id</label>
						<label class="label-error-message" ng-bind="institueIdErrMsg" ng-show="showInstituteIdErr"></label>
						<input class="form-control" type="text" name="instituteid" ng-model="studenthomeworkplayschooldata.instituteid">
					</div> -->

				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT" ng-click="reloadPage();">
			</div>
		</form>
	</div>
</div>