<h1>STUDENT ATTENDANCE ENTRY</h1>
<div class="row">
	<div class="col-md-12">
		<form name="studentattendanceplayschoolform" ng-submit="getStudentListAttendance()" novalidate>
			<div class="row student-form">
				<div class="col-md-6">
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="entrydate" ng-model="getPlaySchoolStudentListData.entrydate" required>
					</div>

					<div class="form-group">
						<label>PROGRAM</label>
						<select class="form-control" ng-model="getPlaySchoolStudentListData.standardstudying" required>
							<option>TODDLER PROGRAM</option>
							<option>PRE-KG</option>
							<option>KG1</option>
							<option>KG2</option>
							<option>I STD</option>
							<option>II STD</option>
							<option>III STD</option>
							<option>IV STD</option>
							<option>V STD</option>
						</select>
					</div>
					<div class="form-group">
						<label>SECTION</label>
						<select class="form-control" ng-model="getPlaySchoolStudentListData.section" required>
							<option>SECTION - A</option>
							<option>SECTION - B</option>
							<option>SECTION - C</option>
						</select>
					</div>

					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="getPlaySchoolStudentListData.academicyear" required>
							<option>2018-2019</option>
							<option>2017-2018</option>
							<option>2016-2017</option>
							<option>2015-2016</option>
						</select>
					</div>
					<div class="form-group">
						<label>Student Status</label>
						<select class="form-control" ng-model="getPlaySchoolStudentListData.studentstatus" required>
							<option>Regular</option>
							<option>Admitted</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Institute Id</label>
						<input class="form-control" type="text" name="instituteid" ng-model="getPlaySchoolStudentListData.instituteid" required>
					</div>

					<button ng-disabled="studentattendanceplayschoolform.$invalid" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>


<br/>
<br/>
<br/>

<form name="studentattendancesubmitplayschoolform" ng-submit="submitStudentAttendance()" novalidate>

<div class="row">
	<div class="col-md-6">
		<table>
			<tr>
				<th>S.No.</th>
				<th>Reg. No</th>
				<th>Name</th>
				<th>Present</th>
			</tr>


			<tr ng-repeat= "student in playschoolstudentList" ng-init="student.presentstatus = 1" ng-class="{'absentrow': student.presentstatus == 0 , 'presentrow': student.presentstatus == 1}">
				<td>{{$index+1}}</td>
				<td>{{student.registernumber}}</td>
				<td class="studentnameatt">{{student.candidatename}}</td>
				<td><input type="checkbox" ng-model="student.presentstatus" ng-true-value="1" ng-false-value="0"/>
				</td>
				
			</tr>
		</table>
	</div>
	<div class="col-md-6">
	<h4>Absentee List</h4>
		<table>
			<tr>
				<th>Reg. No</th>
				<th>Name</th>
			</tr>


			<tr ng-repeat= "student in playschoolstudentList" ng-if="student.presentstatus == 0" ng-class="{'absentrow': student.presentstatus == 0 , 'presentrow': student.presentstatus == 1}">
				
				<td>{{student.registernumber}}</td>
				<td class="studentnameatt">{{student.candidatename}}</td>
				</td>
				
			</tr>
		</table>
		<br/>
		<br/>
		<input type="button" class="btn btn-primary" ng-click="confirmAbsentee=true" value="Confirm Absentee">
	</div>
</div>


<br/>
<br/>
<br/>
<p>Note: Please Click Confirm Absentee button to submit</p>
<button class="btn btn-primary" ng-disabled="!confirmAbsentee">Submit Attendance</button>
</form>
