<h1>PLAYSCHOOL CHILD PICKUP ENTRY</h1>
<div class="row">
	<div class="col-md-12">
		<form name="studentattendanceplayschoolform" ng-submit="getStudentListAttendance()" novalidate>
			<div class="row student-form">
				<div class="col-md-6">
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="entrydate" ng-model="getPlaySchoolStudentListData.entrydate" required>
					</div>

					<div class="form-group">
						<label>PROGRAM</label>
						<select class="form-control" ng-model="getPlaySchoolStudentListData.standardstudying" required>
							<option>TODDLER PROGRAM</option>
							<option>PRE-KG</option>
							<option>KG1</option>
							<option>KG2</option>
						</select>
					</div>
					<div class="form-group">
						<label>SECTION</label>
						<select class="form-control" ng-model="getPlaySchoolStudentListData.section" required>
							<option>SECTION - A</option>
							<option>SECTION - B</option>
							<option>SECTION - C</option>
						</select>
					</div>

					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="getPlaySchoolStudentListData.academicyear" required>
							<option>2018-2019</option>
							<option>2019-2020</option>
							<option>2020-2021</option>
							<option>2021-2022</option>
						</select>
					</div>
					<div class="form-group">
						<label>Student Status</label>
						<select class="form-control" ng-model="getPlaySchoolStudentListData.studentstatus" required>
							<option>Regular</option>
							<option>Admitted</option>
						</select>
					</div>
					<!-- <div class="form-group">
						<label>Institute Id</label>
						<input class="form-control" type="text" name="instituteid" ng-model="getPlaySchoolStudentListData.instituteid" required>
					</div> -->
					<button ng-disabled="studentattendanceplayschoolform.$invalid" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>


<br/>
<br/>
<br/>

<form name="studentattendancesubmitplayschoolform" ng-submit="submitPickupDetails()" novalidate>

<div class="row">
	<div class="col-md-12">
	<div class="table-responsive scrolltable">
		<table>
			<tr>
				<th>S.No.</th>
				<th>Reg. No</th>
				<th>Name</th>
				<th>Pickup Person Name</th>
				<th>Pickup Contact No</th>
				<th>Relationship</th>
				<th>PickUp Time</th>
				<th>Remarks</th>
				<th>Action</th>
			</tr>


			<tr ng-repeat= "student in playschoolstudentList" ng-init="student.presentstatus = 1" ng-class="{'rowedit': student.iseditstatus == 1}">
				<td>{{$index+1}}</td>
				<td>{{student.registernumber}}</td>
				<td class="studentnameatt">{{student.candidatename}}</td>
				<td ng-init="student.iseditstatus=0">
					<span ng-if="student.iseditstatus==0">
						{{student.play_school_student_personal_regno.pickuppersonname}}
					</span>
					<span ng-if="student.iseditstatus==1">
						<input type="text" ng-model="student.play_school_student_personal_regno.pickuppersonname">
					</span>
				</td>
				<td>
					<span ng-if="student.iseditstatus==0">
						{{student.play_school_student_personal_regno.pickuppersoncontactno}}
					</span>
					<span ng-if="student.iseditstatus==1">
						<input type="text" ng-model="student.play_school_student_personal_regno.pickuppersoncontactno">
					</span>
				</td>
				<td>
					<span ng-if="student.iseditstatus==0">
						{{student.play_school_student_personal_regno.pickuppersonrelationship}}
					</span>
					<span ng-if="student.iseditstatus==1">
						<input type="text" ng-model="student.play_school_student_personal_regno.pickuppersonrelationship">
					</span>
				</td>
				<td><input type="text" ng-model="student.pickuptime" ng-init="student.pickuptime=currenttime"></td>
				<td><input type="text" ng-model="student.remarks" ng-init="student.remarks='NIL'"></td>
				<td><label>Edit: </label><input type="checkbox" ng-model="student.iseditstatus" ng-true-value="1" ng-false-value="0"/>
				</td>
				
			</tr>
		</table>
		</div>
	</div>
</div>


<br/>
<br/>
<br/>
<p>Note: Please Click Confirm Absentee button to submit</p>
<button class="btn btn-primary">Submit Attendance</button>
</form>
