<h1>STUDENT BASE INFORMATION</h1>
<div class="row">
	<div class="col-md-12">
		<form name="studentbaseinfoform" ng-submit="studentBaseInfoSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Registratoin Number </label>
						<input class="form-control" type="text" name="regno" ng-model="studentbaseinfodata.regno">
					</div> 
					<div class="form-group">	
					<div class="text-right">
						<input type="button" class="btn btn-default form-button" value="SEARCH">
					</div>
					</div>
					<div class="form-group">
						<label>Admission Number </label>
						<input class="form-control" type="text" name="admissionno" ng-model="studentbaseinfodata.admissionno">
					</div>
					<div class="form-group">
						<label>Name  </label>
						<input class="form-control" type="text" name="studentname" ng-model="studentbaseinfodata.studentname">
					</div>
					<div class="form-group">
						<label>Semester</label>
						<select class="form-control" ng-model="studentbaseinfodata.semester">
							<option>Select Semester</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
					<div class="form-group">
						<label>Branch</label>
						<select class="form-control" ng-model="studentbaseinfodata.branch">
							<option>Select Branch</option>
							<option>Civil Engineering</option>
							<option>Mechanical Engineering</option>
							<option>Automobile Engineering</option>
							<option>Electrical and Electronics Engineering</option>
						</select>
					</div>
					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="studentbaseinfodata.branchcode">
					</div>
					<div class="form-group">
					<div class="form-group">
						<label>Batch</label>
						<select class="form-control" ng-model="studentbaseinfodata.batch">
							<option>Select Batch</option>
							<option>Batch - I</option>
							<option>Batch - II</option>
							<option>Batch - III</option>
							<option>NULL</option>
						</select>
					</div>
					<div class="form-group">
						<label>Scheme</label>
						<select class="form-control" ng-model="studentbaseinfodata.scheme">
							<option>Select Scheme</option>
							<option>K</option>
							<option>L</option>
							<option>M</option>
							<option>N</option>
						</select>
					</div>

					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="studentbaseinfodata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>
					<div class="form-group">
						<label>Student Type</label>
						<select class="form-control" ng-model="studentbaseinfodata.studenttype">
							<option>Select Student Type</option>
							<option>Regular</option>
							<option>Part-Time</option>
							<option>Sandwich</option>
							<option>Re-Admission</option>
							<option>Institute Transfer</option>
							<option>Discontinued</option>
						</select>
					</div>

					<div class="form-group">
						<label>Poto Available</label>
						<select class="form-control" ng-model="studentbaseinfodata.poto">
							<option>Select Poto Status</option>
							<option>Yes</option>
							<option>No</option>
							</select>
					</div>

					<div class="form-group">
						<label>Login User </label>
						<input class="form-control" type="text" name="loginuser" ng-model="studentbaseinfodata.loginuser">
					</div>
		
																									
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="SAVE">
			</div>
		</form>
	</div>
</div>
