<h1>STUDENT PROFILE VIEW</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="studentprofilevilewplayschoolform" ng-submit="studentProfileViewPlaySchoolSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Registration No</label>
						<input class="form-control" type="text" name="registernumber" ng-model="studentprofileinformationdata1.registernumber">
					</div>
					<div class="form-group">	
					<div class="text-right">
						<input type="button" class="btn btn-default" ng-click="getStudentProfileInfoView()" value="SEARCH">
					</div>
					</div>
					<div class="form-group" ng-show="studentprofileinfoview.candidatename">
						<label>Name</label>
						<p>{{studentprofileinfoview.candidatename}}</p>
					</div>
					<div class="form-group" ng-show="studentprofileinfoview.dateofbirth">
						<label>Date of Birth</label>
						<p>{{studentprofileinfoview.dateofbirth}}</p>
					</div>

					<div class="form-group" ng-show="studentprofileinfoview.age">
						<label>Age</label>
						<p>{{studentprofileinfoview.age}}</p>
					</div>

					<div class="form-group" ng-show ="studentprofileinfoview.gender">
						<label>Gender</label>
						<p>{{studentprofileinfoview.gender}}</p>
					</div>

					<div class="form-group" ng-show ="studentprofileinfoview.candfathername">
						<label>Candidate Father Name</label>
						<p>{{studentprofileinfoview.candfathername}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.candmothername">
						<label>Candidate Mother Name</label>
						<p>{{studentprofileinfoview.candmothername}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.presentaddress1">
						<label>Present Address</label>
						<p>{{studentprofileinfoview.presentaddress1}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.presentaddress2">
						<p>{{studentprofileinfoview.presentaddress2}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.presentarea">
						<p>{{studentprofileinfoview.presentarea}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.presentpincode">
						<p>{{studentprofileinfoview.presentpincode}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.presentstate">
						<p>{{studentprofileinfoview.presentstate}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersmobileno">
						<label>Fathers Mobile Number</label>
						<p>{{studentprofileinfoview.fathersmobileno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersaltmobno">
						<label>Fathers Alternative Mobile Number</label>
						<p>{{studentprofileinfoview.fathersaltmobno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersmobileno">
						<label>Mothers Mobile Number</label>
						<p>{{studentprofileinfoview.mothersmobileno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersaltmobno">
						<label>Mothers Alternative Mobile Number</label>
						<p>{{studentprofileinfoview.mothersaltmobno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersemail">
						<label>Fathers Email - ID</label>
						<p>{{studentprofileinfoview.fathersemail}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersemail">
						<label>Mothers Email - ID</label>
						<p>{{studentprofileinfoview.mothersemail}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.reference">
						<label>Reference</label>
						<p>{{studentprofileinfoview.reference}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersoccupation">
						<label>Fathers Occupation</label>
						<p>{{studentprofileinfoview.fathersoccupation}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersofficename">
						<label>Fathers Office Name</label>
						<p>{{studentprofileinfoview.fathersofficename}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersofficeaddress1">
						<label>Fathers Office Address</label>
						<p>{{studentprofileinfoview.fathersofficeaddress1}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersofficeaddress2">
						<p>{{studentprofileinfoview.fathersofficeaddress2}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersofficearea">
						<p>{{studentprofileinfoview.fathersofficearea}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersofficepincode">
						<p>{{studentprofileinfoview.fathersofficepincode}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersofficestate">
						<p>{{studentprofileinfoview.fathersofficestate}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersofficephoneno">
						<label>Fathers Office Phone Number</label>
						<p>{{studentprofileinfoview.fathersofficephoneno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersofficealtphoneno">
						<label>Fathers Office Alternative Office Number</label>
						<p>{{studentprofileinfoview.fathersofficealtphoneno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersofficeextensionno">
						<label>Fathers Office Extension Number</label>
						<p>{{studentprofileinfoview.fathersofficeextensionno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersoccupation">
						<label>Mothers Occupation</label>
						<p>{{studentprofileinfoview.mothersoccupation}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersofficename">
						<label>Mothers Office Name</label>
						<p>{{studentprofileinfoview.mothersofficename}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersofficeaddress1">
						<label>Mothers Office Address</label>
						<p>{{studentprofileinfoview.mothersofficeaddress1}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersofficeaddress2">
						<p>{{studentprofileinfoview.mothersofficeaddress2}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersofficearea">
						<p>{{studentprofileinfoview.mothersofficearea}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersofficepincode">
						<p>{{studentprofileinfoview.mothersofficepincode}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersofficestate">
						<p>{{studentprofileinfoview.mothersofficestate}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersofficephoneno">
						<label>Mothers Office Phone Number</label>
						<p>{{studentprofileinfoview.mothersofficephoneno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersofficealtphoneno">
						<label>Fathers Office Alternative Number</label>
						<p>{{studentprofileinfoview.mothersofficealtphoneno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersofficeextensionno">
						<label>Mothers Office Extension Number</label>
						<p>{{studentprofileinfoview.mothersofficeextensionno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.fathersdob">
						<label>Fathers Date of Birth</label>
						<p>{{studentprofileinfoview.fathersdob}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.mothersdob">
						<label>Mothers Date of Birth</label>
						<p>{{studentprofileinfoview.mothersdob}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.parentsweddingdate">
						<label>Parents Wedding Date</label>
						<p>{{studentprofileinfoview.parentsweddingdate}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.religion">
						<label>Religion</label>
						<p>{{studentprofileinfoview.religion}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.pickuppersonname">
						<label>Pickup Person Name</label>
						<p>{{studentprofileinfoview.pickuppersonname}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.pickuppersoncontactno">
						<label>Pickup Person Contact Number</label>
						<p>{{studentprofileinfoview.pickuppersoncontactno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.pickuppersonaltcontactno">
						<label>Pickup Person Alternate Contact Number</label>
						<p>{{studentprofileinfoview.pickuppersonaltcontactno}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.pickuppersonrelationship">
						<label>Pickup Person Relationship</label>
						<p>{{studentprofileinfoview.pickuppersonrelationship}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.transport">
						<label>Childs Transport Mode</label>
						<p>{{studentprofileinfoview.transport}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.transportstage">
						<label>Childs Transport Stage</label>
						<p>{{studentprofileinfoview.transportstage}}</p>
					</div>
					<div class="form-group" ng-show ="studentprofileinfoview.academicyear">
						<label>Academic Year</label>
						<p>{{studentprofileinfoview.academicyear}}</p>
					</div>


				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="CREATE USER">
			</div>
		</form>
	</div>
</div>