<h1>SUBJECT ALLOCATION</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="subjectallocationform" ng-submit="subjectAllocationSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">	
				<div class="form-group">
						<label>Branch Name</label>
						<select class="form-control" ng-model="subjectallocationdata.branchname">
							<option>Select Category</option>
							<option>Civil Engineering</option>
							<option>Mechanical Engineering</option>
							<option>Automobile Engineering</option>
							<option>Electrtical and Electronics Engg</option>
							<option>Electronics and Communication</option>
							<option>Computer Engineering</option>
							<option>Information Technology</option>
						</select>
					</div>

					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="subjectallocationdata.branchcode">
					</div>

                    <div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="subjectallocationdata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>

					<div class="form-group">
						<label>Semester</label>
						<select class="form-control" ng-model="subjectallocationdata.semester">
							<option>Select Category</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
						</select>
					</div>

					<div class="form-group">
						<label>Batch</label>
						<select class="form-control" ng-model="subjectallocationdata.batch">
							<option>Select Batch</option>
							<option>Batch - I</option>
							<option>Batch - II</option>
							<option>Batch - III</option>
							<option>NULL</option>
						</select>
					</div>

					<div class="form-group">
						<label>Scheme</label>
						<select class="form-control" ng-model="subjectallocationdata.scheme">
							<option>Select scheme</option>
							<option>L</option>
							<option>M</option>
							<option>K</option>
						</select>
					</div>
					<div class="form-group">
						<label>Subject Type</label>
						<select class="form-control" ng-model="subjectallocationdata.subjecttype">
							<option>Select Subject Type</option>
							<option>Theory</option>
							<option>Practical</option>
						</select>
					</div>

                    <div class="form-group">
						<label>Subject Name</label>
						<select class="form-control" ng-model="subjectallocationdata.subjectname">
							<option>Select Subject</option>
							<option>C</option>
							<option>C++</option>
							<option>Java</option>
							<option>.Net</option>
							<option>SysAdmin</option>
						</select>
					</div>
					<div class="form-group">
						<label>Subject Code</label>
						<input class="form-control" type="text" name="subjectcode" ng-model="subjectallocationdata.subjectcode">
					</div>

					<div class="form-group">
						<label>Column Name</label>
						<input class="form-control" type="text" name="columnname" ng-model="subjectallocationdata.columnname">
					</div>
					
					<div class="form-group">
						<label>In Short</label>
						<input class="form-control" type="text" name="inshort" ng-model="subjectallocationdata.inshort">
					</div>

					<div class="form-group">
						<label>Required Hours</label>
						<input class="form-control" type="text" name="reqhours" ng-model="subjectallocationdata.reqhours">
					</div>
					
					<div class="form-group">
						<label>Allotted Hours</label>
						<input class="form-control" type="text" name="allottedhours" ng-model="subjectallocationdata.allottedhours">
					</div>

					<div class="form-group">
						<label>Hours Per Syllabus</label>
						<input class="form-control" type="text" name="hourspersyllabus" ng-model="subjectallocationdata.hourspersyllabus">
					</div>
                    
                    <div class="form-group">
						<label>Staff1 ID</label>
						<input class="form-control" type="text" name="staff1_id" ng-model="subjectallocationdata.staff1_id">
					</div>

                    <div class="form-group">
						<label>Staff Name</label>
						<input class="form-control" type="text" name="staff1_name" ng-model="subjectallocationdata.staff1_name">
					</div>
                    
                    <div class="form-group">
						<label>Staff2 ID</label>
						<input class="form-control" type="text" name="staff2_id" ng-model="subjectallocationdata.staff2_id">
					</div>

                    <div class="form-group">
						<label>Staff Name</label>
						<input class="form-control" type="text" name="staff2_name" ng-model="subjectallocationdata.staff2_name">
					</div> 

					<div class="form-group">
						<label>Day</label>
						<select class="form-control" ng-model="subjectallocationdata.day">
							<option>Select Day</option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Wednesday</option>
							<option>Thursday</option>
							<option>Friday</option>
							<option>Saturday</option>
						</select>
					</div>
                    
                    <div class="form-group">
						<label>Hour</label>
						<select class="form-control" ng-model="subjectallocationdata.hour">
							<option>Hour</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
						</select>
					</div>

					<div class="form-group">
						<label>Column No</label>
						<input class="form-control" type="text" name="columnno" ng-model="subjectallocationdata.columnno">
					</div> 
                    
                    <div class="form-group">
						<label>Total Week hours</label>
						<input class="form-control" type="text" name="totweekhours" ng-model="subjectallocationdata.totweekhours">
					</div>
                    
                    <div class="form-group">
						<label>Load Hours-1</label>
						<input class="form-control" type="text" name="loadhours1" ng-model="subjectallocationdata.loadhours1">
					</div>

					<div class="form-group">
						<label>Load Hours-2</label>
						<input class="form-control" type="text" name="loadhours2" ng-model="subjectallocationdata.loadhours2">
					</div>

                    <div class="form-group">
						<label>Class RoomNo</label>
						<input class="form-control" type="text" name="classroomno" ng-model="subjectallocationdata.classroomno">
					</div>

					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="subjectallocationdata.loginuser">
					</div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="CREATE USER">
			</div>
		</form>
	</div>
</div>