<h1>STAFF ATTENDANCE ENTRY</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="staffattendanceform" ng-submit="staffAttendanceSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">	
					<div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="entrydate" ng-model="staffattendancedata.entrydate">
					</div>

					<div class="form-group">
						<label>Enter Day</label>
						<input class="form-control" type="text" name="entryday" ng-model="staffattendancedata.entryday">
					</div>

					<div class="form-group">
						<label>Enter Branch</label>
						<select class="form-control" ng-model="branch">
							<option>CIVIL ENGINEERING</option>
							<option>MECHANICAL ENGINEERING</option>
							<option>AUTOMOBILE ENGINEERING</option>
							<option>ELECTRICAL AND ELECTRONICS ENGINEERING</option>
							<option>ELECTRONICS AND COMMUNICATION ENGINEERING</option>
							<option>COMPUTER ENGINEERING</option>
							<option>INFORMATION TECHNOLOGY</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="staffattendancedata.branchcode">
					</div>
					<div class="form-group">
						<label>Enter Total Present</label>
						<input class="form-control" type="text" name="totalpresent" ng-model="staffattendancedata.totalpresent">
					</div>
					<div class="form-group">
						<label>Enter Total Absent</label>
						<input class="form-control" type="text" name="totalabsent" ng-model="staffattendancedata.totalabsent">
					</div>
					<div class="form-group">
						<label>Enter Total Permission</label>
						<input class="form-control" type="text" name="totalpermission" ng-model="staffattendancedata.totalpermission">
					</div>

					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="staffattendancedata.academicyear">
							<option>2016-2017</option>
							<option>2015-2016</option>
							<option>2016-2017</option>
							<option>2016-2017</option>
						</select>
					</div>
					<input type="submit" class="btn btn-primary" value="SUBMIT">
				</div>
			</div>
		</form>
	</div>
</div>


<br/>
<br/>
<br/>


<table>
	<tr>
		<th>S.No.</th>
		<th>Staff Id</th>
		<th>Staff Name</th>
		<th>Attendance</th>
		<th>Informed</th>
	</tr>


	<tr ng-repeat= "staff in staffList">
		<td>{{$index}}</td>
		<td>{{staffList.regNo}}</td>
		<td>{{staffList.studentName}}</td>
		<td><input type="checkbox"/></td>
		<td><input type="checkbox"/></td>
	</tr>
</table>

<br/>
<br/>
<br/>
<button ng-click="" class="btn btn-primary">Submit Attendance</button>