<h1>Train Concession</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="trainconcession" ng-submit="trainconcessionSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter RegNo</label>
						<input class="form-control" type="text" name="regno" ng-model="trainconcessiondata.regno">
					</div>

                    <div class="form-group">
						<label>Admission No</label>
						<input class="form-control" type="text" name="admissionno" ng-model="trainconcessiondata.admissionno">
					</div>

   					<div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" name="name" ng-model="trainconcessiondata.name">
					</div>
					
					<div class="form-group">
						<label>Semester</label>
						<input class="form-control" type="text" name="semester" ng-model="trainconcessiondata.semester">
					</div>
					
					<div class="form-group">
						<label>Branch Name</label>
						<select class="form-control" ng-model="trainconcessiondata.branchname">
							<option>Select Category</option>
							<option>Civil Engineering</option>
							<option>Mechanical Engineering</option>
							<option>Automobile Engineering</option>
							<option>Electrtical and Electronics Engg</option>
							<option>Electronics and Communication</option>
							<option>Computer Engineering</option>
							<option>Information Technology</option>
						</select>
					</div>

					<div class="form-group">
						<label>Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="trainconcessiondata.branchcode">
					</div>

                    <div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="trainconcessiondata.academicyear">
							<option>Select Year</option>
							<option>2016-2017</option>
							<option>2017-2018</option>
							<option>2018-2019</option>
							<option>2019-2020</option>
						</select>
					</div>

					<div class="form-group">
						<label>Present Address</label>
						<input class="form-control" type="text" name="presentaddress1" ng-model="trainconcessiondata.presentaddress1">
						<input class="form-control" type="text" name="presentaddress2" ng-model="trainconcessiondata.presentaddress2">
					</div>
					
					<div class="form-group">
						<label>Mobile No</label>
						<input class="form-control" type="text" name="presentmobileno" ng-model="trainconcessiondata.presentmobileno">
					</div>


					<div class="form-group">
						<label>Email ID</label>
						<input class="form-control" type="text" name="emailid" ng-model="trainconcessiondata.emailid">
					</div>


                    <div class="form-group">
						<label>Gender</label>
						<select class="form-control" ng-model="trainconcessiondata.gender">
							<option>Select Gender</option>
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
                    
                    <div class="form-group">
						<label>DOB</label>
						<input class="form-control" type="text" name="dob" ng-model="trainconcessiondata.dob">
					</div> 

                    <div class="form-group">
						<label>Cert.No</label>
						<input class="form-control" type="text" name="certno" ng-model="trainconcessiondata.certno">
					</div> 

                    <div class="form-group">
						<label>Cert Date</label>
						<input class="form-control" type="text" name="certdate" ng-model="trainconcessiondata.certdate">
					</div> 

					<div class="form-group">
						<label>Period From</label>
						<input class="form-control" type="text" name="periodfrom" ng-model="trainconcessiondata.periodfrom">
					</div> 
                    
                    <div class="form-group">
						<label>Period To</label>
						<input class="form-control" type="text" name="periodto" ng-model="trainconcessiondata.periodto">
					</div>

					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="trainconcessiondata.loginuser">
					</div> 
  
  
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default form-button" value="CLEAR">
				<input type="submit" class="btn btn-primary form-button" value="CREATE USER">
			</div>
		</form>
	</div>
</div>