<h1>TRANSPORT ID CARD</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="transportidcardform" ng-submit="transportIdCardSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">					
					<div class="form-group">
						<label>Enter Regno</label>
						<input class="form-control" type="text" name="regno" ng-model="trtansportidcarddata.regno">
					</div>
					<div class="form-group">
						<label>Enter Admission Number</label>
						<input class="form-control" type="text" name="admissionno" ng-model="trtansportidcarddata.admissionno">
					</div>
					<div class="form-group">
						<label>Enter Candidate Name</label>
						<input class="form-control" type="text" name="candidatename" ng-model="trtansportidcarddata.candidatename">
					</div>

					<div class="form-group">
						<label>Select Branch</label>
						<select class="form-control" ng-model="trtansportidcarddata.branch">
							<option>Select Branch</option>
							<option>CIVIL ENGINEERING</option>
							<option>MECHANICAL ENGINEERING</option>
							<option>AUTOMOBILE ENGINEERING</option>
							<option>ELECTRICAL AND ELECTRONICS ENGINEERING</option>
							<option>ELECTRONICS AND COMMUNICATION ENGINEERING</option>
							<option>COMPUTER ENGINEERING ENGINEERING</option>
							<option>INFORMATION TECHNOLOGY</option>
							</select>
					</div>
					<div class="form-group">
						<label>Enter Branch Code</label>
						<input class="form-control" type="text" name="branchcode" ng-model="trtansportidcarddata.branchcode">
					</div>
					<div class="form-group">
						<label>Batch</label>
						<select class="form-control" ng-model="trtansportidcarddata.Batch">
							<option>Select Batch</option>
							<option>Batch - I</option>
							<option>Batch - II</option>
							<option>Batch - II</option>
							<option>Batch - IV</option>
							<option>Batch - V</option>
							<option>Batch - VI</option>
							<option>Batch - VII</option>
							<option>Batch - VIII</option>
						</select>
					</div>

					<div class="form-group">
						<label>Semester</label>
						<select class="form-control" ng-model="trtansportidcarddata.semester">
							<option>Select Semester</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
						</select>
					</div>
					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="trtansportidcarddata.academicYear">
							<option>Select Academic Year</option>
							<option>2017-2018</option>
							<option>2016-2017</option>
							<option>2015-2016</option>
							<option>2014-2015</option>
							<option>2013-2014</option>
							<option>2012-2013</option>
							<option>2011-2012</option>
							<option>2010-2011</option>
						</select>
					</div>
					<div class="form-group">
						<label>Enter Issued Date</label>
						<input class="form-control" type="text" name="idissueddate" ng-model="trtansportidcarddata.idissueddate">
					</div>
					<div class="form-group">
						<label>Enter ID Card Number</label>
						<input class="form-control" type="text" name="idcardno" ng-model="trtansportidcarddata.idcardno">
					</div>


					<div class="form-group">
						<label>ID Type</label>
						<select class="form-control" ng-model="trtansportidcarddata.idtype">
							<option>Select ID Type</option>
							<option>Original ID Card</option>
							<option>Duplicate ID Card</option>
						</select>
					</div>

					<div class="form-group">
						<label>ID Card Status</label>
						<select class="form-control" ng-model="trtansportidcarddata.idstatus">
							<option>Select ID Card Status</option>
							<option>ID ISSUED</option>
							<option>ID NOT ISSUED</option>
						</select>
					</div>

                    <div class="form-group">
						<label>Route Name</label>
						<select class="form-control" ng-model="trtansportidcarddata.routename">
							<option>Select Route</option>
							<option>Avadi</option>
							<option>Redhills</option>
						</select>
					</div>
                    
                    <div class="form-group">
						<label>Route No</label>
						<select class="form-control" ng-model="trtansportidcarddata.routeno">
							<option>Select Route No</option>
							<option>12</option>
							<option>16</option>
						</select>
					</div>



                    <div class="form-group">
						<label>Stage</label>
						<select class="form-control" ng-model="trtansportidcarddata.stage">
							<option>Select Stage</option>
							<option>Stage- I</option>
							<option>Stage -II</option>
						</select>
					</div>

					<div class="form-group">
						<label>Enter Seat no</label>
						<input class="form-control" type="text" name="seatno" ng-model="trtansportidcarddata.seatno">
					</div>

 

					<div class="form-group">
						<label>Enter Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="trtansportidcarddata.loginuser">
					</div>
				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="SUBMIT">
			</div>
		</form>
	</div>
</div>