<h1>TRANSPORT INSURANCE</h1> 
<div class="row">
	<div class="col-md-12">
		<form name="transportinsuranceform" ng-submit="transportInsuranceSubmit()" novalidate>
			<div class="row">
				<div class="col-md-6">

				
					<div class="form-group">
						<label>Current Date</label>
						<input class="form-control" type="text" name="currentdate" ng-model="transportinsurancedata.currentdate">
					</div>

					<div class="form-group">
						<label>Vehicle ID</label>
						<input class="form-control" type="text" name="vehicleid" ng-model="transportinsurancedata.vehicleid">
					</div>
                    
                    <div class="form-group">
						<label>Vehicle Type</label>
						<input class="form-control" type="text" name="vehicletype" ng-model="transportinsurancedata.vehicletype">
					</div>
                    

                    <div class="form-group">
						<label>Insurance Company</label>
						<input class="form-control" type="text" name="insurancecompany" ng-model="transportinsurancedata.insurancecompany">
					</div>


                    <div class="form-group">
						<label>Mobile No</label>
						<input class="form-control" type="text" name="mobileno" ng-model="transportinsurancedata.mobileno">
					</div>


                    <div class="form-group">
						<label>Insurance Amount</label>
						<input class="form-control" type="text" name="insuramount" ng-model="transportinsurancedata.insuramount">
					</div>


                    <div class="form-group">
						<label>Date of Expiry</label>
						<input class="form-control" type="text" name="dateofexpiry" ng-model="transportinsurancedata.dateofexpiry">
					</div>



                    <div class="form-group">
						<label>Valuation of Vehicle</label>
						<input class="form-control" type="text" name="valofvehic" ng-model="transportinsurancedata.valofvehic">
					</div>

					<div class="form-group">
						<label>Login User</label>
						<input class="form-control" type="text" name="loginuser" ng-model="transportinsurancedata.loginuser">
					</div>
                              
					
                    

				</div>
			</div>
			<div class="text-right">
				<input type="button" class="btn btn-default" value="CLEAR">
				<input type="submit" class="btn btn-primary" value="CREATE USER">
			</div>
		</form>
	</div>
</div>