<h1>VIDEOS UPLOAD</h1>
<div class="row">
	<div class="col-md-12">
		<form name="videosuploadschoolform" ng-submit="getStudentListSubmit()" novalidate>
			<div class="row student-form">
				<div class="col-md-6">
					<!-- <div class="form-group">
						<label>Enter Date</label>
						<input class="form-control" type="text" name="entrydate" ng-model="photosuploadPlaySchoolData.entrydate" required>
					</div> -->

					<div class="form-group">
						<label>PROGRAM</label>
						<select class="form-control" ng-model="videosuploadSchoolData.program" required>
							<option>Select Program</option>
							<option>TODDLER PROGRAM</option>
							<option>PRE-KG</option>
							<option>KG1</option>
							<option>KG2</option>
							<option>I STD</option>
							<option>II STD</option>
							<option>III STD</option>
							<option>IV STD</option>
							<option>V STD</option>
						</select>
					</div>
					<div class="form-group">
						<label>SECTION</label>
						<select class="form-control" ng-model="videosuploadSchoolData.section" required>
							<option>Select Section</option>
							<option>SECTION - A</option>
							<option>SECTION - B</option>
							<option>SECTION - C</option>
						</select>
					</div>

					<div class="form-group">
						<label>Academic Year</label>
						<select class="form-control" ng-model="videosuploadSchoolData.academicyear" required>
							<option>Select Academic Year</option>
							<option>2018-2019</option>
							<option>2017-2018</option>
						</select>
					</div>

					<button ng-disabled="videosuploadschoolform.$invalid" class="btn btn-primary form-button">SELECT STUDENTS</button>
				</div>
			</div>
		</form>
	</div>
</div>
<br/>
<br/>
<br/>


<table ng-show="studentList.length">
	<tr>
		<th>S.No.</th>
		<th>Reg. No</th>
		<th>Name</th>
		<th>
		Select
		<p><a href="javascript:void(0)" ng-click="selectAllStudents()">Select All</a></p>
		</th>
	</tr>


	<tr ng-repeat= "student in studentList"  ng-class="{selectedrow : student.studentphotoaccess == 1}">
		<td>{{$index+1}}</td>
		<td>{{student.registernumber}}</td>
		<td>{{student.play_school_student_personal_regno.candidatename}}</td>
		<td><input type="checkbox" ng-model="student.studentphotoaccess" ng-true-value="1" ng-false-value="0" ng-init="student.studentphotoaccess=0"/></td>
	</tr>
</table>

<br/>
<br/>
<br/>

<form ng-show="studentList.length" enctype="multipart/form-data" method="post" id="fileUploadForm" ng-submit="uploadImageSubmit()">
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<input type="file" accept=".jpg,.jpeg,.png,.tif,.gif,.mkv,.mp4,.avi,.mpeg,.ogg,.wmv" multiple="multiple" name="fileupload" id="photoUploadFileId"/>
		</div>
		<div class="form-group">
			<label>Enter Video(s) Title</label>
			<input class="form-control" type="text" name="loginuser" ng-model="videosuploadSchoolData.imagetitle" required>
		</div>
		<table ng-show="selectedImages.length">
		    <tr><td>Name</td><td>Date</td><td>Size</td><td>Type</td> <td>Image Preview</td><tr>
		    <tr ng-repeat="selectedImage in selectedImages">
		      <td>{{selectedImage.name}}</td>
		      <td>{{selectedImage.lastModified | date  : 'MMMdd,yyyy'}}</td>
		      <td>{{selectedImage.size}}</td>
		      <td>{{selectedImage.type}}</td>
		      <td><img class="photothumb" ng-src="{{uploadimgurl[$index]}}" /></td>
		    </tr>
		    </table>
	</div>
</div>
</form>


<button ng-click="uploadImageSubmit()" class="btn btn-primary form-button">Upload Images</button>
